<div class="sc-product-variant-dialog">
  <div class="sc-product-variant-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-variant-dialog__title">
    Edit Shipping Method
  </div>
  <form [formGroup]="shippingForm" novalidate>
    <div class="md-margin-top-2" >
      <div class="sc-product__create-list" >
        <div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <mat-select name="country" placeholder="Shipping Country"
                            formControlName="countryId" (ngModelChange)="changeShippingMethod($event)">
                  <mat-option class="md-align-center" *ngFor="let item of countries" [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="shippingForm.get('countryId').invalid && (shippingForm.get('countryId').dirty ||
                    shippingForm.get('countryId').touched)" class="xb-input-error">
            <div *ngIf="shippingForm.get('countryId').hasError('required')">
              This field is required.
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center"
               *ngIf="shippingForm.value.countryId != ''">
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <mat-select name="method" placeholder="Shipping Method"
                            formControlName="type">
                  <mat-option class="md-align-center" *ngFor="let item of shippingTypeList" [value]="item.type">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="shippingForm.get('type').invalid && (shippingForm.get('type').dirty ||
                    shippingForm.get('type').touched)" class="xb-input-error">
            <div *ngIf="shippingForm.get('type').hasError('required')">
              This field is required.
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="shippingForm.value.type != ''">
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <mat-select name="carrier" placeholder="Shipping Carrier"
                            formControlName="shippingId" (ngModelChange)="changeShippingPrice($event)">
                  <mat-option class="md-align-center" *ngFor="let item of shippingMethodList" [value]="item.id">
                    {{ item.shippingProvider }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center"
                 *ngIf="shippingForm.value.shippingId != '' && shippingForm.value.type != 'Free'">
              <div class="md-margin-right-2 sc-product__create-title">$</div>
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Shipping Cost"
                       formControlName="price" >
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
              <div *ngIf="shippingForm.get('shippingId').invalid && (shippingForm.get('shippingId').dirty ||
                    shippingForm.get('shippingId').touched)" class="xb-input-error">
                <div *ngIf="shippingForm.get('shippingId').hasError('required')">
                  This field is required.
                </div>
              </div>
            </div>
            <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center" *ngIf="shippingForm.value.shippingId != ''">
              <div *ngIf="shippingForm.get('price').invalid && (shippingForm.get('price').dirty ||
                    shippingForm.get('price').touched)" class="xb-input-error">
                <div *ngIf="shippingForm.get('price').hasError('required')">
                  This field is required.
                </div>
              </div>
            </div>
          </div>
          <div class="sc-product__create-title-1 md-margin-top-2" *ngIf="shippingForm.value.shippingId != ''">
            Shipping Time
          </div>
          <mat-radio-group class="md-margin-top-2" *ngIf="shippingForm.value.shippingId != ''"
                           fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="shippingTime">
            <mat-radio-button fxFlex="25" class="sc-product__create-height" *ngFor="let value of shippingTimeList;let i = index;"
                              [value]="value.value" color="primary" (change)="showMinAndMaxTime($event, i)">
              <div fxLayout="row" fxLayoutAlign="start center">
                {{ value.text }}
                <div *ngIf="i == 5 && shippingForm.value.checked" class="md-margin-left-4" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field class="sc-product__create-width">
                    <input class="md-align-center" type="number" matInput placeholder="Min" formControlName="shippingTimeMin">
                  </mat-form-field>
                  <div class="md-margin-left-2 md-margin-right-2">-</div>
                  <mat-form-field class="sc-product__create-width">
                    <input class="md-align-center" type="number" matInput placeholder="Max" formControlName="shippingTimeMax">
                  </mat-form-field>
                </div>
              </div>
            </mat-radio-button>
          </mat-radio-group>
          <div *ngIf="shippingForm.value.id != ''">
            <div *ngIf="shippingForm.get('shippingTime').invalid && (shippingForm.get('shippingTime').dirty ||
                    shippingForm.get('shippingTime').touched)" class="xb-input-error">
              <div *ngIf="shippingForm.get('shippingTime').hasError('required')">
                This field is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-product-variant-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="button" (click)="add()">SAVE</button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" (click)="close()">NO</button>
      </div>
    </div>
  </form>
</div>
