@import "utils/index";
@import "variables";

html {
  position: relative;
  min-height: 100%;

  ::-webkit-scrollbar {
    width: 2px;

  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color: rgba(0,0,0,.38);
    &:hover{
      background-color: rgba(0,0,0,.54);
    }
  }
}

body {
  /* padding bottom by footer height */

  /* overwrite material.css */
  max-width: 100%;
  overflow-x: hidden;
  background-color: $lightGrayBackground;
  font-family: Helvetica;
  font-size: $defaultFontSize;
  line-height: (20px / $defaultFontSize);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


}

* {
  outline: none;
  @include box-sizing(border-box);
}
*:before,
*:after {
  outline: none;
  @include box-sizing(border-box);
}

ul.xb-list-pros-cons{
  //padding-left: 10px;
  margin-bottom: 20px;
  -webkit-padding-start:15px
}

a{
  color: $primaryColor;
  text-decoration: none;
}

a.a-gray {
  color: $lightGrayColor;
  &:hover {
    color: $grayColor;
    cursor: pointer;
  }
}

a.default {
  &:hover {
    cursor: pointer;
  }
}

a.a-gray-primary {
  color: $grayColor;
  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}

a.block-link {
  display: block;
  &:hover, &:active {
    text-decoration: none;
  }
}

p, li{
  color: rgba(0,0,0,.87);
}

// fixed older popup form field name position problem
.form-group{
  position: relative;
  margin-top: 25px;
  overflow: visible;
}

iframe{
  max-width: 100%;
}

img{
  max-width: 100%;
}

button{
  border: none;
}
