<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    You have unsaved changes on this page.
  </div>
  <div class="sc-product-dialog__content">
    If you leave this page, all unsaved changes will be lost.<br>
    Do you want to save this changes?
  </div>
  <div class="sc-product-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="save()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">No</button>
    </div>
  </div>
</div>
