<div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start center" *ngIf="!isEdit">
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-product__product-title" >
      {{product.name}}
    </div>
  </div>
  <div class=" md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="status == 2">
    <div class="sc-promote__promote-image">
      <img [src]="product.image"/>
    </div>
  </div>
  <div class=" md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="status == 0 || status == 1">

  </div>
  <div class="md-margin-right-2" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product__product-title" >
      {{product.index}}
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product__product-title" >
      {{product.created | amDateFormat:'MMM Do, YYYY'}}
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product__product-title" >
      {{product.show? 'Yes': 'No'}}
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
    <i class="material-icons md-dark-secondary xb-pointer" (click)="edit()">edit</i>
    <div class="md-margin-left-1"></div>
    <i class="material-icons md-dark-secondary xb-pointer" (click)="delete()">delete</i>
    <div class="md-margin-left-1" *ngIf="status == 1"></div>
    <i class="material-icons md-dark-secondary xb-pointer" *ngIf="status == 1" routerLink="edit/{{product.id}}">visibility</i>
  </div>
</div>
<form class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start center" [formGroup]="categoryForm" novalidate
  *ngIf="isEdit">
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field class="sc-promote__promote-width-1">
      <input type="text" matInput placeholder="Category Name" formControlName="name">
    </mat-form-field>
  </div>
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="status == 2">
    <app-category-image-upload-category [(previewImgFile)]="product.image"
                                        [(previewImgSrcs)]="product.image"></app-category-image-upload-category>
  </div>
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center" *ngIf="status == 0 || status == 1"></div>
  <div class="md-margin-right-2" fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field class="sc-promote__promote-width-1">
      <input type="text" matInput placeholder="Category Index" formControlName="index">
    </mat-form-field>
  </div>
  <div class="md-margin-right-2" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product__product-title" >
      {{product.created | amDateFormat:'MMM Do, YYYY'}}
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox type="text" formControlName="show"></mat-checkbox>
  </div>
  <div class="sc-product__product-action-buttons sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center center" fxFlex="20">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>
