<div class="sc-product__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-width sc-product__product-title-1" fxFlex="none">
    Product
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="40">&nbsp;</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Time Limit</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Price</div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
