<div class="container">
  <div class="md-padding-left-2 md-padding-right-2 md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-account-balance__title">Supplier Settings</div>
  </div>
  <form class="xb-account__create-bg md-margin-top-3" [formGroup]="accountSettingForm" novalidate>
    <div>
      <div class="sc-promote__promote-text xb-bold">Name</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Seller Name" formControlName="name">
        </mat-form-field>
      </div>
      <div *ngIf="accountSettingForm.get('name').invalid && (accountSettingForm.get('name').dirty ||
            accountSettingForm.get('name').touched)" class="xb-input-error">
        <div *ngIf="accountSettingForm.get('name').hasError('required')">
          This field is required.
        </div>
      </div>
      <div class="sc-promote__promote-text xb-bold">Company</div>
      <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Company Name" formControlName="company">
        </mat-form-field>
      </div>
      <div *ngIf="accountSettingForm.get('company').invalid && (accountSettingForm.get('company').dirty ||
            accountSettingForm.get('company').touched)" class="xb-input-error">
        <div *ngIf="accountSettingForm.get('company').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>

    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
      <button mat-raised-button color="primary" type="button" (click)="edit()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" (click)="reset()">
          CANCEL
        </button>
      </div>
    </div>
  </form>
</div>
