<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    修改快递单号
  </div>
  <form class="md-margin-top-2" [formGroup]="purchaseForm" novalidate>
    <div formArrayName="tracking">
      <div *ngFor="let p of tracking.controls; let i = index;" fxLayout="row" fxLayoutAlign="start center">
        <div class="md-margin-bottom-2" fxLayout="row" fxLayoutAlign="start center" [formGroupName]="i" *ngIf="i == 0" fxFlex="80">
          {{p.value.tracking}}
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" [formGroupName]="i" *ngIf="i > 0" fxFlex="80">
          <mat-form-field fxFlex>
            <input type="text" matInput  placeholder="快递单号" formControlName="tracking" />
          </mat-form-field>
        </div>
        <div fxFlex="20" class="md-margin-left-2" fxLayout="row" fxLayoutAlign="center center" *ngIf="i > 0">
          <div>
            <i class="material-icons md-dark-secondary xb-pointer" (click)="deleteTracking(i)">delete</i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" mat-raised-button color="primary">
        <div fxLayout="row" fxLayoutAlign="start center" (click)="addTracking()">
          <i class="material-icons">add</i>
          <span class="md-margin-left-1">添加快递单号</span>
        </div>
      </button>
    </div>
  </form>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="save()">保存</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">取消</button>
    </div>
  </div>
</div>
