//.overflow-popup{
//  background-color: rgba(0,0,0,.288);
//  overflow: hidden;
//  height: 100%;
//  width: 100%;
//  position: fixed;
//  bottom: 0;
//  left: 0;
//}
.mg-b-72{
  margin-bottom: 68px;
}
.overflow-body{
  height: calc(100vh - 112px);
  overflow-y: scroll;
}
.overflow-body-height{
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

.faq{
  //padding: 0 16px;
}
.faq-item{
  padding: 12px  16px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.qa-item{
  margin-bottom: 24px;
}
.question{
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 16px;
}
.faq-qa{
  padding:16px;
}

.about{
  background-color: black;
}
.bg-f4{
  background-color: #f4f4f4;
}
