<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    添加拣货信息
  </div>
  <form class="md-margin-top-3" [formGroup]="purchaseForm" novalidate>
    <div class="xb-bold">
      拣货单号
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="拣货单号" formControlName="pickNumber">
      </mat-form-field>
    </div>
    <div class="xb-bold">
      运单号
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="运单号" formControlName="internationalTrackingNumber">
      </mat-form-field>
    </div>
    <div class="xb-bold md-margin-top-2">
      仓库
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="warehouse" placeholder="选择仓库" formControlName="warehouseId">
          <mat-option class="md-align-center" *ngFor="let item of warehouseList" [value]="item.id">
            {{ item.warehouseName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="xb-bold md-margin-top-2">
      拣货商品
    </div>
    <div class="md-margin-top-2" formArrayName="pickInfo">
      <div fxLayout="column" *ngFor="let p of pickInfo.controls; let i = index">
        <div [formGroupName]="i">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="md-margin-right-2" fxFlex="30" >
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input type="text" matInput placeholder="订单号" formControlName="orderNumber">
                </mat-form-field>
              </div>

            </div>
            <div class="md-margin-right-2" fxFlex="30" >
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input type="text" matInput placeholder="SKU" formControlName="sku">
                </mat-form-field>
              </div>

            </div>
            <div class="md-margin-right-2" fxFlex="25">
              <div class="md-margin-right-2" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input type="number" matInput placeholder="数量" formControlName="pickQuantity">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxFlex="5">
              <i class="material-icons md-dark-secondary xb-pointer" (click)="delete(i)">delete</i>
            </div>
          </div>

          <div *ngIf="p.get('sku').invalid && (p.get('sku').dirty ||
                      p.get('sku').touched)" class="xb-input-error">
            <div *ngIf="p.get('sku').hasError('required')">
              This field is required.
            </div>
          </div>
          <div *ngIf="p.get('pickQuantity').invalid && (p.get('pickQuantity').dirty ||
                    p.get('pickQuantity').touched)" class="xb-input-error">
            <div *ngIf="p.get('pickQuantity').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-margin-top-2">
      <button type="button" mat-raised-button color="primary" (click)="addPurchaseItem()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">add</i>
          <span class="md-margin-left-1">添加拣货商品SKU</span>
        </div>
      </button>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="publish()">保存</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">取消</button>
    </div>
  </div>
</div>
