*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.overflow-body1{
  background-color: #D1C8E8;
  height: 100vh;
  overflow-y: scroll;
}
.header {
  width: 100%;
  //background-color: #ef8a31;
  height: 140px;
  overflow: hidden;
}
.headertop {
  overflow: hidden;
}
.righticon {
  position: absolute;
  top: 28px;
  left: 15px;
}
.lefticon {
  //position: absolute;
  margin-top: 28px;
  margin-right: 15px;
  padding: 2px 8px;
  font-size: 5px;
  font-weight: 300;
  //height: 22px;
  color: white;
  background-color: rgba(0,0,0,0.34);
  border-radius: 20px;
}
.overflow-user{
  border-bottom: 1px dashed rgba(0,0,0,0.08);
}
.user {
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
  margin: -28px auto 0 auto;
  width: 54px;
  height: 54px;
}
.user-img{
  width: 48px !important;
  height: 48px !important;
  margin: 0 !important;
}
.header-p{
  margin: 8px auto 8px auto;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  color: black
}
.midcard {
  background-color: white;
  margin: -43px 16px 0 16px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  border-radius: 8px;
  padding: 8px 0 ;
}
.midcard-img{
  width: 80px;
  height: 80px;
  margin: 0  8px 0  16px;
  border-radius:4px;
}
.overflow-word{
  margin-top: 8px;
  margin-bottom: 16px;
}
.midcardword{
  margin-right: 16px;
}

.midcardtop {
  text-align: left;
  overflow:hidden;
  text-overflow:ellipsis;
  margin:4px 0 0 4px;
  max-height: 39px;
  line-height: 18px;
  color: rgba(0,0,0,0.87);
  font-size: 12px;
  //line-height: 18px;
}
.midcardbottom {
  text-align: left;
  color: #492799;
  margin:4px 0 0 4px;
  font-size: 10px;
  line-height: 14px;
  font-family: ProximaNova-Bold;
  font-weight: 600;
}
.bottom-line{

}
.line-img{
  height: 49px;
  width: 9px;
  margin:-13px 8px -50px 8px;
}
.wrapper-progress {
  background-color: white;
  margin:  16px;
  padding:  8px;
  border-radius: 8px;
}
.wrapper-word{
  margin-top: 24px;
  font-size: 12px ;
}
.wrapper-word-price{
  color: #492799;
  font-size: 14px;
  font-weight: 700;
}
.wrapper-word-black{
  margin: 12px 0;
  font-size: 12px ;
}
.wrapper-word-drop{
  color: #000;
  font-size: 16px ;
  font-weight: 700;
}
.wrapper-progress-line {
  border-radius: 4px;
  //width: 88%;
  position: relative;
  height: 30px;
  margin: -15px 20px 0 20px;
}
.progress-line-top {
  border-radius: 4px;
  top: 15px;
  position: absolute;
  background: linear-gradient(to right, #5B37AE, #C1B1E8);
  height: 10px;
}
.progress-line-icon {
  position: absolute;
  font-size: 20px;
  top:3px;
  color: black;
  font-family: 'iconfont-socialcommer'
}
.progress-line-bottom {
  border-radius: 8px;
  width: 100%;
  position: absolute;
  top: 15px;
  background-color: rgba(0, 0, 0, 0.12);
  height: 10px;
}
.wrapper-price-2 {
  //font-weight: bold;
  text-align: left;
  text-decoration: line-through;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.87);
}
.wrapper-lowest-price{
  font-weight: bold;
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
}
.current-price-2 {
  font-size: 12px;
  background-color: #D0C7E4;
  border-radius: 8px;
  font-weight: bold;
  padding: 0 4px;
  color: black;
}
.current-price-1 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
.sm-font{
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.90);
  margin-bottom: -5px;
  margin-left: 2px;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #D0C7E4;
  margin-top: -2.8px;
  margin-left: 31px;
}
.current-price {
  text-align: left;
  margin-top: 12px;
}
.wrapper-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  margin: 0 auto;
}
.sharebtn {
  font-size: 12px;
  padding: 13px 15px;
  width: 85%;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 1px  3px rgba(0, 0, 0, 0.19) ;
  background-color: #492799;
  color: white;
  margin: 10px auto 0 auto;
  text-align: center;
  display: block;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 12px;
}
.timehh {
  background-color: white;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  margin: 8px;
  font-size: 14px;
  box-shadow: 0 1px  3px rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  font-weight: 700;
}
.timespan {
  line-height: 31px;
  margin: 8px;
  font-size: 14px;
  font-weight: 700;
}
.scroll {
  background-color: white;
  //width: 97%;
  margin: 0 16px 20px 16px;
  border-radius: 8px;
}
.scrollhead {
  font-size: 14px;
  font-weight: 900;
  margin: 16px auto 16px auto;
  padding-top: 16px;
  text-align: center;
}
.scrollbottom{
  //height: 200px;
  //overflow-y: scroll;
}
.bottom-card {
  padding: 8px 16px;
}
.bottom-card-name {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  max-height: 28px;
}
.bottom-card-img {
  border-radius: 50%;
  margin: 0  5px 0 0;
  width: 40px;
  height: 40px;
}
.bottom-card-price {
  font-size: 14px;
}
.friend-cut-div{
  background-color: white;
  height: 56px;
  margin:  16px;
  padding:  8px;
  border-radius: 4px;
}
.friend-cut{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px white solid;
  margin-left: -5px;

}
.friend-cut-word{
  opacity: 0.87;
  font-size: 10px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
}
.bottom-goods{
  //margin: 4px 16px;
}
.bottom-goods-head{
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 16px;
}
.overflow-bottom-goods-img{
  width: 164px;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
}
.bottom-goods-img-div{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bottom-goods-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-goods-price{
  height: 46px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.overflow-popup{
  background-color: rgba(0,0,0,.288);
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.popup{
  position: absolute;
}




.lefticon-1{
  font-size: 8px;
  margin-right: 4px;
}
.price-title{
  margin-top: 16px;
}
.pt-2{
  font-size: 16px;
  font-weight: 700;
  margin: 0 6px;
}
.pt-3{
  font-size: 18px;
  color: red;
  font-weight: 700;
}
.all-price{
  margin-top: 16px;
  margin-bottom: 16px;
}
.price-1{
  margin-right: 6px;
  font-size:16px ;
}
.price-2{
  font-size:16px ;
}
.empty-div{
  margin: 0  12px;
}
.empty-img{
  width: 23px;
  height: 26px;
  margin-left: 45px;
}
.a-img{
  width: 19px;
  height: 19px;
  margin-left: 47px;
  border-radius: 50%;
  margin-top: -25px;
}
.m-progress{
  height: 16px;
  margin: 0 12px 12px 12px;
  //margin-top: 6px;
}
.m-line1{
  background-image: linear-gradient(to right, #5B37AE, #C1B1E8);
  height: 10px;
  margin-top: -10px;
  border-radius: 32px;
}
.m-line2{
  height: 10px;
  background-color: rgba(0,0,0,.12);
  border-radius: 32px;
}
.bottom-goods-1{
  margin: 16px;
  background-color: white;
  border-radius: 8px;
}
.bg-img{
  width: 81px;
  height: 81px;
  margin: 12px;
  border-radius: 4px;
}
.bg-right{
  margin: 12px 0 ;
}
.bgg-title{
  font-size: 12px;
  color: rgba(0,0,0,0.87);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}
.bgg{
  margin-top: 4px;
}
.bgg-sd{
  font-size: 12px;
  color: #492799;
}
.bgg-price{
  font-size: 18px;
  text-decoration: line-through;
  color: #000000;
}
.bg-btn{
  color: white;
  font-size: 10px;
  padding: 0 10px;
  background-color: #492799;
  line-height: 24px;
  margin-left: 16px;

  border-radius: 20px;
}
