<div class="xb-loading" *ngIf="showLoading">
  <mat-progress-bar [mode]="determinate" [value]="loadingValue" color="accent"></mat-progress-bar>
</div>
<faq-dialog *ngIf="faqStauts" (valueChange)="openFaq($event)"></faq-dialog>
<div  class="overflow-body1" style="" >
  <div class="header">
    <div class="headertop" fxLayout="column" fxLayoutAlign="center end" >
      <!--<div class="righticon"> ➡ </div>-->
      <div class="lefticon" (click)="openFaq($event)"  >
        <span style="font-family: 'iconfont-socialcommer'">&#xe709; </span>Price Drop FAQ
      </div>
    </div>
  </div>




  <div class="midcard" >
    <div class="overflow-user"  fxLayout="column" fxLayoutAlign="center center"  >
      <div class="user">
        <!--<img src="{{imgsrc}}" alt="">-->
        <img class="user-img" src="{{ownerimg}}" alt="">
      </div>

      <p class="header-p" *ngIf="cutStatus=='progressing'" >Hey! Please help me drop the <br> price of this item before it sells out!</p>
      <p class="header-p" *ngIf="cutStatus=='end'" >The DROP has ended. <br> Thank you for your support!</p>
      <!--<p class="header-p" *ngIf="cutamount">Thank you! You have helped me drop Rs.{{cutamount}} off the price!</p>-->
    </div>
    <div class="overflow-word" fxLayout="row" fxLayoutAlign="start" >
      <img class="midcard-img" src="{{imgsrc}}" alt="">
      <div class="midcardword"  fxLayout="column" fxLayoutAlign="space-between start">

        <div class="midcardtop">{{title}}</div>
        <div class="midcardbottom">3500+ people joined and reached the lowest price!</div>
      </div>
    </div>
    <div class="bottom-line" fxLayout="row" fxLayoutAlign="space-between center">
      <img class="line-img" src="http://image.getpricedrop.com/appweb/line.png" alt="">
      <img  class="line-img" src="http://image.getpricedrop.com/appweb/line.png" alt="">
    </div>
  </div>


  <div class="wrapper-progress" *ngIf="cutStatus=='progressing'"  >
    <div class="current-price" *ngIf="wordPercentageNum>=40" [ngStyle]="{'padding-left': 'calc( ' + wordPercentage + ' - 45px)' }" >
    <!--<div class="current-price" fxLayout="column" fxLayoutAlign="center center" >-->
      <div style="width: 80px">
        <div class="current-price-1 sm-font">Current Price</div>
        <span class="current-price-2">Rs.{{currentPrice}}</span>
      </div>
      <div class="triangle-down"  ></div>
    </div>
    <div class="current-price" *ngIf="wordPercentageNum>35&& wordPercentageNum<40" [ngStyle]="{'padding-left': 'calc( ' + wordPercentage + ' - 32px)' }" >
    <!--<div class="current-price" fxLayout="column" fxLayoutAlign="center center" >-->
      <div style="width: 80px">
        <div class="current-price-1 sm-font">Current Price</div>
        <span class="current-price-2">Rs.{{currentPrice}}</span>
      </div>
      <div class="triangle-down"  ></div>
    </div>

    <div class="current-price" *ngIf="wordPercentageNum<=35" [ngStyle]="{'padding-left': 'calc( ' + wordPercentage + ' - 25px)' }" >
    <!--<div class="current-price" fxLayout="column" fxLayoutAlign="center center" >-->
      <div style="width: 80px">
        <div class="current-price-1 sm-font">Current Price</div>
        <span class="current-price-2">Rs.{{currentPrice}}</span>
      </div>
      <div class="triangle-down"  ></div>
    </div>
    <div class="wrapper-progress-line">
      <div class="progress-line-bottom"></div>
      <div class="progress-line-top" [ngStyle]="{'width': percentage }"></div>
      <div class="progress-line-icon   "  [ngStyle]="{left:iconpercentage }"></div>
    </div>
    <div class="wrapper-price">
      <div class="wrapper-price-regular">
        <div class="wrapper-price-2">Rs.{{salePrice}}</div>
        <div class="current-price-1">Regular Price</div>
      </div>
      <div class="wrapper-price-lowest">
        <div class="wrapper-lowest-price" style="text-align: right;">Rs.{{lowestPrice}}</div>
        <div class="current-price-1">Lowest Price</div>
      </div>
    </div>



    <div class="overflow-btn-time">

      <button class="sharebtn" (click)="cutPrice()" *ngIf="cutStatus=='progressing'&&cancut==true"   >Help Me Drop the Price in One Click</button>
      <button class="sharebtn" (click)="cutPrice()" *ngIf="cutStatus=='progressing'&&user=='owner'"   >Help Me Drop the Price in One Click</button>
      <button class="sharebtn"   (click)="downApp()"  *ngIf="cutStatus=='end'||cancut==false">Get Free Products & Gifts On Our App</button>
      <!--<button class="sharebtn"   (click)="openCutPrice(11)"    > TestBtn</button>-->
      <!--<a [ngClass]="{'xb-navigation-header__login-active': status}"-->
      <!--fxShow.xs="false">LOG IN</a>-->
      <div class="time">
        <div class="timehh">{{ahour}}</div>
        <span class="timespan">:</span>
        <div class="timehh">{{amin}}</div>
        <span class="timespan">:</span>
        <div class="timehh">{{asecond}}</div>
      </div>

    </div>
  </div>



  <div class="overflow-popup" *ngIf="cutPriceStauts" fxLayout="column" fxLayoutAlign="center center">
    <cut-price-dialog fxFlex="none" class="popup" (statusChange)="openCutPrice($event)" [data]="cutamount" [isMe]="isMe" ></cut-price-dialog>

  </div>

  <div class="wrapper-progress" style="text-align: center"  *ngIf="cutStatus=='end'">
      <div class="wrapper-word" *ngIf="priceOff>=50&&priceOff<70">Final Price Unlocked:&nbsp;<span class="wrapper-word-price">50%OFF </span></div>

      <div class="wrapper-word" *ngIf="priceOff>=70&&priceOff<100">Final Price Unlocked:&nbsp;<span class="wrapper-word-price">70%OFF </span></div>

      <div class="wrapper-word" *ngIf="priceOff==100">Final Price Unlocked:&nbsp;<span class="wrapper-word-price">Rs.0 </span></div>

      <div class="wrapper-word" *ngIf="priceOff<50">You didn't unlock any discount.</div>

    <button class="sharebtn"   (click)="downApp()"  *ngIf="(cutStatus=='end'||cancut==false)&&user=='friend'" style=""  >Get Free Products & Gifts On Our App</button>
    <!--<button class="sharebtn"      style=""  ><a href="pricedrop://pricedropapp">Check Your Final Price On PriceDrop App</a></button>-->

    <div class="time">
      <div class="timehh">{{ahour}}</div>
      <span class="timespan">:</span>
      <div class="timehh">{{amin}}</div>
      <span class="timespan">:</span>
      <div class="timehh">{{asecond}}</div>
    </div>
  </div>




  <div class="friend-cut-div" *ngIf="hasfriends>=4" fxLayout="row" fxLayoutAlign="start center " >
    <div style="width: 140px;margin-left: 10px">
      <img class="friend-cut" *ngFor="let i of userArr" [src]="i.avatar" alt="user">
    </div>
    <div class="friend-cut-word">{{hasfriends}} people dropped price</div>
  </div>

  <div class="scroll" >
    <div class="scrollhead">
      Top Price Drop Contributors
    </div>
    <div class="scrollbottom">
        <div class="bottom-card" *ngFor="let i of friendCuts" fxLayout="row" fxLayoutAlign="start center">
          <img class="bottom-card-img" src="{{i.avatar}}" alt="">
          <div class="bottom-card-name" fxFlex>{{i.lastName}}{{i.firstName}}</div>
          <div class="bottom-card-price">Dropped <span style="font-weight: 900">Rs.{{i.cutAmount}}</span></div>
        </div>
    </div>
  </div>

  <div class="bottom-goods">
    <div class="bottom-goods-head" id="bottom-goods-head">
      You Might Also Like
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="margin: 0 14px" >
      <!--<img *ngFor="let i of friendCuts" src="" alt="">-->
      <div fxFlex="48"  *ngFor="let i of aboutProduct" class="overflow-bottom-goods-img" (click)="downApp()">
        <div class="bottom-goods-img-div" >
          <img   class="bottom-goods-img" [src]="i.image" alt="about product" >

        </div>
        <div class="bottom-goods-price" fxLayout="column" fxLayoutAlign="center center" >
          <div >
            <span style="font-weight: 700;font-size: 14px;">Rs.{{i.lowestPrice}}</span>
            <!--<span style="font-size: 10px;color: #EF8A31;" *ngIf="i.rate==0">100%OFF</span>-->
            <!--<span style="font-size: 10px;color: #EF8A31;" *ngIf="i.rate!=0">{{i.rate}}%OFF</span>-->
          </div>
          <div style="font-size: 10px;color: #000000; text-decoration: line-through;">Rs.{{i.saleUnitPrice}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
