<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    添加GATI拣货单信息
  </div>
  <form class="md-margin-top-3" [formGroup]="trackingForm" novalidate>
    <div class="xb-bold">
      GATI 仓库
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="shippingProvider" placeholder="物流GATI的收货仓库" formControlName="depotCode">
          <mat-option class="md-align-center" *ngFor="let item of depotCode" [value]="item.code">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="md-margin-top-2" formArrayName="goods">
      <div class="sc-product__create-list" fxLayout="column" *ngFor="let p of goods.controls; let i = index">
        <div [formGroupName]="i">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="md-margin-right-2" fxFlex="45" >
              <div class="xb-bold">
                包裹内产品的关联订单号
              </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input type="text" matInput placeholder="包裹内产品的关联订单号" formControlName="orderNumber"
                         (ngModelChange)="changeOrder($event, p)">
                </mat-form-field>
              </div>

            </div>
            <div fxFlex="50">
              <div class="xb-bold">
                申报货值 (USD)
              </div>
              <div class="md-margin-right-2" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <input type="text" matInput placeholder="申报货值 (美元)" formControlName="declaredValue">
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxFlex="5">
              <i class="material-icons md-dark-secondary xb-pointer" (click)="deleteOrderTrackingObject(i)">delete</i>
            </div>
          </div>

          <div *ngIf="p.get('orderNumber').invalid && (p.get('orderNumber').dirty ||
                      p.get('orderNumber').touched)" class="xb-input-error">
            <div *ngIf="p.get('orderNumber').hasError('required')">
              This field is required.
            </div>
          </div>
          <div *ngIf="p.get('declaredValue').invalid && (p.get('declaredValue').dirty ||
                    p.get('declaredValue').touched)" class="xb-input-error">
            <div *ngIf="p.get('declaredValue').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-margin-top-2">
      <button type="button" mat-raised-button color="primary" (click)="addOrderList()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">add</i>
          <span class="md-margin-left-1">添加产品订单号</span>
        </div>
      </button>
    </div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">包裹内是否有带电产品</div>
      <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
        <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="serviceCode">
          <mat-radio-button class="md-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                            [value]="value.value" color="primary">
            {{ value.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
      <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
        <div *ngIf="trackingForm.get('serviceCode').invalid && (trackingForm.get('serviceCode').dirty ||
              trackingForm.get('serviceCode').touched)" class="xb-input-error">
          <div *ngIf="trackingForm.get('serviceCode').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="xb-bold">
      仓库
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="warehouse" placeholder="选择仓库" formControlName="warehouseId">
          <mat-option class="md-align-center" *ngFor="let item of warehouseList" [value]="item.id">
            {{ item.warehouseName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="xb-bold">
      国内快递单号
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="国内物流单号" formControlName="domesticExp">
      </mat-form-field>
    </div>
    <div class="xb-bold">
      备注
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput placeholder="备注" formControlName="notes">
      </mat-form-field>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="changeTracking()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
