<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../../../">Lottery</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Edit Campaign</span>
  </div>
  <div>
    <div class="md-margin-top-3 sc-promote__create-bg">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Start Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.startTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">End Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.endTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Status</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.drawStatus}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48" *ngIf="campaign.drawStatus == 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">First Prize Quantity</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-form-field>
              <input matInput type="number" placeholder="" [(ngModel)]="campaign.quantity">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48"  *ngIf="campaign.drawStatus != 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">First Prize Quantity</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.quantity}}
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48" *ngIf="campaign.drawStatus == 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">Second Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-form-field>
              <input matInput type="number" placeholder="" [(ngModel)]="campaign.discountSecond">
            </mat-form-field>
            <div class="md-margin-left-3">%</div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48"  *ngIf="campaign.drawStatus != 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">Second Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.discountSecond}} %
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48" *ngIf="campaign.drawStatus == 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">Third Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-form-field>
              <input matInput type="number" placeholder="" [(ngModel)]="campaign.discountThird">
            </mat-form-field>
            <div class="md-margin-left-3">%</div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48"  *ngIf="campaign.drawStatus != 'Scheduled'">
          <div class="sc-promote__promote-text xb-bold">Third Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.discountThird}} %
          </div>
        </div>
      </div>
    </div>

    <div class="sc-promote__create-bg-1" fxLayout="row" fxLayoutAlign="center center" *ngIf="campaign.drawStatus == 'Scheduled'">
      <button mat-raised-button color="primary" type="button" (click)="saveBasic()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../../">
          CANCEL
        </button>
      </div>
    </div>

    <div class="md-margin-top-2 sc-promote__create-bg">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add First Prize for This Campaign:</div>
        <div class="md-margin-left-3 sc__accent-dark" *ngIf="campaign.drawStatus == 'Scheduled'">
          <button mat-raised-button color="primary" type="button" (click)="selectProduct()">
            Select
          </button>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" *ngIf="campaign.product">
        <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
          <img [src]="campaign.image">
        </div>
        <div class="md-margin-right-2" fxLayout="column" fxLayoutAlign="center stretch">
          <div class="sc-promote__promote-text">
            {{campaign.product}}
          </div>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Second Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3" *ngIf="campaign.drawStatus == 'Scheduled'">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [(ngModel)]="secondPrize" placeholder="Choose Gift Card" name="Second Prize">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="unicorn-dark-theme md-margin-left-3" *ngIf="campaign.drawStatus != 'Scheduled'">
          {{secondPrize}} Gift Voucher
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Third Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3" *ngIf="campaign.drawStatus == 'Scheduled'">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [(ngModel)]="thirdPrize" placeholder="Choose Gift Card" name="Third Prize">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="unicorn-dark-theme md-margin-left-3" *ngIf="campaign.drawStatus != 'Scheduled'">
          {{thirdPrize}} Gift Voucher
        </div>
      </div>
    </div>

    <div class="sc-promote__create-bg-1" fxLayout="row" fxLayoutAlign="center center" *ngIf="campaign.drawStatus == 'Scheduled'">
      <button mat-raised-button color="primary" type="button" (click)="save()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../../">
          CANCEL
        </button>
      </div>
    </div>

    <div class="container" *ngIf="campaign.drawStatus == 'Ended' || campaign.drawStatus == 'Ongoing'">
      <div class="sc-product__product md-padding-top-2 md-padding-bottom-2 unicorn-dark-theme">
        <div class="sc-product__header"></div>

        <mat-tab-group color="primary" (selectedTabChange)="changeProducts($event)"  [(selectedIndex)]="selectedIndex">
          <mat-tab label="Participants" >
            <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
              <form class="sc-product__search" [formGroup]="searchForm"
                    fxLayout="row" fxLayoutAlign="start center" >
                <i class="material-icons">search</i>
                <input type="text" formControlName="searchKey" [(ngModel)]="searchKey"
                       placeholder="Search"
                       (keyup.enter)="searchResult()"/>
                <div class="sc-product__search-close" fxLayout="row" fxLayoutAlign="center center"
                     *ngIf="searchKey != ''" (click)="clearSearchKey()">
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
            <div class="md-margin-top-2" >
              <app-lottery-draw-participant-title [status]="0" *ngIf="!campaign.namesList"></app-lottery-draw-participant-title>
              <app-lottery-draw-participant-title [status]="1"  *ngIf="campaign.namesList"></app-lottery-draw-participant-title>
            <ng-container *ngIf="!campaign.namesList">
              <div  class="sc-product__product-list" *ngFor="let item of participants;let i = index;" >
                <app-lottery-draw-participant-item [status]="0" [index]="i" [promoteId]="promotionId"
                                                   (productChange)="productChange($event)" [promote]="item"></app-lottery-draw-participant-item>
              </div>
            </ng-container>
            <ng-container *ngIf="campaign.namesList">
              <div class="sc-product__product-list" *ngFor="let item of participants;let i = index;" >
                <app-lottery-draw-participant-item [status]="1" [index]="i" [promoteId]="promotionId"
                                                   (productChange)="productChange($event)" [promote]="item"></app-lottery-draw-participant-item>
              </div>
            </ng-container>
              <mat-paginator [length]="length"
                             [pageSize]="pageSize"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="changePage($event, 0)"
                             *ngIf="participants && participants.length > 0">
              </mat-paginator>
              <div class="sc-product__product-none" fxLayout="row" fxLayoutAlign="center center"
                   *ngIf="participants && participants.length <= 0">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <i class="iconfontXberts icon-ic-empty"></i>
                  <div class="sc-product__product-title-1 md-margin-top-4">You haven't published any participants yet. </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Candidates">
            <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
              <form class="sc-product__search" [formGroup]="searchForm"
                    fxLayout="row" fxLayoutAlign="start center" >
                <i class="material-icons">search</i>
                <input type="text" formControlName="searchKey" [(ngModel)]="searchKey"
                       placeholder="Search"
                       (keyup.enter)="searchResult()"/>
                <div class="sc-product__search-close" fxLayout="row" fxLayoutAlign="center center"
                     *ngIf="searchKey != ''" (click)="clearSearchKey()">
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
            <div class="md-margin-top-2">
              <div class="sc-promote__promote-bg">
                <div class="md-margin-bottom-2" fxLayout="row" fxLayoutAlign="end center" *ngIf="campaign.drawStatus == 'Ended'">
                  <button mat-raised-button color="primary" (click)="confirmWinnerList()" *ngIf="!campaign.namesList">
                    Confirm Campaign Winner
                  </button>
                  <div *ngIf="campaign.namesList">Winner Aready Selected</div>
                </div>
                <app-lottery-draw-participant-title [status]="0" *ngIf="!campaign.namesList"></app-lottery-draw-participant-title>
                <app-lottery-draw-participant-title [status]="1" *ngIf="campaign.namesList"></app-lottery-draw-participant-title>
                <div class="md-margin-top-2"></div>
                <ng-container *ngIf="!campaign.namesList">
                  <div class="sc-promote__promote-list" *ngFor="let item of candidates;let i = index;">
                    <app-lottery-draw-participant-item [status]="0" [index]="i" [promoteId]="promotionId"
                                                       (promotionChange)="promotionChange($event)" [promote]="item"></app-lottery-draw-participant-item>
                  </div>
                </ng-container>
                <ng-container *ngIf="campaign.namesList">
                  <div class="sc-promote__promote-list" *ngFor="let item of candidates;let i = index;">
                    <app-lottery-draw-participant-item [status]="1" [index]="i" [promoteId]="promotionId"
                                                       (promotionChange)="promotionChange($event)" [promote]="item"></app-lottery-draw-participant-item>
                  </div>
                </ng-container>
                <mat-paginator [length]="length"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="changePage($event, 1)"
                               *ngIf="candidates && candidates.length > 0">
                </mat-paginator>
                <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
                     *ngIf="candidates && candidates.length <= 0">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <i class="iconfontXberts icon-ic-empty"></i>
                    <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any candidates yet. </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Winners">
            <div class="md-margin-top-2">
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-promote__promote-text xb-bold">Filter By Prize:</div>
                <div class="unicorn-dark-theme md-margin-left-3">
                  <mat-form-field class="sc-promotion-dialog__width">
                    <mat-select [ngModel]="prize" placeholder="Choose Prize" name="Choose Prize"
                                (ngModelChange)="prizeChange($event)">
                      <mat-option class="md-align-center" *ngFor="let item of prizeList" [value]="item.value">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="sc-promote__promote-bg md-margin-top-2">
                <app-lottery-draw-winner-title [status]="0" ></app-lottery-draw-winner-title>
                <div class="md-margin-top-2"></div>
                <div class="sc-promote__promote-list" *ngFor="let item of winners;let i = index;">
                  <app-lottery-draw-winner-item [status]="0" [index]="i" [promoteId]="promotionId"
                                                (promotionChange)="promotionChange($event)" [promote]="item"></app-lottery-draw-winner-item>
                </div>
                <mat-paginator [length]="length"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="changePage($event, 2)"
                               *ngIf="winners && winners.length > 0">
                </mat-paginator>
                <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
                     *ngIf="winners && winners.length <= 0">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <i class="iconfontXberts icon-ic-empty"></i>
                    <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any winners yet. </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Shipment">
            <div class="md-margin-top-2">
              <div class="sc-promote__promote-bg">
                <app-lottery-draw-winner-title [status]="0" ></app-lottery-draw-winner-title>
                <div class="md-margin-top-2"></div>
                <div class="sc-promote__promote-list" *ngFor="let item of shipment;let i = index;">
                  <app-lottery-draw-winner-item [status]="1" [index]="i" [promoteId]="promotionId"
                                                (promotionChange)="promotionChange($event)" [promote]="item"></app-lottery-draw-winner-item>
                </div>
                <mat-paginator [length]="length"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="changePage($event, 3)"
                               *ngIf="shipment && shipment.length > 0">
                </mat-paginator>
                <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
                     *ngIf="shipment && shipment.length <= 0">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <i class="iconfontXberts icon-ic-empty"></i>
                    <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any shipment yet. </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

  </div>
</div>
