<div class="sc-product__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20" *ngIf="status == 0">
    Main Category Name
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20" *ngIf="status == 1">
    Session Name
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="20" *ngIf="status == 2">
    SubCategory Name
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="20" *ngIf="status == 2">
    Image
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="20" *ngIf="status == 0 || status == 1">

  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="10">
    Index
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="20">
    Created
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2 md-align-center" fxFlex="10">
    Display
  </div>
  <div class="sc-product__product-title-1 md-align-center" fxFlex="20">Action</div>
</div>
