<div class="sc-promote__promote-item-1" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="!isEdit">
  <div class="md-margin-right-2 sc-promote__promote-width-5" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="variant.image">
    </div>
    <div class="sc-promote__promote-title-2 sc-promote__promote-text md-dark-secondary">
      {{variant.sku}}
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{variant.stock}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{variant.stockLocked}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{variant.productVariantStock - variant.productVariantStockLocked + variant.stock}}</div>
  </div>
  <div class="sc-promote__promote-width-1 sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="none">
    <div fxLayout="row" fxLayoutAlign="center center">
      <i class="material-icons md-dark-secondary xb-pointer" (click)="edit()">edit</i>
      <i class="material-icons md-dark-secondary xb-pointer md-margin-left-2" (click)="delete()" fxHide
        *ngIf="variantLength > 1 && variant.orderNum <= 0">delete</i>
    </div>
  </div>
</div>
<div class="sc-promote__promote-item-1" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="isEdit">
  <div class="md-margin-right-2 sc-promote__promote-width-5" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="variant.image">
    </div>
    <div class="sc-promote__promote-title-2 sc-promote__promote-text md-dark-secondary">
      {{variant.sku}}
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="sc-promote__promote-width sc-promote__create-align-center">
      <input matInput type="number" placeholder="" step="1" [ngModel]="variant.stock"
        (ngModelChange)="changeStock($event)">
    </mat-form-field>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{variant.stockLocked}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{variant.productVariantStock - variant.productVariantStockLocked + variant.stock}}</div>
  </div>
  <div class="sc-promote__promote-width-1 sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="none">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
