<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div *ngIf="!data.isDelete">
    <div class="sc-product-dialog__title-1">
      Are you sure you want to delete this variant?
    </div>
    <div class="sc-product-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="close()">NO</button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" (click)="delete()">YES</button>
      </div>
    </div>
  </div>
  <div *ngIf="data.isDelete">
    <div class="sc-product-dialog__title-1" fxLayout="row" fxLayoutAlign="start start">
      <i class="iconfontXberts icon-pic-finish sc-product-dialog__icons"></i>
      <div class="md-margin-left-2">The variant information has been saved successfully!</div>
    </div>
    <div class="sc-product-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="close()">OK</button>
    </div>
  </div>
</div>
