@charset "UTF-8";
@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-account {
  position: relative;

  &__header{
    margin: 40px 16px 24px;
    font-size: 24px;
    @include media();
  }

  &-none{
    padding: 96px 0;
    background-color: $whiteColor;
    border-radius: 4px;
    span{
      margin-top: 16px;
      @include media();
    }
  }
}

.xb-account-item {
  background-color: $whiteColor;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 16px;
  &__text {
    font-size: 14px;
    @include regular();
    line-height: 1.5em;
  }

  &__title {
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
  }

  &__header {
    padding: 0 16px;
    background-color: #fff;
    border-radius: 2px;
  }
}


.sc-keywords-dialog{

  padding: 40px 40px 48px;
  max-width: 660px;
  max-height: 100vh;
  width: 660px;
  overflow-y: scroll;
  position: relative;
  background-color: $whiteColor;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 40px 16px;
  }

  &__close{
    position: absolute;
    left: calc(100% - 36px);
    top: 12px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__icons{
    font-size: 24px;
  }

  &__title{
    font-size: 24px;
    line-height: 32px;
    @include media();
  }

  &__content{
    margin-top: 24px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    @include regular();
  }

  &__margin-top{
    margin-top: 24px;
  }

  &__color{
    color: black;
  }

}

.sc-product{
  &__product{

    &-none{
      padding: 96px 0;
      background-color: $whiteColor;
      border-radius: 4px;
      span{
        margin-top: 16px;
        @include media();
      }
      i{
        font-size: 96px;
        line-height: 96px;
        color: rgba(0,0,0,.38);
      }
    }
  }
}
