<div class="xb-guide-dialog">
  <div class="xb-guide-dialog__close">
    <i class="icon-ic-close iconfont-socialcommer " (click)="close()" ></i>
  </div>
  <div class="xb-guide-dialog__container">
    <div class="xb-guide__text-1">
      <div class="xb-guide__text-1-title">Thank You!</div>

      <div class="xb-guide__text-1-content">You have helped me drop
        <span style="font-weight: 700">Rs.{{data.price}}</span>
        <!--<span style="font-weight: 700">Rs.100.11</span>-->
        <br>off the price!
      </div>

    </div>
    <div class="content" >

      <p>Once this order is delivered,you will get reward points to <span style="font-weight: 700;">redeem free gifts</span> on PriceDrop App!</p>
      if you also want to get <span style="font-weight: 700;">the lowest price</span> on products you love,just click the button below to
        start your DROP now!
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button  class="btn" (click)="openLink">I Want the Lowest Price Too!</button>
    </div>
  </div>

</div>
