<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Attribute Type: {{data.name}}
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxFlex>
      <mat-select name="attribute value" placeholder="Add Attribute Value" (valueChange)="add($event)">
        <mat-option class="md-align-center" *ngFor="let item of data.attributeValueList" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-chip-list>
    <mat-chip *ngFor="let item of data.attributesValue" [selectable]="selectable"
              [removable]="removable" (removed)="remove(item)">
      {{item.specificationValueContent}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <form class="md-margin-top-3" [formGroup]="attributeForm" novalidate>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="42" class="xb-bold">
        Attribute Value
      </div>
      <div fxFlex="42" class="xb-bold">
        属性值(中文名称)
      </div>
      <div fxFlex="10"></div>
    </div>
    <div formArrayName="specificationValues">
      <div *ngFor="let p of specificationValues.controls; let i = index">
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="42">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Attribute Value" formControlName="context">
            </mat-form-field>
          </div>
          <div fxFlex="42">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="属性值" formControlName="chineseContext">
            </mat-form-field>
          </div>
          <div fxFlex="10">
            <i class="material-icons md-dark-secondary xb-pointer" (click)="deleteSpecificationValues(i)">delete</i>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <button type="button" mat-raised-button color="primary" (click)="addSpecificationValues()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="material-icons">add</i>
        <span class="md-margin-left-1">Add Another Attribute Value</span>
      </div>
    </button>
    <div class="md-margin-left-3"></div>
    <button mat-raised-button color="primary" (click)="create()">Save</button>
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="close()">CONFIRM</button>
  </div>
</div>
