<div class="xb-dashboard-item" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-dashboard-item__image  md-padding-left-2" fxFlex="none">
    <img [src]="imageStr">
  </div>
  <div class="xb-dashboard-item__Product" fxFlex
       fxLayout="column" fxLayoutAlign="space-between start">
    <div class="md-margin-top-2"> Grandma's Peanut Butter Cookies, 2.5 Ounce (Pack of 60)</div>
    <div class="md-margin-bottom-2">Black L</div>
  </div>
  <div class="" fxFlex="8" fxLayout="column" fxLayoutAlign="center center">
    <div class="xb-dashboard-item__Product-price-now">$1200.98</div>
    <div class="xb-dashboard-item__Product-price-origin">$1400.76</div>
  </div>
  <div class="" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">15%
  </div>
  <div class="md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">130
  </div>
  <div class="md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">139
  </div>
  <div class="md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">2.3%
  </div>
  <div class="md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">$159
  </div>
</div>
