<div class="container background-bg-white goods-dec1">

  <div class="overflow-dec1"  >
    <div  *ngFor="let i of trimNullObj(goods.productSpecification);let num = index" >
      <div class="p-s"  [ngClass]="{'rowGray':num%2==0,'rowWithe':num%2!=0}" fxLayout="row"  fxLayoutAlign="start center" >

        <div class="p-s-t1" fxFlex >{{i.name}}</div>
        <div class="p-s-t2" fxFlex >{{i.content}}</div>
      </div>
    </div>

    <div *ngFor="let i of goods.newDescription" >
      <div *ngIf="i.type=='text'" >
        <div class="dec-bottom-text">{{i.context}}</div>
      </div>
      <img *ngIf="i.type=='image'" [src]="i.context">
    </div>
  </div>
  <!--<div class="dec-see-more"  fxLayout="row"  fxLayoutAlign="center" >-->
    <!--<div class="d-sm-w">SEE MORE</div>-->
  <!--</div>-->
</div>
