<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2 md-margin-right-2 sc-promote__promote-width-3" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
    User
  </div>
  <div class="sc-promote__promote-title-2 sc-promote__promote-width-5 md-margin-right-2" fxFlex="none"></div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15">
    Number of Orders
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15">
    Payment Amount
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15">
    Raffle Entry Times
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15">
    1st Prize Times
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15">
    Last Time for 1st Prize
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none" *ngIf="status == 0"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none" *ngIf="status == 1"
       fxLayout="column" fxLayoutAlign="center center">
    Prize
  </div>
</div>
