<div class="container">
  <div class="sc-promote__title">
    Events
  </div>
  <div class="sc-promote__promote md-padding-bottom-2 unicorn-dark-theme">
    <div class="sc-promote__promote-buttons md-padding-bottom-1">
      <button mat-raised-button color="primary" routerLink="./create">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">add</i>
          <span class="md-margin-left-1">Create an Event</span>
        </div>
      </button>
    </div>
    <mat-tab-group color="primary" (selectedTabChange)="changeProducts($event)"  [(selectedIndex)]="selectedIndex">
      <mat-tab label="Pubulished">
        <div class="md-margin-top-2">
          <div class="sc-promote__promote-bg">
            <app-admin-promote-title [status]="0" ></app-admin-promote-title>
            <div class="sc-promote__promote-list" *ngFor="let item of promoteAll;let i = index;">
              <app-promote-promote-item [status]="0" [index]="i" (promotionChange)="promotionChange($event)" [promote]="item"></app-promote-promote-item>
            </div>
            <mat-paginator [length]="length"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="changePage($event, 0)"
                           *ngIf="promoteAll && promoteAll.length > 0">
            </mat-paginator>
            <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
                 *ngIf="promoteAll && promoteAll.length <= 0">
              <div fxLayout="column" fxLayoutAlign="center center">
                <i class="iconfontXberts icon-ic-empty"></i>
                <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any promotion yet. </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Unpublished">
        <div class="md-margin-top-2">
          <div class="sc-promote__promote-bg">
            <app-admin-promote-title [status]="1" ></app-admin-promote-title>
            <div class="sc-promote__promote-list" *ngFor="let item of promoteScheduled;let i = index;">
              <app-promote-promote-item [status]="1" [index]="i" (promotionChange)="promotionChange($event)" [promote]="item"></app-promote-promote-item>
            </div>
            <mat-paginator [length]="length"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="changePage($event, 1)"
                           *ngIf="promoteScheduled && promoteScheduled.length > 0">
            </mat-paginator>
            <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
                 *ngIf="promoteScheduled && promoteScheduled.length <= 0">
              <div fxLayout="column" fxLayoutAlign="center center">
                <i class="iconfontXberts icon-ic-empty"></i>
                <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any promotion yet.</div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
