*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.icon-ic-close{
  display: inline-block;
  //margin: 4px 10px 0 0 ;
  font-size: 24px;
}
.xb-guide-dialog__close{
  text-align: right;
  background-color: white;
  color: black;
  border-radius:4px 4px 0 0 ;
}
.xb-guide-dialog{
  background-color: white;
  padding: 16px 16px 0 16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
