<div class="xb-guide-dialog">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>Reward Points</div>
    <div class="xb-guide-dialog__close">
      <i class="icon-ic-close iconfont-socialcommer " (click)="close()" ></i>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <img src="" alt="">
    <div>Earn <span>2200</span> points by purchasing this product</div>
  </div>


  <div>
    <div>The Benefits of Points</div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div  fxLayout="row"  fxLayoutAlign="start center">
        <img src="" alt="">
        <div>Join lucky draw to win free product</div>
      </div>
      <div>detail</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div  fxLayout="row"  fxLayoutAlign="start center">
        <img src="" alt="">
        <div>Redeem for free gift vouchers</div>
      </div>
      <div>detail</div>
    </div>

  </div>

  <div>
    <div>Earn Points by Shopping</div>
    <div fxLayout="column" fxLayoutAlign="center">
      <div>
        <img src="" alt="">
        <div>Points will be added to your account as "<span> Pending </span>" once you Confirm Receipt of your order.</div>
      </div>
      <div>
        <img src="" alt="">
        <div>The pending points will become "<span> Available </span>" to use after 9day return period.</div>
      </div>
      <div>
        <img src="" alt="">
        <div>Please note the points will be removed if the order is returned.</div>
      </div>
    </div>
  </div>
</div>
