<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="sc-order__product-height" fxLayout="row" fxLayoutAlign="start center" >
    <div class="xb-bold">
      创建日期:{{order.created | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY'}}
    </div>
    <div class="xb-bold md-margin-left-3" *ngIf="order.paidTime">
      支付日期: {{order.paidTime | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY HH:mm:ss'}}
    </div>
    <div class="md-margin-left-3">订单号 #: {{order.number}}</div>
    <div class="md-margin-left-3" fxFlex>{{order.sumOrderNumber? '总订单号 #:' + order.sumOrderNumber: ''}}</div>
    <a class="sc-product__color text-underline xb-bold md-margin-right-2 xb-pointer" routerLink="./detail/{{order.id}}" target="_blank">查看订单详情</a>
  </div>
  <div class="sc-order__product-item-1" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex="70" fxLayoutAlign="start stretch">
      <div class="sc-order__product-item" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-order__product-width sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
          <div class="sc-order__product-image" fxFlex="none">
            <img [src]="order.lines[0].mainImage">
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
            <div class="sc-order__product-title" >{{order.lines[0].title}}</div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div>{{order.lines[0].attributes}}</div>
              <div class="md-margin-left-2">SKU: {{order.lines[0].sku}}</div>
            </div>
          </div>
        </div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus != 'Canceled'">{{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && order.cancelType == 'suppiler'">
          Supplier {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && order.cancelType == 'customer'">
          Customer {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center" *ngIf="order.orderStatus == 'Canceled' && !order.cancelType">
          System {{order.orderStatus}}</div>
        <div class="sc-order__product-margin-right" fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.orderType}}</div>
        <div fxFlex="15"
             fxLayout="column" fxLayoutAlign="center center">{{order.lines[0].quantity}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="30">
      <div class="md-margin-right-2 sc-order__product-height-1 xb-bold" fxFlex="35"
           fxLayout="column" fxLayoutAlign="center center">
        {{order.username}}
      </div>
      <div class="sc-order__product-height-1 xb-bold" fxFlex="30"
           fxLayout="column" fxLayoutAlign="center center">
        <div>{{order.paymentMode == 'cod' ? 'Cod' : 'Prepaid'}}</div>
        <div class="md-margin-top-1" *ngIf="order.paymentMode == 'imprest'">
          {{order.paymentStatus}}
        </div>
      </div>
      <div class="sc-order__product-height-1 xb-bold" fxFlex="35"
           fxLayout="column" fxLayoutAlign="center center">
        {{ order.paymentAmount | currency: currency: true }}
      </div>
    </div>
  </div>
  <div class="sc-order__product-item-3">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Email
      </div>
      <div fxFlex="">
        {{order.email}}
      </div>
      <div *ngIf="status != 9" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Not Started'">
          <button mat-raised-button color="accent" (click)="editStock()">标记为缺货</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Not Started'">
          <button mat-raised-button color="accent" (click)="editSourcing()">标记为已采购</button>
        </div>
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Out of stock'">
          <button mat-raised-button color="accent" (click)="editSourcing()">标记为已采购</button>
        </div>
        <div class="sc__accent-dark" *ngIf="(order.orderStatus == 'Paid' || order.orderStatus == 'Packing') && order.sourcingStatus == 'Started'">
          <button mat-raised-button color="primary" (click)="editSourcing()">查看采购详情</button>
        </div>
        <div class="sc__accent-dark" *ngIf="order.orderStatus == 'Audit canceled'">
          <button mat-raised-button color="accent" (click)="approveCancel()">查看详情</button>
        </div>
        <div class="sc__accent-dark md-margin-left-1" *ngIf="order.orderStatus != 'Unpaid' && order.orderStatus != 'Canceled'">
          <button mat-raised-button color="accent" (click)="addNote()" *ngIf="order.orderNotes == '' ">添加备注</button>
          <button mat-raised-button color="primary" (click)="addNote()" *ngIf="order.orderNotes != ''">编辑备注</button>
        </div>
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        手机号
      </div>
      <div fxFlex="">
        {{order.phoneNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        地址
      </div>
      <div>
        {{order.address}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.sourcingStatus == 'Out of stock'">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        缺货状态
      </div>
      <div>
        {{order.sourcingNote}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.sourcingOrderNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        采购单号
      </div>
      <div>
        {{order.sourcingOrderNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start"  *ngIf="order.orderNotes">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        备注
      </div>
      <div>
        {{order.orderNotes}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.shippingNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        运单号
      </div>
      <div>
        {{order.shippingNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.shippingNumber">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        物流
      </div>
      <div>
        {{order.shippingProvider}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start" *ngIf="order.recommendWarehouse">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        推荐仓库
      </div>
      <div>
        {{order.recommendWarehouse.warehouseName}}
      </div>
    </div>
  </div>
</div>
