@import "font";
@import "color";
@import "theme";
@import "mixins";

@import '../../../../node_modules/@angular/material/theming';

$mat-amber: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #EF8A31,
  A700: #ffab00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

@include mat-core();
$primary: mat-palette($mat-grey, 900);
$accent: mat-palette($mat-amber, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.sc__accent-dark{
  $darkTheme: mat-dark-theme($primary, $accent, $warn);
  @include angular-material-theme($darkTheme);

  .mat-raised-button{
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
  }
}

.mat-raised-button:not([class*=mat-elevation-z]){
  @include box-shadow(none);
}

.mat-form-field{
  width: 200px;
}

.mat-form-field-underline{
  background-color: rgba(0,0,0,.12);
}

.mat-toolbar{
  background-color: $whiteColor;
  min-height: 56px;
  height: 56px;
  .mat-toolbar-row{
    min-height: 56px;
    height: 56px;
  }
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.mat-slide-toggle{
  height: auto;
  line-height: 0;
}

.mat-raised-button{
  &.mat-accent{
    color: rgba(white, 0.87);
  }
}

.unicorn-dark-theme{
  .mat-tab-label-container{
    background-color: $whiteColor;
    height: 56px;
  }

  .mat-tab-label{
    height: 56px;
    color: $blackColor;
    opacity: 1;
    justify-content: flex-start;
    padding: 0 16px;
    font-size: 14px;
    @include regular();
    min-width: 0;
    &.mat-tab-label-active{
      @include media();
      opacity: 1;
    }
  }

  .mat-ink-bar{
    display: none;
  }

  .mat-form-field-underline{
    height: 2px;
    background-color: #000;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #000;
  }
}

.mat-option.mat-active{
  background-color: rgba(0,0,0,.12) !important;
}

.mat-tab-body-content{
  height: auto !important;
  overflow: visible !important;
}

.mat-raised-button{
  line-height: 40px;
  border-radius: 4px;

  @include xb-xs-screen{
    line-height: 36px;
  }
}

.mat-tab-nav-bar, .mat-tab-header{
  border-bottom: none;
}

textarea.mat-input-element{
  line-height: 1.5;
}

.mat-dialog-container{
  max-width: 100vw !important;
  padding: 0 !important;
  overflow: hidden !important;
  @include xb-xs-screen{
    background-color: transparent;
  }
}

.cdk-overlay-pane{
  min-width: 100vw;
}
.mat-chip:not(.mat-basic-chip){
  margin: 0 8px 3px 0 !important;
}

