<div class="container">
  <div class="sc-product__product md-padding-top-2 md-padding-bottom-2 unicorn-dark-theme">
    <mat-tab-group color="primary" (selectedTabChange)="changeInventoryLists($event)" [(selectedIndex)]="selectedIndex">
      <mat-tab label="按仓库查看库存" >
        <div class="sc-product__container" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="sc-product__product-sort">
            <mat-select [ngModel]="quantityWare" name="sort" (valueChange)="quantityChange($event)" >
              <mat-option class="md-align-center" *ngFor="let item of quantityList" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
            <div class="md-margin-right-2">选择仓库</div>
            <mat-form-field class="sc-product__product-sort">
              <mat-select name="仓库" [ngModel]="warehouseId" (valueChange)="warehouseChange($event)">
                <mat-option class="md-align-center" *ngFor="let item of warehouseList" [value]="item.id">
                  {{ item.warehouseName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
            <form class="sc-product__search" [formGroup]="searchForm"
                  fxLayout="row" fxLayoutAlign="start center" >
              <i class="material-icons">search</i>
              <input type="text" formControlName="searchKey" [(ngModel)]="searchKey"
                     placeholder="搜索"
                     (keyup.enter)="changeInventoryLists({index:1, type: 'search'})"/>
              <div class="sc-product__search-close" fxLayout="row" fxLayoutAlign="center center"
                   *ngIf="searchKey != ''" (click)="clearSearchKey()">
                <i class="material-icons">close</i>
              </div>
            </form>
            <div class="sc-product__search-margin-top unicorn-dark-theme">
              <mat-form-field class="sc-product__product-sort">
                <mat-select [(ngModel)]="searchCategory" name="sort">
                  <mat-option class="md-align-center" *ngFor="let item of searchList" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="sc__accent-dark md-margin-left-2 md-margin-bottom-1" *ngIf="isSuperuser">
            <button mat-raised-button color="pimary" (click)="export()">导出Excel</button>
          </div>
        </div>
        <div class="md-margin-top-1">
          <app-warehouse-inventory-title [status]="0" (onScrollChange)="scrollChange($event)"></app-warehouse-inventory-title>
          <app-warehouse-inventory-title-fixed [status]="0" *ngIf="showNav"></app-warehouse-inventory-title-fixed>
        </div>
        <div class="sc-product__product-bg" fxLayout="column">
          <div class="sc-product__product-list" *ngFor="let item of inventoryWare;let i = index;">
            <app-warehouse-inventory-item [status]="0" [index]="i" (productChange)="productChange($event)" [product]="item"></app-warehouse-inventory-item>
          </div>
          <mat-paginator [length]="length"
                         [pageIndex]="inventoryWareIndex - 1"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="changePage($event)"
                         *ngIf="inventoryWare && inventoryWare.length > 0">
          </mat-paginator>
          <div class="sc-product__product-none" fxLayout="row" fxLayoutAlign="center center"
               *ngIf="inventoryWare && inventoryWare.length <= 0">
            <div fxLayout="column" fxLayoutAlign="center center">
              <i class="iconfontXberts icon-ic-empty"></i>
              <div class="sc-product__product-title-1 md-margin-top-4">暂无库存信息</div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="按SKU查看库存" >
        <div class="sc-product__container" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="sc-product__product-sort">
            <mat-select [ngModel]="quantityAll" name="sort" (valueChange)="quantityChange($event)" >
              <mat-option class="md-align-center" *ngFor="let item of quantityList" [value]="item.value">
                {{ item.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
            <form class="sc-product__search" [formGroup]="searchForm"
                  fxLayout="row" fxLayoutAlign="start center" >
              <i class="material-icons">search</i>
              <input type="text" formControlName="searchKey" [(ngModel)]="searchKey"
                     placeholder="搜索"
                     (keyup.enter)="changeInventoryLists({index:0, type: 'search'})"/>
              <div class="sc-product__search-close" fxLayout="row" fxLayoutAlign="center center"
                   *ngIf="searchKey != ''" (click)="clearSearchKey()">
                <i class="material-icons">close</i>
              </div>
            </form>
            <div class="sc-product__search-margin-top unicorn-dark-theme">
              <mat-form-field class="sc-product__product-sort">
                <mat-select [(ngModel)]="searchCategory" name="sort">
                  <mat-option class="md-align-center" *ngFor="let item of searchList" [value]="item.value">
                    {{ item.text }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
          <div class="sc__accent-dark" *ngIf="isSuperuser">
            <button mat-raised-button color="pimary" (click)="export()">导出Excel</button>
          </div>
          <div class="sc__accent-dark md-margin-left-2 " *ngIf="isSuperuser">
            <button mat-raised-button color="pimary" (click)="exportAll()">导出所有库存Excel</button>
          </div>
          <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading">
            <mat-progress-spinner [color]="color" [mode]="mode" [value]="value" [diameter]="value"></mat-progress-spinner>
          </div>
        </div>
        <div class="md-margin-top-2">
          <app-warehouse-inventory-title [status]="1" (onScrollChange)="scrollChange($event)"></app-warehouse-inventory-title>
          <app-warehouse-inventory-title-fixed [status]="1" *ngIf="showNav"></app-warehouse-inventory-title-fixed>
        </div>
        <div class="sc-product__product-bg" fxLayout="column">
          <div class="sc-product__product-list" *ngFor="let item of inventoryAll;let i = index;">
            <app-warehouse-inventory-item [status]="1" [index]="i" (productChange)="productChange($event)" [product]="item"></app-warehouse-inventory-item>
          </div>
          <mat-paginator [length]="length"
                         [pageIndex]="inventoryAllIndex - 1"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="changePage($event)"
                         *ngIf="inventoryAll && inventoryAll.length > 0">
          </mat-paginator>
          <div class="sc-product__product-none" fxLayout="row" fxLayoutAlign="center center"
               *ngIf="inventoryAll && inventoryAll.length <= 0">
            <div fxLayout="column" fxLayoutAlign="center center">
              <i class="iconfontXberts icon-ic-empty"></i>
              <div class="sc-product__product-title-1 md-margin-top-4">暂无库存信息</div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
