<div class="background-bg-light sc-main">
  <div class="sc-navigation">
    <div class="container sc-navigation__inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-navigation__logo" fxLayout="row" fxLayoutAlign="start center">
        <img src="https://media.xberts.com/collector/source/web/pic/logo-180x28.png" width="140">
        <div  class="sc-navigation__logo-badge">
          Beta
        </div>
      </div>
      <div class="sc-navigation__title" fxFlex>
        采购与管理中心
      </div>
    </div>
  </div>
  <app-warehouse-top-navigation></app-warehouse-top-navigation>
  <router-outlet></router-outlet>
</div>
