<div class="sc-product__product-navigation sc-product__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="50">
    拣货单信息
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">拣货状态</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">运单号</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">物流公司</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="5"
       fxLayout="column" fxLayoutAlign="center center">是否带电</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="5"
       fxLayout="column" fxLayoutAlign="center center">是否COD</div>
  <div class="sc-product__product-title-1" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">操作</div>
</div>
