<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Add Attribute
  </div>
  <form class="md-margin-top-3" [formGroup]="attributeForm" novalidate>
    <div class="xb-bold">
      Attribute Type
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="attribute name" placeholder="Select Attribute Type" formControlName="specificationId">
          <mat-option class="md-align-center" *ngFor="let item of attributeList" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="attributeForm.get('specificationId').invalid && (attributeForm.get('specificationId').dirty ||
              attributeForm.get('specificationId').touched)" class="xb-input-error">
        <div *ngIf="attributeForm.get('specificationId').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="xb-bold">
      Attribute Index
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="number" matInput placeholder="Attribute Index" formControlName="sort">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="attributeForm.get('sort').invalid && (attributeForm.get('sort').dirty ||
              attributeForm.get('sort').touched)" class="xb-input-error">
        <div *ngIf="attributeForm.get('sort').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="xb-bold">
      Number of Attribute Column
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="number" matInput placeholder="Number of Attribute Column" formControlName="specificationCount">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="attributeForm.get('specificationCount').invalid && (attributeForm.get('specificationCount').dirty ||
              attributeForm.get('specificationCount').touched)" class="xb-input-error">
        <div *ngIf="attributeForm.get('specificationCount').hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
  </form>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="create()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
