<div class="order-list" >
  <div class="ol-top"  fxLayout="row" fxLayoutAlign="space-between end">
    <div *ngFor="let i of topChannel let index = index">
      <div fxLayout="column" fxLayoutAlign="start center" (click)="selChannel(index)">
        <div [ngClass]="activeTop==topChannel[index].value?'ol-top-word-active':'ol-top-word'">{{i.name}}</div>
        <div class="" [ngClass]="activeTop==topChannel[index].value?'ol-top-line-active':'ol-top-line'"></div>
      </div>
    </div>
  </div>
  <div #scroll [ngClass]="!addHeight? 'overflow-body-height': 'overflow-body'">
    <div class="container">

      <div class="scroll" infinite-scroll
         [infiniteScrollDistance]="0"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollContainer]="scroll"
         (scrolledUp)="onUp($event)"
         (scrolled)="onScrollDown($event)">

      <div class="ol-bottom">
        <ng-container  *ngIf="orderList && orderList.length>0">
          <div *ngFor="let order of orderList; let index = index"   >
            <div class="olb-card" >

              <div class="olb-card-item1" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="olb-card-time">{{formatDate(order.created) | date}}</div>

                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Audit canceled'">Pending Cancel</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Paid'">Confirmed</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Unpaid'">Pending</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Expired'">Expired</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Canceled'">Cancelled</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Completed'">Delivered</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Shipped'">Shipped</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Undelivered'">Undelivered</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Packing'">Preparing</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Partially Refunded'">Partially Refunded</div>
                <div class="olb-card-stu" *ngIf="order.orderStatus == 'Fully Refunded'">Fully Refunded</div>
              </div>

              <div class="olb-card-item2" fxLayout="row" fxLayoutAlign="start center" routerLink="/order/orderDetail/{{order.id}}">
                <div class="olb-card-img" fxFlex="none">
                  <img  style="" [src]="order.lines[0].mainImage" alt="product">
                </div>
                <div class="olb-card-bg" fxLayout="column" fxLayoutAlign="space-between stretch">
                  <div class="olb-card-title">{{order.lines[0].title}}</div>
                  <div class="md-margin-bottom-1" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="olb-card-variant" fxFlex>{{order.lines[0].attributes}}</div>
                    <div class="olb-card-quantity">x&nbsp;{{order.lines[0].quantity}}</div>
                  </div>
                </div>
              </div>

              <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="end center">
                <div class="olb-card-pword">Total:</div>
                <div class="olb-card-pword1">₹{{order.realAmount}}</div>
              </div>

              <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="order.orderStatus == 'Unpaid' && order">
                  <i class="iconfont-socialcommer olb-card-icon">&#xe6fa;</i>
                  <div class="olb-card-time1-word">Ends in</div>
                  <app-count-down [endDate]="order.cancelTime"  class="olb-card-time1"></app-count-down>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="order.orderStatus !== 'Unpaid'">&nbsp;</div>

                <div fxLayout="row" fxLayoutAlign="start center">

                  <div  fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Unpaid' && order">
                    <div class="olb-card-btn"  (click)="deleteOrder(order,index)" *ngIf="order.orderType != 'Drop'">Delete</div>
                    <div class="olb-card-btn1" (click)="payNow()">Pay Now</div>
                  </div>

                  <div  fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Packing'">
                    <div class="olb-card-btn" *ngIf="order.sourcingStatus == 'Not Started'" (click)="cancel()">Cancel Order</div>
                    <!--<div class="olb-card-btn1" (click)="tracking()">Track Package</div>-->
                  </div>
                  <div  fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Paid'">
                    <div class="olb-card-btn" (click)="cancel()">Cancel Order</div>
                    <!--<div class="olb-card-btn1" (click)="editAddress()" *ngIf="order.paymentMode!='cod'">Change Address</div>-->
                  </div>
                  <div  fxLayout="row" fxLayoutAlign="start center" *ngIf="order.orderStatus == 'Audit canceled'">
                    <div class="olb-card-btn1">Order cancellation pending</div>
                  </div>
                  <div  fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Shipped' && order.carrierCode.toUpperCase() != 'GATICN'">
                    <!--<div class="olb-card-btn" (click)="tracking()">Track Package</div>-->
                    <!--<div class="olb-card-btn1" (click)="receipt()">Package Arrival Confirm</div>-->
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Shipped' && order.carrierCode.toUpperCase() == 'GATICN'">
                    <!--<div class="olb-card-btn1" (click)="tracking()">Track Package</div>-->
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Expired'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <div class="olb-card-btn1" (click)="buyProduct(order)">Buy Again</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Canceled'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <div class="olb-card-btn1" (click)="buyProduct">Buy Again</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Partially Refunded'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <div class="olb-card-btn1" (click)="buyProduct()">Buy Again</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Fully Refunded'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <div class="olb-card-btn1" (click)="buyProduct()">Buy Again</div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center"  *ngIf="order.orderStatus == 'Completed'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <!--<div class="olb-card-btn1" (click)="tracking()">Track Package</div>-->
                  </div>
                  <div   *ngIf="order.orderStatus == 'Undelivered'">
                    <div class="olb-card-btn" (click)="deleteOrder(order,index)">Delete</div>
                    <!--<div class="olb-card-btn1" (click)="tracking()">Track Package</div>-->
                  </div>
                </div>

          </div>
            </div>
          </div>
        </ng-container>
        <div *ngIf="orderList && orderList.length==0" fxLayout="column" fxLayoutAlign="center center">

          <img src="https://image.getpricedrop.com/priceDrop/h5/empty.png" alt="">
          <div>There is no order to show</div>
        </div>
      </div>

      <div class="md-padding-top-2 md-padding-bottom-2" fxLayout="row" fxLayoutAlign="center center">
        <mat-progress-spinner
          color="accent"
          mode="indeterminate"
          [diameter]="value"
          *ngIf="loading">

        </mat-progress-spinner>
      </div>
    </div>
    </div>

  </div>

</div>
