<div class="sc-order__product-navigation sc-order__product-navigation-{{status}}" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
    <div class="sc-order__product-width sc-order__product-title-1 sc-order__product-margin-right" fxFlex="none">
      商品
    </div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">状态</div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">订单类型</div>
    <div class="sc-order__product-title-1" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">数量</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="30">
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center" >客户昵称</div>
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="30"
         fxLayout="column" fxLayoutAlign="center center" >支付方式</div>
    <div class="sc-order__product-title-1" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center">金额</div>
  </div>
</div>
