<div>
  <div class="sc-product__product-item-top" fxLayout="row" fxLayoutAlign="start center">
    <div>采购单号: {{product.purchaseId}}</div>
    <div class="md-margin-left-3">下单日期: {{product.created | amTz:'Asia/Shanghai' | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</div>
    <div class="md-margin-left-3" *ngIf="product.receivedTime">收货日期: {{product.receivedTime | amTz:'Asia/Shanghai' | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}</div>
    <div class="md-margin-left-3" *ngIf="product.warehouseName">仓库: {{product.warehouseName}}</div>
  </div>
  <div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="md-margin-right-2" fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let item of product.purchaseVariants;let i = index;">
        <div class="sc-product__product-image" fxFlex="none">
          <img class="xb-pointer" [src]="item.mainImage" (click)="openLargeImage(item)">
        </div>
        <div class="md-margin-right-2" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
          <div class="sc-product__product-title md-dark-secondary" >{{item.title}}</div>
          <div>
            <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
              <div class="xb-bold">SKU编码: {{item.sku}}</div>
              <i class="material-icons md-dark-secondary sc-product__product-title md-margin-left-1 xb-pointer" ngxClipboard [cbContent]="item.sku" (cbOnSuccess)="copy($event)">file_copy</i>
            </div>
            <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
              <div>规格: {{item.attribute}}</div>
              <div class="md-margin-left-1">采购数量: {{item.quantity}}</div>
              <div class="md-margin-left-1" [ngClass]="{'sc-product__product-red': item.receiveQuantity < item.quantity}"
                   *ngIf="product.purchaseStatus == 'Partially Delivered' || product.purchaseStatus == 'Delivered'">实际到货数量: {{item.receiveQuantity}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="product.purchaseStatus == 'Processing'">未发货</div>
      <div *ngIf="product.purchaseStatus == 'Shipped'">已发货</div>
      <div *ngIf="product.purchaseStatus == 'Partially Delivered'">部分收货</div>
      <div *ngIf="product.purchaseStatus == 'Delivered'">全部收货</div>
      <div *ngIf="product.purchaseStatus == 'Canceled'">已取消</div>
    </div>
    <div class="sc-product__product-category md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.deliveryTime | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
    </div>
    <div class="sc-product__product-price md-margin-right-2" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center center">
      <div>
        {{product.logisticsCompany}}
      </div>
    </div>
    <div class="sc-product__product-price" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">
      <div class="md-margin-top-1" *ngFor="let item of transformLogistic(product.logisticsId)">
        {{item}}
      </div>
    </div>
    <div class="sc-product__product-price sc__accent-dark" fxFlex="10"
         fxLayout="column" fxLayoutAlign="center stretch">
      <div class="md-margin-top-2"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Processing'" (click)="edit()">编辑</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Shipped'" (click)="complete()">到货入库</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Partially Delivered'" (click)="complete()">到货入库</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Wrong Item'" (click)="complete()">到货入库</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Delivered'" (click)="complete()">查看入库情况</button>
      <div class="md-margin-top-1" *ngIf="product.purchaseStatus == 'Shipped'"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Shipped'" (click)="wrong()">货物不符</button>
      <div class="md-margin-top-1" *ngIf="(product.purchaseStatus == 'Processing' || product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered') && isSuperuser"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Processing' && isSuperuser" (click)="openAttentionDialog()">注意事项</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Shipped' && isSuperuser" (click)="openAttentionDialog()">注意事项</button>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Partially Delivered' && isSuperuser" (click)="openAttentionDialog()">注意事项</button>
      <div class="md-margin-top-1" *ngIf="product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered' || product.purchaseStatus == 'Wrong Item'" ></div>
      <button mat-raised-button color="accent" *ngIf="product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered' || product.purchaseStatus == 'Wrong Item'" (click)="changeTrackingNumber()">修改快递单号</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="accent" (click)="trackingPackage()">查看物流信息</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="accent" (click)="orderDetails()">查看采购信息</button>
      <div class="md-margin-top-1"></div>
      <button mat-raised-button color="primary" *ngIf="product.purchaseStatus == 'Processing' || product.purchaseStatus == 'Canceled' || product.purchaseStatus == 'Wrong Item'"
              (click)="delete()">删除</button>
    </div>
  </div>
  <div class="sc-product__product-item-bottom" *ngIf="product.notes || ((product.purchaseStatus == 'Processing' || product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered') && product.attention)">
    <div *ngIf="product.notes">备注: {{product.notes}}</div>
    <div class="md-margin-top-1" *ngIf="product.notes && ((product.purchaseStatus == 'Processing' || product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered') && product.attention)"></div>
    <div *ngIf="product.attention && ((product.purchaseStatus == 'Processing' || product.purchaseStatus == 'Shipped' || product.purchaseStatus == 'Partially Delivered') && product.attention)">注意事项: {{product.attention}}</div>
  </div>
</div>
