<div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="sc-product__product-image" fxFlex="none">
    <img [src]="product.mainImage">
  </div>
  <div class="md-margin-right-2" fxFlex="40" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="sc-product__product-title" >{{product.title}}</div>
  </div>
  <div class="sc-product__product-category md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-product__product-background" [ngStyle]="{'background-color': product.background}" ></div>
  </div>
  <div class="sc-product__product-category md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-product__product-price-sale" *ngIf="product.saleUnitPrice>0">
      MRP: {{ product.saleUnitPrice | currency: currency: true }}</div>
    <div class="line-through" *ngIf="product.saleUnitPrice == 0">
      &nbsp;&nbsp;&nbsp;
    </div>
  </div>
  <div class="sc-product__product-action-buttons sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="10">
    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    <div class="md-margin-top-1"></div>
    <button mat-raised-button color="accent" (click)="delete()">Delete</button>
  </div>
</div>
