.landing{
  &__slide{
    width: 100%;
    padding-bottom: 45%;
    height: 0;
    position: relative;
  }
  &__bg{
    margin: 12px 16px 8px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__notification{
    width: 100%;
    height: 32px;
    overflow: hidden;
    background: #FCEACF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);

    &-bg{
      position: relative;
    }
  }
}
.change-address{
  padding: 16px ;
  margin-bottom: 52px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
  &-line1{

  }
}
.w-100{
  width: 100%;
}
.ca-title{
  opacity: 0.38;
  line-height: 14px;
  font-size: 12px;
  color: #262626;
}
.ca-ov-input-1{
  margin-top: 11px;
  border-bottom: 2px solid rgba(0,0,0,.12);
}
//.ca-input-1-border{
//  border-bottom: 2px solid rgba(0,0,0,.12);
//}
//.ca-input-1:focus + span{
//  color: #EF8A31;
//}
//.ca-input-1:focus{
//  border-bottom: 2px solid #EF8A31;
//}
.ca-input-1{
  font-size: 14px;
  color: rgba(0,0,0,0.87);
  border: 0;
  line-height: 17px;
  //margin-top: 11px;
  margin-bottom: 4px;
  padding-left: 4px;
  background: none;
  //border-bottom: 2px solid rgba(0,0,0,.12);
}
.ca-ov-input-2{
  margin-top: 11px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
.ca-input-2{
  font-size: 14px;
  color: rgba(0,0,0,0.87);
  border: 0;
  //width: 100%;
}
.ca-last{
  opacity: 0.54;
  font-size: 12px;
  color: #262626;
}
.ca-last-icon{
  opacity: 0.6;
  color: #333333;
}
.ca-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 6px 16px;
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.ca-bottom-btn{
  background-color: #EF8A31;
  color: white;
  text-align:center ;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 20px;

  &-text{
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    font-weight: bold;
    margin-left: 8px;
  }
}

.confirm-order{
  //margin-bottom: 120px;
}

.co-card-top{
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.coct-content1{
  padding: 16px;
}
.coct-content{
  padding: 12px 16px 16px;
  &-word1{
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 16px;
  }
  &-word2{
    font-size: 12px;
    color: rgba(0,0,0,0.87);
    line-height: 14px;
    margin-bottom: 8px;
  }
  &-icon{
    font-size: 12px;
    line-height: 14px;
    transform: scale(.8);
    margin-right: 8px;
  }
}
.co-card-mid{
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.cocm-content{
  padding:  16px 16px 12px;
  &-block{
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
  &-img{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 12px;
  }
  &-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
  }
  &-num{
    width: 100%;
    opacity: 0.54;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0,0,0,0.87);
  }
  &-price1{
    font-size: 12px;
    color: #000000;
    line-height: 20px;
  }
  &-price2{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    line-height: 20px;
  }
}
.co-card-bottom{
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
}
.cocb-content{
  &-word0{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    margin-bottom: 14px;
  }
  &-line{
    margin-bottom: 12px;
  }
  &-word1{
    font-size: 12px;
    line-height: 14px;
    color: rgba(0,0,0,0.87);
  }
  &-word2{
    font-size: 12px;
    line-height: 14px;
    color: #EF8A31;
  }
  &-word3{
    font-size: 12px;
    line-height: 14px;
    color: rgba(0,0,0,.56);
  }
}
.bottom-div{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.12);
  background-color: white;
}
.bd-total{
  font-size: 14px;
  color: #000000;
}
.bd-price{
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.bd-price-line{
  font-size: 12px;
  color: #000000;
  text-decoration: line-through;
}
.bd-price-off{
  font-size: 12px;
  transform: scale(.8);
  color: #EF8A31;
}
.bd-btn{
  padding: 10px 14px;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 12px;
  margin-right: 12px;
  background: #EF8A31;
  border-radius: 20px;
}
.ca-overflow{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  background-color: white;
  border-radius: 4px;
  margin-bottom: 8px;
}
.choose-address{
  background-color: #f4f4f4;
  margin-bottom: 72px;
}
.ca-item{
  padding: 16px;
  border-bottom: 1px solid rgba(0,0,0,.08);
}
.ca-content-word2{
  opacity: 0.8;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0,0,0,0.87);
  margin-bottom: 8px;
}
.ca-content-icon{
  font-size: 12px;
  line-height: 14px;
  transform: scale(.8);
  margin-right: 8px;
}
.ca-word-edit{
  margin: 16px 12px 16px 0;
  color: #EF8A31;
}
.ca-word-del{
  margin: 16px 0 16px 0;
  color: #EF8A31;
}
.ca-icon2{
  font-size: 16px;
  margin-right: 9px;
  color: #EF8A31;
}
.ca-icon{
  font-size: 16px;
  margin-right: 9px;
}
.ca-icon1{
  font-size: 16px;
  margin-right: 4px;
  color: #EF8A31;
}
.city-list{
  margin-bottom: 68px;
}
.cl-item-word{
  padding: 3px 0 3px 16px;
  font-size: 12px;
  color: #000000;
  background-color: #F1F1F1;
}
.cl-item-word1{
  padding: 17px 16px 16px ;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  border-bottom: 1px solid #F1F1F1;
  background-color: white;
}
.cl-item-icon{
  color: #EF8A31;
}

.order-list{
  background-color: #f1f1f1;
}
.ol-top{
  padding: 9px 16px 9px 11px;
  height: 48px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  position: relative;
  z-index: 1;
}
.ol-top-word{
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.ol-top-word-active{
  font-size: 12px;
  line-height: 14px;
  color: #EF8A31;
  font-weight: 500;
}
.ol-top-line-active{
  background-color: #EF8A31;
  margin-top: 4px;
  height: 3px;
  width: 23px;
  border-radius: 8px;
}
.ol-top-line{
  background-color: transparent;
  margin-top: 4px;
  height: 3px;
  width: 23px;
  border-radius: 8px;
}
.ol-bottom{
  margin: 0 16px;
}
.olb-card{
  padding: 12px 16px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  border-radius: 8px;
  background-color: white;
  margin-top: 12px;

  &-bg{
    height: 80px;
  }
  &-item1{
    margin-bottom: 8px;
  }
  &-time{
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  &-stu{
    font-size: 12px;
    line-height: 14px;
    color: #EF8A31;
  }
  &-item2{
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-img{
    width: 80px;
    height: 80px;
    margin-right: 12px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    >img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 78px;
      height: 78px;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.12);
    }
  }
  &-title{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.87);
  }
  &-variant{
    opacity: 0.54;
    font-size: 12px;
    line-height: 14px;
    max-height: 14px;
    color: rgba(0,0,0,0.87);
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 8px;
    white-space: nowrap;
  }
  &-quantity{
    opacity: 0.38;
    color: rgba(0,0,0,0.87);
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }
  &-price{
    font-size: 12px;
    color: #000000;
    line-height: 14px
  }
  &-pword{
    font-size: 12px;
    transform: scale(.8);
    color: #000000;
    line-height: 16px;
    margin-right: 8px;
  }
  &-pword1{
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    line-height: 18px;
  }
  &-icon{
    font-size: 12px;
    line-height:13px;
    margin-bottom: 1px;
    margin-right: 7px;
  }
  &-time1-word{
    font-size: 12px;
    transform: scale(.9);
    line-height:13px;
    margin-right: 2px;
    color: #000000;
  }
  &-time1{
    font-size: 12px;
    line-height: 17px;
    color: #EF8A31;
  }
  &-btn{
    margin-right: 8px;
    padding: 6px 11px;
    font-size: 12px;
    color: #EF8A31;
    font-weight: 500;
    background-color: white;
    border: #EF8A31 1px solid;
    border-radius: 15px;
  }
  &-btn1{
    padding: 7px 12px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 500;
    background: #EF8A31;
    border-radius: 14px;
  }
}
.od-word{
  font-size: 12px;
  margin-bottom: 8px;
  margin-left: -30px;
  text-align: left;
  width: 100%;
  transform: scale(.8);
}
.payment-box{
  padding: 16px 16px 12px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  background-color: white;
  border-radius: 8px;
  //&-top{
  //  //box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  //  background-color: white;
  //  border-top-right-radius: 8px;
  //  border-top-left-radius: 8px;
  //}
  &-title{
    font-size: 14px;
    margin-bottom: 12px;
    color: #000000;
  }
  &-image1{
    width: 24px;
    height: 15px;
  }
  &-border-b{
    border-bottom: 1px solid rgba(0,0,0,.08);
  }
  &-tag-5{
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 9px;
    border: 1px solid #EF8A31;
    border-radius: 4px;
    transform: scale(.8);
    color: #EF8A31;
  }
  &-img1{
    width: 132px;
    height: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  &-img2{
    width: 121px;
    height: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  &-img3{
    width: 42px;
    height: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  &-img4{
    width: 51px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  &-img5{
    width: 40px;
    height: 20px;
    margin-top: 5px;
    //margin-bottom: 10px;
  }
  &-text{
    opacity: 0.54;
    font-size: 12px;
    transform: scale(0.8);
    width: 100%;
    text-align: left;
    margin-left: -20px;
    color: rgba(0,0,0,.54);
  }
  &-text-err{
    font-size: 12px;
    transform: scale(0.8);
    width: 100%;
    text-align: left;
    margin-left: -25px;
    color: red;
  }
  &-wallet{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
  &-wallet1{
    font-size: 12px;
    color: #000000;
    margin-left: 11px;
  }
}
.gb-icon{
  font-size: 14px;
  margin-right: 12px;
  color: rgba(0,0,0,0.54);
}

.gb-text{
  font-size: 14px;
  color: rgba(0,0,0, 0.87);
}
.gd-text-color{
  color: #EF8A31;
}
.overflow-body{
  height: calc(100vh - 160px);
  overflow-y: scroll;
  z-index: 0;
}
.overflow-body-height{
  height: calc(100vh - 102px);
  overflow-y: scroll;
  z-index: 0;
}





.pd-rl-16{
  padding: 0 16px 72px 16px;
}
.mg-rl-16{
  margin: 0 16px 80px 16px;
}
.mg-r-12{
  margin-right: 12px;
}
.mg-t-16{
  margin-top: 16px;
}
.mg-t-12{
  margin-top: 12px;
}
.mg-b-0{
  margin-bottom: 0;
}
.bg-f4{
  background-color: #f4f4f4;
}
.gd-img-image{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  //border-top-right-radius: 4px;
  //border-top-left-radius: 4px;
  overflow: hidden;
  position: relative;
  >img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

