<div class="sc-order__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70">
    <div class="sc-order__product-width sc-order__product-title-1 sc-order__product-margin-right" fxFlex="none">
      Product
    </div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">Status</div>
    <div class="sc-order__product-title-1 sc-order__product-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">Type</div>
    <div class="sc-order__product-title-1" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">Quantity</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="30">
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center" >Customer</div>
    <div class="sc-order__product-title-1 md-margin-right-2" fxFlex="30"
         fxLayout="column" fxLayoutAlign="center center" >Payment Type</div>
    <div class="sc-order__product-title-1" fxFlex="35"
         fxLayout="column" fxLayoutAlign="center center">Amount</div>
  </div>
</div>
