<div class="sc-promotion-dialog__subevent">
  <div class="sc-promotion-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-promotion-dialog__title">Add Subevent Name</div>
  <form class="md-margin-top-2" [formGroup]="activityTabForm" novalidate >
    <div class="sc-promote__promote-text xb-bold">Tab Name</div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="" formControlName="name">
      </mat-form-field>
    </div>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="publish()">Save</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
