<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    货物不符
  </div>
  <form class="md-margin-top-3" [formGroup]="purchaseForm" novalidate>
    <div class="xb-bold">
      备注
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input type="text" matInput formControlName="notes">
      </mat-form-field>
    </div>
  </form>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="publish()">保存</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">取消</button>
    </div>
  </div>
</div>
