@charset "UTF-8";
@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-address {
  position: relative;

  &__header{
    margin: 32px 16px 24px;
    font-size: 24px;
    @include media();
  }

  &__none{
    padding: 96px 0;
    background-color: $whiteColor;
    border-radius: 4px;
    span{
      margin-top: 16px;
      @include media();
    }
    i{
      font-size: 96px;
      line-height: 96px;
      color: rgba(0,0,0,.38);
    }
  }

  &__create{
    &-bg{
      padding: 32px 16px;
      border-radius: 4px;
      background-color: $whiteColor;
    }
  }
}

.xb-address-item {
  background-color: $whiteColor;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 16px;
  &__text {
    font-size: 14px;
    @include regular();
    line-height: 1.5em;
  }

  &__title {
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
    white-space: nowrap;
  }

  &__header {
    padding: 0 16px;
    background-color: #fff;
    border-radius: 2px;
  }

  &__width{
    width: 120px;
  }
}


