.landing{
  &__slide{
    width: 100%;
    padding-bottom: 45%;
    height: 0;
    border-radius: 8px;
    position: relative;
  }
  &__bg{
    margin: 12px 16px 8px;
    border-radius: 8px;
    overflow: hidden;
  }
}
.overflow-body{
  height: calc(100vh - 112px);
}
.overflow-body-height{
  height: calc(100vh - 56px);
}
.left{
  height: calc(100vh - 112px);
  //max-height: 112px;
  width: 88px;
  overflow-y: auto;
  background-color:#ECECEC;
}
.left-height{
  height: calc(100vh - 56px);
  //max-height: 112px;
  width: 88px;
  overflow-y: auto;
  background-color:#ECECEC;
}
.left::-webkit-scrollbar {
  display: none;
}
.left-cell{
  //height: 96px;
  font-size: 12px;
  line-height: 14px;
  padding: 20px 0 14px 0;
  text-align: center;
  background-color: #ECECEC;
  font-weight: 500;
}
.left-cell-active{
  font-size: 12px;
  line-height: 14px;
  padding: 20px 0 14px 0;
  text-align: center;
  background-color: white;
  font-weight: 500;
}
.right{
  //width: 300vw;
  overflow-y: auto;
  background-color: white;
}
.right::-webkit-scrollbar {
  display: none;
}
.second-item{
  margin: 20px 0 24px 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.mag-r-14{
  margin-right: 14px;
}
.mag-b-18{
  margin-bottom: 18px;
}
.three-item{
  border-bottom: 1px rgba(0,0,0,.08) solid;
  margin-left: 16px;
  //padding: 0 0 10px 0;
}
.three-item-bottom{
  margin-left: 16px;
  //padding: 0 0 10px 0;
}
.three-img{
  height: 50px;
}
.three-title{
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  transform: scale(0.8);
  text-align: center;
  color: #000000;
}
