<div class="xb-navigation-header__bg" fxLayout="row" fxLayoutAlign="start center" *ngIf="display">
  <i class="xb-navigation-header__icon iconfont-socialcommer icon-pic-cancel xb-pointer" (click)="close()"></i>
  <img class="xb-navigation-header__image"
       src="https://image.getpricedrop.com/priceDrop/h5/pricedrop2-03.png" alt="Download PriceDrop App">
  <div class="xb-navigation-header__text" fxFlex>Download our app to win free gifts and discounts!</div>
  <button class="xb-navigation-header__button" (click)="download()" >Download</button>
</div>
