*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.icon-ic-close{
  display: inline-block;
  //margin: 4px 10px 0 0 ;
  font-size: 24px;
}
.xb-guide-dialog__close{
  text-align: right;
  background-color: white;
  color: black;
  border-radius:4px 4px 0 0 ;
}
.xb-guide-dialog{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  margin: auto;
  width: 80%;

}
.bottom{
  margin-top: 16px;
}
.bottom-btn{
  padding: 8px;
  margin-right: 8px;
  color: #EF8A31;
}
.bottom-btn1{
  padding: 8px;
  margin-right: 8px;
}

