<div class="choose-address"  style="background-color: #f4f4f4">
  <div *ngFor="let address of addressList" class="ca-overflow">
    <div class="ca-item">
      <div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <i class="ca-content-icon iconfont-socialcommer">&#xe707;</i>
          <div class="ca-content-word2">{{address.firstName}} {{address.lastName}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <i class="ca-content-icon iconfont-socialcommer">&#xe706;</i>
          <div class="ca-content-word2">+91 {{address.phoneNumber}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <i class="ca-content-icon iconfont-socialcommer">&#xe705;</i>
          <div class="ca-content-word2">{{address.line1}}, {{address.line2}}, {{address.line3}}, {{address.city}}, {{address.postcode}}, {{address.stateName}}</div>
        </div>
      </div>
    </div>
    <div   fxLayout="row" fxLayoutAlign="space-between center" (click)="chooseAddress(address)">
      <div fxLayout="row" fxLayoutAlign="start center" style="padding:16px">
        <i class="iconfont-socialcommer ca-icon2" *ngIf="address.id==defaultAddress.id">&#xe6fb;</i>
        <i class="iconfont-socialcommer ca-icon" *ngIf="address.id!==defaultAddress.id">&#xe73f;</i>
        <div>Select</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfont-socialcommer ca-icon1">&#xe70b;</i>
          <div class="ca-word-edit">Edit</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="padding:0 16px ">
          <i class="iconfont-socialcommer ca-icon1">&#xe70c;</i>
          <div class="ca-word-del">Delete</div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="ca-bottom">
  <div class="ca-bottom-btn" fxLayout="row" fxLayoutAlign="center center" routerLink="/order/changeAddress">
    <i class="iconfont-socialcommer">&#xe630;</i>
    <div class="ca-bottom-btn-text">Add New Address</div>
  </div>
</div>
