<div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
  <div class="md-margin-right-2" fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
    {{product.product}}
  </div>
  <div class="md-margin-right-2" fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-product__product-image" fxFlex="none">
      <img [src]="product.productImage">
    </div>
    <div fxFlex>
      <div class="sc-product__product-title" >{{product.productTitle }}</div>
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <div class="sc-product__product-title" >{{product.chartName}}</div>
    </div>
  </div>
  <div class="sc-product__product-action-buttons"
       fxLayout="row" fxLayoutAlign="center center" fxFlex="15">
    <i class="material-icons md-dark-secondary xb-pointer" (click)="delete()">delete</i>
  </div>
</div>
