<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    标记缺货原因
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div>订单号 #: {{data.order.number}}</div>
    <div class="md-margin-left-3" fxFlex>{{data.order.sumOrderNumber? 'Sum Order #:' + data.order.sumOrderNumber: ''}}</div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="sc-order__product-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
      <div class="sc-order__product-image" fxFlex="none">
        <img src="{{data.order.lines[0].mainImage}}">
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div class="sc-order__product-title" >{{data.order.lines[0].title}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          {{data.order.lines[0].sku}}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">{{data.order.lines[0].quantity}}</div>
  </div>
  <form class="md-margin-top-3" [formGroup]="orderStockForm" novalidate>
    <mat-radio-group class="md-margin-top-2"
                     fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="sourcingNote">
      <mat-radio-button class="md-margin-top-1" *ngFor="let value of notesList;let i = index;"
                        [value]="value" color="accent">
        {{ value }}
      </mat-radio-button>
    </mat-radio-group>
  </form>
  <div class="xb-input-error md-margin-top-2" *ngIf="error">
    {{error}}
  </div>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="changeOrderSourcing()">保存</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">取消</button>
    </div>
  </div>
</div>
