<div class="xb-dashboard-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-dashboard-navigation__title  md-padding-left-2" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Picture
  </div>
  <div class="xb-dashboard-navigation__title" fxFlex
       fxLayout="row" fxLayoutAlign="start center">Product Name
  </div>
  <div class="xb-dashboard-navigation__title" fxFlex="8"
       fxLayout="row" fxLayoutAlign="center center">Price
  </div>
  <div class="xb-dashboard-navigation__title" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">Commission
  </div>
  <div class="xb-dashboard-navigation__title md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">Average<br>Daily Views
  </div>
  <div class="xb-dashboard-navigation__title md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">Units Sold<br>Per Day
  </div>
  <div class="xb-dashboard-navigation__title md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">Average<br>Conversion
  </div>
  <div class="xb-dashboard-navigation__title md-align-center" fxFlex="11"
       fxLayout="row" fxLayoutAlign="center center">Average<br>Daily Sales
  </div>
</div>
