<div  [ngClass]="!addHeight? 'overflow-body-height': 'overflow-body'">

  <div class="container" fxLayout="column" fxLayoutAlign="center center">

    <img class="payment-result-img" src="https://image.getpricedrop.com/priceDrop/h5/pay-failure.png" alt="fail">
    <div fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfont-socialcommer payment-result-fail">&#xe632;</i>
      <div class="payment-result-word">Payment Failed</div>
    </div>
    <div class="payment-result-word1">Please try again or change your <br> payment method. Thanks!</div>
    <div class="payment-result-btn" (click)="jumpOrder()">View Order</div>
    <div class="payment-result-btn-1" (click)="jumpHome()">Back to Home Page</div>

  </div>


</div>

