<div class="container">
  <div class="landing__bg">
    <div class="landing__slide" *ngIf="banner.length > 0">
      <app-left-products-image [images]="banner"></app-left-products-image>
    </div>
  </div>
  <div class="landing__notification-bg">
    <div class="landing__notification" *ngIf="notification.length > 0">
      <!--<span>{{notification[0].context}}</span>-->
      <app-left-products-image [images]="notification" [direction]="true"></app-left-products-image>
    </div>
  </div>

  <div class="category-line" fxLayout="row" fxLayoutAlign="start">
    <div *ngFor="let i of ['categories','kids','women','men','women','men','women','men','women','men','women','men','women','men','women','men','shoes']">
      <div class="overflow-block" fxLayout="column" fxLayoutAlign="center center">
        <div class="category-line-block" fxLayout="column" fxLayoutAlign="center center">
          <i class="iconfont-socialcommer category-line-icon">&#xe6d9;</i>
        </div>
        <div class="category-line-word">{{i}}</div>
      </div>
    </div>
  </div>

  <!--<div fxLayout="row" fxLayoutAlign="center" >-->
    <!--<div class="circle"></div>-->
  <!--</div>-->


  <app-flash-sale  [flashSaleList]="flashSaleList" [flashSaleTime]="flashSaleTime"></app-flash-sale>

  <app-commodity [commodityProductList]="commodityProductList"></app-commodity>

  <app-featured [featuredProductList]="featuredProductList" ></app-featured>

</div>
