<div class="container">
  <div class="xb-dashboard__top" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__top-title">Orders</div>
  </div>
  <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
    <div>Filter by Start Time: </div>
    <mat-form-field class="md-margin-left-2">
      <input matInput [matDatepicker]="csAll" [(ngModel)]="psAll" placeholder="Start Date" (dateInput)="addEvent('csAll', $event)">
      <mat-datepicker-toggle matSuffix [for]="csAll"></mat-datepicker-toggle>
      <mat-datepicker #csAll></mat-datepicker>
    </mat-form-field>
    <div class="md-margin-left-2">to</div>
    <mat-form-field class="md-margin-left-2">
      <input matInput [matDatepicker]="ceAll" [(ngModel)]="peAll" placeholder="End Date" (dateInput)="addEvent('ceAll', $event)">
      <mat-datepicker-toggle matSuffix [for]="ceAll"></mat-datepicker-toggle>
      <mat-datepicker #ceAll></mat-datepicker>
    </mat-form-field>
    <div class="sc__accent-dark md-margin-left-2">
      <button mat-raised-button color="primary" (click)="filterDate()">Confirm</button>
    </div>
    <div class="sc__accent-dark md-margin-left-2">
      <button mat-raised-button color="accent" (click)="resetDate()">Reset</button>
    </div>
    <div class="sc__accent-dark md-margin-left-2" *ngIf="isSuperuser">
      <button mat-raised-button color="primary" (click)="exportCateDataList()">export</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-left-2">Filter by Category: </div>
    <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="cate" placeholder="Select a Category"
                    (valueChange)="cateChange($event)">
          <mat-option class="md-align-center" *ngFor="let item of cateList" [value]="item.id">
            {{ item.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" *ngIf="subCateList && subCateList.length > 0">
      <mat-form-field fxFlex>
        <mat-select name="subcategory" placeholder="Select a Subcategory"
                    (valueChange)="subCateChange($event)">
          <mat-option class="md-align-center" *ngFor="let item of subCateList" [value]="item.id">
            {{ item.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" *ngIf="thirdCateList && thirdCateList.length > 0">
      <mat-form-field fxFlex>
        <mat-select name="thirdcategory" placeholder="Select a ThirdCategory"
                    (valueChange)="thirdCateChange($event)">
          <mat-option class="md-align-center" *ngFor="let item of thirdCateList" [value]="item.id">
            {{ item.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#3f51b5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-sales"></i>
      <div class="xb-dashboard__card-data" *ngIf="isSuperuser">
        {{(statistics.totalSales + statistics.canceledAmount) | currency: currency: true}}
      </div>
      <div class="xb-dashboard__card-data" *ngIf="!isSuperuser">
        {{statistics.totalSales | currency: currency: true}}
      </div>
      <div class="xb-dashboard__card-word">Total Sales</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#ffc502'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-cart1"></i>
      <div class="xb-dashboard__card-data" *ngIf="isSuperuser" >{{statistics.totalOrders + statistics.canceledSingular}}</div>
      <div class="xb-dashboard__card-data" *ngIf="!isSuperuser" >{{statistics.totalOrders}}</div>
      <div class="xb-dashboard__card-word">Total Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#40ad33'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-present"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalSoldUnits}}</div>
      <div class="xb-dashboard__card-word">Total Sold Units</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#15aabb'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.averageOrderValue | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word" fxLayout="row" fxLayoutAlign="start start">
        <div>Average Order Value</div>
        <div class="xb-dashboard__wenhao-bg">
          <i class="iconfontXberts icon-wenhao xb-dashboard__wenhao" (mouseenter)="changeEight(true)"
             (mouseleave)="changeEight(false)"></i>
          <div class="xb-dashboard__wenhao-content" style="right: -64px;" *ngIf="showEight">
            <div class="xb-dashboard__wenhao-triangle-up" style="margin-left: 172px;"></div>
            <div class="xb-dashboard__wenhao—word" style="padding-left: 30px;">Average order value = total sales / total orders</div>
          </div>
        </div>
      </div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#663fb5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.refundOrder}}</div>
      <div class="xb-dashboard__card-word">Total Refund Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#e53715'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund"></i>
      <div class="xb-dashboard__card-data">{{statistics.refundAmounts | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Total Refund Amounts</div>
    </div>
    <div fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
    </div>
    <div fxFlex.gt-sm="24" fxFlex.sm="48" fxFlex.xs="100">
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="isSuperuser">
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#663fb5'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalOrders}}</div>
      <div class="xb-dashboard__card-word">Gross Sales Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#e53715'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund"></i>
      <div class="xb-dashboard__card-data">{{statistics.totalSales | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Gross Sales Amounts</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#184cc4'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund-order"></i>
      <div class="xb-dashboard__card-data">{{statistics.canceledSingular}}</div>
      <div class="xb-dashboard__card-word">Total Canceled Orders</div>
    </div>
    <div class="xb-dashboard__card" [ngStyle]="{'background-color':'#ff68a9'}" fxFlex.gt-sm="24" fxFlex.sm="48"
         fxFlex.xs="100">
      <i class="iconfontXberts icon-pic-refund"></i>
      <div class="xb-dashboard__card-data">{{statistics.canceledAmount | currency: currency: true}}</div>
      <div class="xb-dashboard__card-word">Total Chargeback Amounts</div>
    </div>
  </div>
  <div class="md-margin-top-2" *ngIf="isSuperuser">
    <div class="md-margin-bottom-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-dashboard__top-title" fxFlex="">Number of Listings by Category</div>
      <button mat-button color="primary" (click)="openDialog()">SEE DETAILS</button>
      <div class="sc__accent-dark md-margin-left-2">
        <button mat-raised-button color="primary" (click)="ExportAllCategory()">export</button>
      </div>
    </div>
    <div class="xb-dashboard__data-card">
      <div echarts [options]="options" [loading]="isCateLoading" [loadingOpts]="loadingOpts" class="xb-dashboard__data"></div>
    </div>
  </div>
  <div class="md-margin-top-2 md-padding-bottom-3" *ngIf="isSuperuser">
    <div class="md-margin-bottom-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="xb-dashboard__top-title" fxFlex="">Incremental Listings</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="end center">
        <div>Filter by Start Time: </div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="csPro" [(ngModel)]="psPro" placeholder="Start Date" (dateInput)="addEvent('csPro', $event)">
          <mat-datepicker-toggle matSuffix [for]="csPro"></mat-datepicker-toggle>
          <mat-datepicker #csPro></mat-datepicker>
        </mat-form-field>
        <div class="md-margin-left-2">to</div>
        <mat-form-field class="md-margin-left-2">
          <input matInput [matDatepicker]="cePro" [(ngModel)]="pePro" placeholder="End Date" (dateInput)="addEvent('cePro', $event)">
          <mat-datepicker-toggle matSuffix [for]="cePro"></mat-datepicker-toggle>
          <mat-datepicker #cePro></mat-datepicker>
        </mat-form-field>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="primary" (click)="filterDateCate()">Confirm</button>
        </div>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="accent" (click)="resetDateCate()">Reset</button>
        </div>
        <div class="sc__accent-dark md-margin-left-2">
          <button mat-raised-button color="primary" (click)="export()">export</button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="md-margin-left-2">Filter by Category: </div>
      <div class="md-margin-left-2" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex>
          <mat-select name="category" placeholder="Select a Category"
                      (valueChange)="categoryChange($event)">
            <mat-option class="md-align-center" *ngFor="let item of categoryList" [value]="item">
              {{ item.data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" *ngIf="subCategoryList && subCategoryList.length > 0">
        <mat-form-field fxFlex>
          <mat-select name="subcategory" placeholder="Select a Subcategory"
                      (valueChange)="subCategoryChange($event)">
            <mat-option class="md-align-center" *ngFor="let item of subCategoryList" [value]="item">
              {{ item.data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" *ngIf="thirdCategoryList && thirdCategoryList.length > 0">
        <mat-form-field fxFlex>
          <mat-select name="thirdcategory" placeholder="Select a ThirdCategory"
                      (valueChange)="thirdCategoryChange($event)">
            <mat-option class="md-align-center" *ngFor="let item of thirdCategoryList" [value]="item">
              {{ item.data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="xb-dashboard__data-card">
      <div echarts [options]="options1" [loading]="isDateLoading" [loadingOpts]="loadingOpts" class="xb-dashboard__data"></div>
    </div>
  </div>
</div>
