<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../../">Lottery</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Create a Campaign</span>
  </div>
  <form [formGroup]="promotionForm" novalidate *ngIf="!isEdit">
    <div class="md-margin-top-3 sc-promote__create-bg">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="48">
          <div fxLayout="row" fxLayoutAlign="start center" >
            <div class="sc-promote__promote-text xb-bold">Start Time</div>
            <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field>
                <input matInput type="datetime-local" placeholder="" formControlName="startTime">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="promotionForm.get('startTime').invalid && (promotionForm.get('startTime').dirty ||
            promotionForm.get('startTime').touched)" class="xb-input-error">
            <div *ngIf="promotionForm.get('startTime').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
        <div fxFlex="48">
          <div fxLayout="row" fxLayoutAlign="start center" >
            <div class="sc-promote__promote-text xb-bold">End Time</div>
            <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field>
                <input matInput type="datetime-local" placeholder="" formControlName="endTime">
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="promotionForm.get('endTime').invalid && (promotionForm.get('endTime').dirty ||
            promotionForm.get('endTime').touched)" class="xb-input-error">
            <div *ngIf="promotionForm.get('endTime').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">First Prize Quantity</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input matInput type="number" placeholder="" formControlName="quantity">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Second Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input matInput type="number" placeholder="" formControlName="disc_sec">
            </mat-form-field>
            <div class="md-margin-left-3">%</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div *ngIf="promotionForm.get('quantity').invalid && (promotionForm.get('quantity').dirty ||
            promotionForm.get('quantity').touched)" class="xb-input-error">
            <div *ngIf="promotionForm.get('quantity').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div *ngIf="promotionForm.get('disc_sec').invalid && (promotionForm.get('disc_sec').dirty ||
            promotionForm.get('disc_sec').touched)" class="xb-input-error">
            <div *ngIf="promotionForm.get('disc_sec').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Third Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input matInput type="number" placeholder="" formControlName="disc_thd">
            </mat-form-field>
            <div class="md-margin-left-3">%</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div *ngIf="promotionForm.get('disc_thd').invalid && (promotionForm.get('disc_thd').dirty ||
            promotionForm.get('disc_thd').touched)" class="xb-input-error">
            <div *ngIf="promotionForm.get('disc_thd').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="md-margin-top-3" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="button" (click)="continue()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../">
          CANCEL
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="isEdit">
    <div class="md-margin-top-3 sc-promote__create-bg">
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Status</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.drawStatus}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">First Prize Quantity</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.quantity}}
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Second Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.discountSecond}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Third Prize Ratio</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.discountThird}}
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Start Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.startTime | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">End Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.endTime | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
      </div>
    </div>

    <div class="md-margin-top-2 sc-promote__create-bg">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add First Prize for This Campaign:</div>
        <div class="md-margin-left-3 sc__accent-dark">
          <button mat-raised-button color="primary" type="button" (click)="selectProduct()">
            Select
          </button>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" *ngIf="firstPrize">
        <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
          <img [src]="firstPrize.image">
        </div>
        <div class="md-margin-right-2" fxLayout="column" fxLayoutAlign="center stretch">
          <div class="sc-promote__promote-text">
            {{firstPrize.product}}
          </div>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Second Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [(ngModel)]="secondPrize" placeholder="Choose Gift Card" name="Second Prize">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Add Third Prize for This Campaign:</div>
        <div class="unicorn-dark-theme md-margin-left-3">
          <mat-form-field class="sc-promotion-dialog__width">
            <mat-select [(ngModel)]="thirdPrize" placeholder="Choose Gift Card" name="Third Prize">
              <mat-option class="md-align-center" *ngFor="let item of cardList" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="md-padding-top-4 md-padding-bottom-4" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="button" (click)="save()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
