<div class="commodity"  >
  <div *ngFor="let item of commodityProductList" class="commodity-block" style="">
    <div fxLayout="row" fxLayoutAlign="space-between center" routerLink="../category/list/{{item.id}}">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="iconfont-socialcommer commodity-icon {{item.icon}}" [ngStyle]="{color:item.color}"></i>

          <div class="commodity-title">{{item.name}}</div>
        </div>
        <div class="commodity-view">VIEW MORE</div>
    </div>
    <div class="commodity-goods-row"></div>
    <div *ngFor="let j of tranArr(item.product)" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
        <div  *ngFor="let n of  j "
              class="commodity-goods"
              routerLink="/goodsdetail/{{n.productId}}"
              fxLayout="column"
              fxLayoutAlign="center center"
              fxFlex>
          <div class="gd-img-image">
            <img  [src]="n.mainImage" >
          </div>
          <div class="commodity-price1" >₹{{n.unitPrice|number}}</div>
          <div class="commodity-price2" >{{countOff(n.unitPrice, n.saleUnitPrice)}}OFF</div>
        </div>
    </div>
  </div>
</div>
