*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.icon-ic-close{
  font-size: 24px;
}
.xb-guide-dialog{
  height: 100vh;
  padding: 16px;
  background-color: white;
  position: absolute;
  top:0;
  right: 0;
  z-index: 999;

}
.xb-guide__text-1{
  font-size: 14px;
  line-height: 28px;
  margin-top: 12px;
}
.xb-guide-dialog__container-1{
  background-color: #ef8a31;
}
