<div class="xb-guide-dialog">
  <div class="xb-guide-dialog__close">
    <i class="icon-ic-close iconfont-socialcommer " (click)="close()" ></i>
  </div>
  <div class="xb-guide-dialog__container">
    <div class="xb-guide__text-1">
      Step1: <br> Click the “Drop The Price” button to start your DROP campaign immediately.
      <br>

      Step2: <br> Invite friends to join you by sharing your DROP campaign to Facebook & WhatsAPP.
      <br>

      Step3: <br> When people click the “Drop Price” button for you on the page you share, the price will drop automatically.
      <br>

      Step4: <br> After the DROP campaign ends, you can purchase the item at the final price you have reached!

    </div>
  </div>

  <!--<div class="xb-guide-dialog__scroll">-->
    <!--<div class="xb-guide-dialog__inner-container" fxLayout="row wrap" fxLayoutAlign="start start">-->
      <!--<div class="xb-guide__flex-preview-box-2"  fxFlex="20" fxFlex.xs="50">-->
        <!---->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="xb-guide-dialog__container-1 xb-guide__bottom-button" fxLayout="row" fxLayoutAlign="center center">
    <!--<button &ndash;&gt;mat-raised-button color="primary" (click)="close()" >CLOSE</button>-->
  <!--</div>-->
</div>
