<div class="sc-order__detail-container-4" fxLayout="row" fxLayoutAlign="start center" *ngIf="status==2">
  <div class="sc-order__detail-width-1 xb-bold sc-order__detail-margin-right" fxFlex="none">
    Product
  </div>
  <div class="xb-bold sc-order__detail-margin-right md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Quantity</div>
  <div class="xb-bold md-align-center" fxFlex="50"
       fxLayout="column" fxLayoutAlign="center center">Shipping Method</div>
</div>
