<div class="container">
  <div class="md-margin-left-2 md-margin-top-4 sc-product__create-text" fxLayout="row" fxLayoutAlign="start center">
    <span class="md-dark-secondary xb-pointer" routerLink="../../">Catalog</span>
    <span class="md-dark-secondary">&nbsp;>&nbsp;</span><span class="xb-bold" fxFlex>{{category.name}}</span>
    <div class="md-margin-top-2 md-margin-left-2 md-margin-right-2" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="addCategory()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="material-icons">add</i>
          <span class="md-margin-left-1">Add a Subcategory</span>
        </div>
      </button>
    </div>
  </div>
  <div class="md-margin-top-2">
    <app-category-title [status]="2" ></app-category-title>
  </div>
  <div class="sc-product__product-bg" fxLayout="column">
    <div class="sc-product__product-list" *ngFor="let item of categoryList;let i = index;">
      <app-category-item [status]="2" [index]="i" (productChange)="productChange($event)" [product]="item"></app-category-item>
    </div>
    <div class="sc-product__product-none" fxLayout="row" fxLayoutAlign="center center"
         *ngIf="categoryList && categoryList.length <= 0">
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="iconfontXberts icon-ic-empty"></i>
        <div class="sc-product__product-title-1 md-margin-top-4">You haven't published any category yet. </div>
      </div>
    </div>
  </div>
</div>
