@import "../../../styles/utils/_index";
@import "../../../styles/_variables";

.xb-image-display{

  &__slide{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;

    > span{
      position: absolute;
      font-size: 12px;
      right: 16px;
      bottom: 12px;
      color: #000;
    }

    >img{
      width: 100%;
      display: block;
    }
  }
}



