<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    SKU编号：{{data.sku}}
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product-dialog__image">
      <img [src]="data.mainImage">
    </div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="center center" *ngIf="data.purchaseUrl">
    <a target="_blank" [href]="data.purchaseUrl">
      <button mat-raised-button color="primary">查看采购网址</button>
    </a>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="center center">
    <div class="sc-product-dialog__slide">
      <app-left-products-image [images]="data.image"></app-left-products-image>
    </div>
  </div>
</div>
