<div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="status == 2">
  <div class="sc-order__detail-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="sc-order__detail-width-1 sc-order__detail-margin-right" fxLayout="row" fxLayoutAlign="start stretch" fxFlex="none">
      <div class="sc-order__product-title" >{{order.lines[0].title}}</div>
    </div>
    <div class="sc-order__detail-margin-right" fxFlex="15"
         fxLayout="column" fxLayoutAlign="center center">{{order.lines[0].quantity}}</div>
    <div fxFlex="50"
         fxLayout="column" fxLayoutAlign="center center">
      {{order.shippingProvider}}
    </div>
  </div>
</div>
