<app-loading *ngIf="isLoadingShow"></app-loading>
<mat-drawer-container class="navigation__bg-1">
  <mat-drawer #drawer [mode]="over">
    <div class="navigation__login" *ngIf="!isLogin" fxLayout="column" fxLayoutAlign="center center">
      <div class="navigation__text">Welcome!</div>
      <div class="navigation__button" (click)="jump(drawer, '/account/login')">Log In / Sign Up</div>
    </div>
    <div class="navigation__login" *ngIf="isLogin" fxLayout="column" fxLayoutAlign="center center">
      <img class="navigation__avatar" [src]="user.avatar" alt="User Avatar">
      <div class="navigation__text">{{user.firstName}} {{user.lastName}}</div>
      <div class="navigation__text-1">{{user.email}}</div>
    </div>

    <div class="" fxLayout="column" fxLayoutAlign="center flex-start">
      <div class="border-bottom1">
        <div class="nav-cell mag-t-8" (click)="jump(drawer, '/')" fxLayout="row" fxLayoutAlign="flex-start center">
        <i class="iconfont-socialcommer navigation__icon1 xb-color-gray-light pad-r-16">&#xe704;</i>
        Home
        </div>
        <div class="nav-cell mag-b-8" (click)="jumpNewPage('/home')"   fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16">&#xe6d9;</i>
          Orders
          <div class="red-dot"></div>
        </div>
      </div>

      <div class="border-bottom1">
        <div  class="nav-cell mag-t-8 mag-b-8" (click)="jump(drawer, '/category')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16">&#xe762;</i>
          Categories
        </div>
      </div>

      <div class="border-bottom1">
        <div class="nav-cell mag-b-8" (click)="jumpNewPage('/home')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16" style="font-size: 20px">&#xe770;</i>
          Customer Support
        </div>
        <div class="nav-cell mag-b-8" (click)="jumpNewPage('/home')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16" style="font-size: 20px">&#xe772;</i>
          My Address
        </div>
      </div>

      <div>
        <div  class="nav-cell mag-b-8" (click)="jumpNewPage('/home')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16">&#xe771;</i>
          About
        </div>

        <div  class="nav-cell mag-b-8" (click)="jumpNewPage('/home')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16" style="font-size: 18px">&#xe773;</i>
          FAQ
        </div>

        <div  class="nav-cell mag-b-8" (click)="jumpNewPage('/home')" fxLayout="row" fxLayoutAlign="flex-start center">
          <i class="iconfont-socialcommer xb-color-gray-light pad-r-16">&#xe774;</i>
          Settings
        </div>
      </div>


    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="navigation__bg">
      <div class="container" fxLayout="column">
        <app-navigation-header></app-navigation-header>
      </div>
    </div>
    <div class="navigation__bg-2">
      <div class="container navigation__bg-2-inner" fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <i class="material-icons navigation__icon" (click)="drawer.toggle()">
          menu
        </i>
        <div class="navigation__title xb-italic" fxFlex *ngIf="title == 'PriceDrop'">PriceDrop</div>
        <div class="navigation__title-1" fxFlex *ngIf="title != 'PriceDrop'">{{title}}</div>
        <div [ngStyle]="{visibility: !isLogin? 'visible':'hidden'}">
          <i class="iconfont-socialcommer icon-pic-contactor navigation__icon" (click)="jump(drawer, '/account/login')"></i>
        </div>
      </div>
    </div>
    <div class="navigation__bg-3">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

