<div class="sc-product__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="5">
    PID
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="40">
    Product
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="40">
    Size Chart
  </div>
  <div class="sc-product__product-title-1" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
