<div class="sc-product__create-container">
  <div class="md-margin-top-4 sc-product__create-text">
    <span class="md-dark-secondary xb-pointer" (click)="openLeaveDialog()">Prize</span>
    <span class="md-dark-secondary">></span>
    <span class="xb-bold">Edit Prize</span>
  </div>
  <form class="md-margin-top-2" [formGroup]="productForm" novalidate>
    <div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Basic Product Information
        </div>
        <div class="md-margin-top-2" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Product Name" formControlName="title">
            </mat-form-field>
          </div>
          <div *ngIf="productForm.get('title').invalid && (productForm.get('title').dirty ||
            productForm.get('title').touched)" class="xb-input-error">
             <div *ngIf="productForm.get('title').hasError('required')">
               This field is required.
             </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <mat-select name="category" placeholder="Select a Category" formControlName="grandParentId"
                            (valueChange)="categoryChange($event)">
                  <mat-option class="md-align-center" *ngFor="let item of categoryList" [value]="item.id">
                    {{ item.data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="subCategoryList && subCategoryList.length > 0">
              <mat-form-field fxFlex>
                <mat-select name="subcategory" placeholder="Select a Subcategory" formControlName="parentId"
                            (valueChange)="subCategoryChange($event)">
                  <mat-option class="md-align-center" *ngFor="let item of subCategoryList" [value]="item.id">
                    {{ item.data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="thirdCategoryList && thirdCategoryList.length > 0">
              <mat-form-field fxFlex>
                <mat-select name="thirdcategory" placeholder="Select a Thirdcategory" formControlName="childId">
                  <mat-option class="md-align-center" *ngFor="let item of thirdCategoryList" [value]="item.id">
                    {{ item.data.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="productForm.get('childId').invalid && (productForm.get('childId').dirty ||
            productForm.get('childId').touched)" class="xb-input-error">
            <div *ngIf="productForm.get('childId').hasError('required')">
              This field is required.
            </div>
          </div>
          <div *ngIf="productForm.get('parentId').invalid && (productForm.get('parentId').dirty ||
            productForm.get('parentId').touched)" class="xb-input-error">
            <div *ngIf="productForm.get('parentId').hasError('required')">
              This field is required.
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Theme Color" formControlName="background">
            </mat-form-field>
          </div>
          <div *ngIf="productForm.get('background').invalid && (productForm.get('background').dirty ||
            productForm.get('background').touched)" class="xb-input-error">
            <div *ngIf="productForm.get('background').hasError('required')">
              This field is required.
            </div>
          </div>
        </div>
        <div class="sc-product__create-title md-margin-top-2">
          Image
        </div>
        <div class="md-margin-top-2">
          <app-product-image-upload-additional [(previewImgFile)]="additionalList"
                                               [(previewImgSrcs)]="additionalSrcs"></app-product-image-upload-additional>
          <div><span class="xb-bold">·</span>The images should be at least 600*600 pixels.</div>
          <div class="md-margin-top-1"><span class="xb-bold">·</span>Do not steal images from other suppliers, or your product will be deleted.</div>
          <div class="md-margin-top-1"><span class="xb-bold">·</span>Products width high quality images can get the most sales.</div>
        </div>
      </div>
      <div class="sc-product__create-container-1">
        <div class="sc-product__create-title">
          Pricing
        </div>
        <div class="md-margin-top-2" *ngIf="!isProductListShow">
          <div formArrayName="variants" >
            <div *ngFor="let p of product.controls; let i = index;">
              <div [formGroupName]="i" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">MRP</div>
                    <mat-form-field fxFlex>
                      <input type="text" matInput placeholder="RS" formControlName="saleUnitPrice">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sc-product__create-container-1" *ngIf="isSuperUser">
        <div class="sc-product__create-title">
          Purchase Link
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Purchase Link" formControlName="purchaseLink">
          </mat-form-field>
        </div>
      </div>
      <div class="sc-product__create-container-2">
        <div class="sc-product__create-title sc-product__create-margin-left">
          Shipping
        </div>
        <div class="md-margin-top-2" formArrayName="shippings">
          <div class="sc-product__create-list" fxLayout="column" *ngFor="let p of shipping.controls; let i = index">
            <div [formGroupName]="i">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <mat-select name="country" placeholder="Shipping Country"
                                formControlName="countryId" (ngModelChange)="changeShippingMethod($event)">
                      <mat-option class="md-align-center" *ngFor="let item of countries" [value]="item.id">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="p.get('countryId').invalid && (p.get('countryId').dirty ||
                    p.get('countryId').touched)" class="xb-input-error">
                <div *ngIf="p.get('countryId').hasError('required')">
                  This field is required.
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center"
                   *ngIf="p.value.countryId != ''">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <mat-select name="method" placeholder="Shipping Method"
                                formControlName="type">
                      <mat-option class="md-align-center" *ngFor="let item of shippingTypeList" [value]="item.type">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="p.get('type').invalid && (p.get('type').dirty ||
                    p.get('type').touched)" class="xb-input-error">
                <div *ngIf="p.get('type').hasError('required')">
                  This field is required.
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="p.value.type != '' && shippingMethodList.length > 0">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <mat-select name="carrier" placeholder="Shipping Carrier"
                                formControlName="shippingId" (ngModelChange)="changeShippingPrice($event, p)">
                      <mat-option class="md-align-center" *ngFor="let item of shippingMethodList" [value]="item.id">
                        {{ item.shippingProvider }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.value.id != '' && p.value.type != 'Free'">
                  <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                  <mat-form-field fxFlex>
                    <input type="text" matInput placeholder="Shipping Cost"
                           formControlName="price" >
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center">
                  <div *ngIf="p.get('id').invalid && (p.get('id').dirty ||
                    p.get('id').touched)" class="xb-input-error">
                    <div *ngIf="p.get('id').hasError('required')">
                      This field is required.
                    </div>
                  </div>
                </div>
                <div fxFlex="46" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.value.id != ''">
                  <div *ngIf="p.get('price').invalid && (p.get('price').dirty ||
                    p.get('price').touched)" class="xb-input-error">
                    <div *ngIf="p.get('price').hasError('required')">
                      This field is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="sc-product__create-title-1 md-margin-top-2" *ngIf="p.value.id != ''">
                Shipping Time
              </div>
              <mat-radio-group class="md-margin-top-2" *ngIf="p.value.id != ''"
                               fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="shippingTime">
                <mat-radio-button fxFlex="25" class="sc-product__create-height" *ngFor="let value of shippingTimeList;let i = index;"
                                  [value]="value.value" color="primary" (change)="showMinAndMaxTime($event, i, p)">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    {{ value.text }}
                    <div *ngIf="i == 5 && p.value.checked" class="md-margin-left-4" fxLayout="row" fxLayoutAlign="start center">
                      <mat-form-field class="sc-product__create-width">
                        <input class="md-align-center" type="number" matInput placeholder="Min" formControlName="shippingTimeMin">
                      </mat-form-field>
                      <div class="md-margin-left-2 md-margin-right-2">-</div>
                      <mat-form-field class="sc-product__create-width">
                        <input class="md-align-center" type="number" matInput placeholder="Max" formControlName="shippingTimeMax">
                      </mat-form-field>
                    </div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
              <div *ngIf="p.value.id != ''">
                <div *ngIf="p.get('shippingTime').invalid && (p.get('shippingTime').dirty ||
                    p.get('shippingTime').touched)" class="xb-input-error">
                  <div *ngIf="p.get('shippingTime').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
              <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center" *ngIf="i > 0">
                <div>
                  <i class="material-icons md-dark-third xb-pointer" (click)="deleteShippingObject(i)">delete</i>
                </div>
                <div class="md-margin-left-1 text-underline sc-product__create-title xb-pointer"
                     (click)="deleteShippingObject(i)">Delete</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sc-product__create-margin-top-1" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="primary" type="button" (click)="publish()">
            PUBLISH
          </button>
          <div class="md-margin-left-2">
            <button mat-button color="primary" type="button" (click)="openLeaveDialog()">
              CANCEL
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
