@import "../styles/utils/_index";
@import "../styles/_variables";

.sc-navigation{
  height: 48px;
  width: 100%;
  background-color: $whiteColor;

  &__inner{
    height: 48px;
    padding: 0 16px;
  }

  &__title{
    margin-left: 44px;
    color: rgba(0,0,0,.7);
    font-family: 'San Francisco', Helvetica;
  }

  &__logo{
    position: relative;
    &-badge{
      position: absolute;
      top: -2px;
      left: 100%;
      background-color: #fec32d;
      color: $whiteColor;
      line-height: 14px;
      font-size: 10px;
      border-radius: 2px;
      padding: 0 4px;
    }
  }

  &__margin-left{
    margin-left: 40px;
  }

  &__title-1{
    font-family: 'San Francisco', Helvetica;
  }
}

.sc-main{
  min-height: 100vh;
}
