<div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
  <label class="preview-label preview-label__upload md-margin-right-3" fxLayout="row" fxLayoutAlign="center center" fxFlex="none"
         *ngFor="let src of previewImgSrcs; let i = index;">
    <img src="{{src}}" >
    <app-image-preview-loading [percent]="loading[i]" *ngIf="!closeAnimate[i] && !closeLoading[i]"
                               (loadingChange)="loadingChange($event, i)" [width]="320"></app-image-preview-loading>
    <div class="popup-mask">
      <div fxLayout="row" fxLayoutAlign="end start">
        <i class="material-icons" (click)="remove(i);">clear</i>
      </div>
    </div>
  </label>
  <label class="preview-label preview-label__not-upload" *ngIf="!upload" fxLayout="row" fxLayoutAlign="center center"
    fxFlex="none">
    <input type="file" (change)="previewPic($event)">
    <i class="material-icons">add</i>
  </label>
</div>
