<div class="container">
  <div class="md-margin-left-2 md-margin-top-4 sc-product__create-text">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="md-dark-secondary xb-pointer" (click)="openLeaveDialog()">PRODUCT</span>
        <span class="md-dark-secondary">&nbsp;>&nbsp;</span>
        <span class="xb-bold">EDIT PRODUCT</span>
      </div>
      <div class="md-margin-right-2" fxLayout="row" fxLayoutAlign="start center">
        <div>Status: {{productStatus}}</div>
        <div class="md-margin-left-2"></div>
        <button mat-raised-button *ngIf="productStatus == 'unpublished'" color="primary" type="button" (click)="publish()">
          Publish
        </button>
        <button mat-raised-button *ngIf="productStatus == 'published'" color="primary" type="button" (click)="unpublish()">
          Unpublish
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="md-margin-top-2 md-margin-right-2 sc-product__edit-tab" fxFlex="none">
      <div class="sc-product__edit-button xb-pointer" (click)="changeStep(0)"
        [ngClass]="{'active': step == 0}">Basic Information</div>
      <div class="sc-product__edit-button xb-pointer" (click)="changeStep(1)"
        [ngClass]="{'active': step == 1}">Category & Attribute</div>
      <div class="sc-product__edit-button xb-pointer" (click)="changeStep(2)"
        [ngClass]="{'active': step == 2}">Inventory & Pricing</div>
      <div class="sc-product__edit-button xb-pointer" (click)="changeStep(3)"
        [ngClass]="{'active': step == 3}">Shipping</div>
      <div class="sc-product__edit-button xb-pointer" (click)="changeStep(4)"
        [ngClass]="{'active': step == 4}">Logistic Information</div>
    </div>
    <div fxFlex>
      <form *ngIf="step == 0" [formGroup]="productBasicForm" novalidate>
        <div class="sc-product__create-container-1">
          <div class="sc-product__create-title">
            Basic Product Information
          </div>
          <div class="md-margin-top-2" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Product Name" formControlName="title">
              </mat-form-field>
            </div>
            <div *ngIf="productBasicForm.get('title').invalid && (productBasicForm.get('title').dirty ||
            productBasicForm.get('title').touched)" class="xb-input-error">
              <div *ngIf="productBasicForm.get('title').hasError('required')">
                This field is required.
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field fxFlex>
                  <mat-select name="category" placeholder="Select a Category" formControlName="grandParentId"
                              (valueChange)="categoryChange($event)">
                    <mat-option class="md-align-center" *ngFor="let item of categoryList" [value]="item.id">
                      {{ item.data.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="subCategoryList && subCategoryList.length > 0">
                <mat-form-field fxFlex>
                  <mat-select name="subcategory" placeholder="Select a Subcategory" formControlName="parentId"
                              (valueChange)="subCategoryChange($event)">
                    <mat-option class="md-align-center" *ngFor="let item of subCategoryList" [value]="item.id">
                      {{ item.data.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="md-margin-left-3" fxFlex="30" fxLayout="row" fxLayoutAlign="start center" *ngIf="thirdCategoryList && thirdCategoryList.length > 0">
                <mat-form-field fxFlex>
                  <mat-select name="thirdcategory" placeholder="Select a Thirdcategory" formControlName="childId"
                              (valueChange)="thirdCategoryChange($event)">
                    <mat-option class="md-align-center" *ngFor="let item of thirdCategoryList" [value]="item.id">
                      {{ item.data.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="productBasicForm.get('childId').invalid && (productBasicForm.get('childId').dirty ||
            productBasicForm.get('childId').touched)" class="xb-input-error">
              <div *ngIf="productBasicForm.get('childId').hasError('required')">
                This field is required.
              </div>
            </div>
          </div>
          <div class="sc-product__create-title md-margin-top-2">
            Product Details
          </div>
          <div class="md-margin-top-2" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex>
                <input type="text" matInput placeholder="Brand Name(Optional)" formControlName="brandName">
              </mat-form-field>
            </div>
            <div class="md-dark-secondary">Product Description</div>
            <div class="md-margin-top-2">
              <quill-editor formControlName="description"
                            (ready)="onEditorCreated($event)"></quill-editor>
            </div>
            <input id="{{editorImageId}}" type="file" (change)="addPicture($event)" hidden />
            <div *ngIf="productBasicForm.get('description').invalid && (productBasicForm.get('description').dirty ||
            productBasicForm.get('description').touched)" class="xb-input-error">
              <div *ngIf="productBasicForm.get('description').hasError('required')">
                This field is required.
              </div>
            </div>
          </div>
          <div class="sc-product__create-title md-margin-top-2">
            Image
          </div>
          <div class="md-margin-top-2">
            <app-product-image-upload-additional [(previewImgFile)]="additionalList"
                                                 [previewImgSrcs]="additionalSrcs"></app-product-image-upload-additional>
            <div><span class="xb-bold">·</span>The images should be at least 600*600 pixels.</div>
            <div class="md-margin-top-1"><span class="xb-bold">·</span>Do not steal images from other suppliers, or your product will be deleted.</div>
            <div class="md-margin-top-1"><span class="xb-bold">·</span>Products width high quality images can get the most sales.</div>
          </div>
        </div>
        <div class="sc-product__create-container-1" *ngIf="isSuperUser">
          <div class="sc-product__create-title">
            Purchase Link
          </div>
          <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field fxFlex>
              <input type="text" matInput placeholder="Purchase Link" formControlName="purchaseLink">
            </mat-form-field>
          </div>
        </div>
        <div class="sc-product__create-margin-top" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" type="button" (click)="changeProductBasic()">
            SAVE CHANGES
          </button>
        </div>
      </form>
      <form *ngIf="step == 1" [formGroup]="productAttributeForm" novalidate>
        <div class="sc-product__create-container-1">
          <div class="sc-product__create-title">
            Category Attributes
          </div>
          <div class="md-margin-top-2" formArrayName="productSpecification">
            <div *ngFor="let p of specification.controls; let i = index;">
              <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-product__create-margin-right-3 sc-product__create-text-2"  fxFlex="20">
                  {{p.value.name}}
                </div>
                <div *ngIf="p.value.specificationValues.length > 0" class="sc-product__create-margin-right-3" fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex="30">
                    <mat-select name="select value" placeholder="Select Value"
                                (valueChange)="addAttribute($event, p)">
                      <mat-option class="md-align-center" *ngFor="let item of p.value.specificationValues" [value]="item">
                        {{ item }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-chip-list class="md-margin-left-3" fxFlex="70">
                    <mat-chip *ngFor="let item of p.value.contentList" [selectable]="selectable"
                              [removable]="removable" (removed)="removeAttribute(item, p)">
                      {{item}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
                <div *ngIf="p.value.specificationValues.length <= 0" class="sc-product__create-margin-right-3" fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field fxFlex>
                    <input type="text" matInput placeholder="Attribute Value" formControlName="content">
                  </mat-form-field>
                </div>
              </div>
              <div [formGroupName]="i">
                <div *ngIf="p.get('content').invalid && (p.get('content').dirty ||
                    p.get('content').touched)" class="xb-input-error">
                  <div *ngIf="p.get('content').hasError('required')">
                    The Quantity field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-product__create-margin-top" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" type="button" (click)="changeSpecification()">
            SAVE CHANGES
          </button>
        </div>
      </form>
      <form *ngIf="step == 2" [formGroup]="productVariantForm" novalidate>
        <div class="sc-product__create-container-1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sc-product__create-title">
              Inventory & Pricing
            </div>
            <div *ngIf="attributes && attributes.length > 0">
              <button mat-raised-button color="primary" type="button" (click)="openVariantDialog()">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <i class="material-icons">add</i>
                  <span class="md-margin-left-1">Add a New Variant</span>
                </div>
              </button>
            </div>
          </div>
          <div class="md-margin-top-3">
            <div formArrayName="variants" *ngIf="attributes && attributes.length > 0">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 md-dark-secondary xb-bold"
                     fxFlex="12" fxLayout="row" fxLayoutAlign="start center">
                  Variants
                </div>
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 sc-product__create-width-4
                md-dark-secondary xb-bold md-align-center" fxFlex="none">
                  Image
                </div>
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center"
                     fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                  SKU
                </div>
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center"
                     fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
                  Quantity
                </div>
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center"
                     fxFlex="12">
                  MRP
                </div>
                <div class="sc-product__create-margin-right-3 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center"
                     fxFlex="10">
                  Cost Price
                </div>
                <div class="md-dark-secondary xb-bold sc-product__create-title-1 md-align-center"
                     fxFlex="10">
                  Sale Price
                </div>
                <div class="md-dark-secondary xb-bold sc-product__create-title-1 md-align-center"
                     fxFlex="15">
                  Sourcing Price
                </div>
                <div class="sc-product__create-width-3" fxFlex="none" >

                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let p of product.controls; let i = index;">
                <div class="md-margin-top-2" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.value.isEdit">
                  <!--<div class="sc-product__create-margin-right-3 sc-product__create-text-2" *ngIf="!isSuperUser" fxFlex="12">-->
                    <!--{{p.value.attributes}}-->
                  <!--</div>-->
                  <div class="sc-product__create-margin-right-3 sc-product__create-text-2" fxFlex="12"
                   formArrayName="attributeValues">
                    <div *ngFor="let g of p.controls.attributeValues.controls; let j = index;">
                      <div>{{g.value.name}}</div>
                      <mat-form-field class="sc-product__create-width-100" [formGroupName]="j">
                        <input class="md-align-center" type="text" matInput formControlName="value">
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="sc-product__create-margin-right-3 sc-product__create-width-4" fxFlex="none">
                    <app-product-image-upload-variant [(previewImgFile)]="p.value.mainImage"
                                                  [(previewImgSrcs)]="p.value.mainImage"></app-product-image-upload-variant>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field class="sc-product__create-width-100" fxFlex="">
                      <input class="md-align-center" type="text" matInput formControlName="sku">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="variantStockrecord">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="12" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-1 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input type="text" matInput formControlName="saleUnitPrice">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-1 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input type="text" matInput formControlName="costPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-1 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input type="text" matInput formControlName="unitPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="sourcingPrice">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-width-3" fxLayout="row" fxLayoutAlign="center center" fxFlex="none" (click)="editVariant(p, i)">
                    <div class="md-margin-left-2">
                      <button mat-raised-button color="primary" type="button">
                        SAVE
                      </button>
                    </div>
                  </div>
                </div>
                <div [formGroupName]="i" *ngIf="p.value.isEdit">
                  <div *ngIf="p.get('variantStockrecord').invalid && (p.get('variantStockrecord').dirty ||
                    p.get('variantStockrecord').touched)" class="xb-input-error">
                    <div *ngIf="p.get('variantStockrecord').hasError('required')">
                      The Quantity field is required.
                    </div>
                  </div>
                  <div *ngIf="p.get('sku').invalid && (p.get('sku').dirty ||
                    p.get('sku').touched)" class="xb-input-error">
                    <div *ngIf="p.get('sku').hasError('required')">
                      The SKU field is required.
                    </div>
                  </div>
                  <div *ngIf="p.get('saleUnitPrice').invalid && (p.get('saleUnitPrice').dirty ||
                    p.get('saleUnitPrice').touched)" class="xb-input-error">
                    <div *ngIf="p.get('saleUnitPrice').hasError('required')">
                      This Sale Price field is required.
                    </div>
                  </div>
                </div>
                <div class="md-margin-top-2" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" *ngIf="!p.value.isEdit">
                  <div class="sc-product__create-margin-right-3 sc-product__create-text-2" fxFlex="12">
                    {{p.value.attributes}}
                  </div>
                  <div class="sc-product__create-margin-right-3 sc-product__create-width-4 md-align-center" fxFlex="none">
                    <app-product-image-upload-variant-preview [previewImgSrcs]="p.value.mainImage"></app-product-image-upload-variant-preview>
                  </div>
                  <div class="sc-product__create-margin-right-3 md-align-center" fxFlex="15">
                    {{p.value.sku}}
                  </div>
                  <div class="sc-product__create-margin-right-3 md-align-center" fxFlex="10">
                    {{p.value.variantStockrecord}}
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="12" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.saleUnitPrice}}
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.costPrice}}
                  </div>
                  <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.unitPrice}}
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.sourcingPrice}}
                  </div>
                  <div class="sc-product__create-width-3" fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
                    <div class="md-margin-left-2">
                      <i class="material-icons md-dark-secondary xb-pointer" (click)="editVariant(p)">edit</i>
                    </div>
                    <div class="md-margin-left-2">
                      <i class="material-icons md-dark-secondary xb-pointer" (click)="deleteVariantObject(i)">delete</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="variants" *ngIf="attributes && attributes.length == 0">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-product__create-margin-right-2 sc-product__create-title-1 md-dark-secondary xb-bold md-caption"
                     fxFlex="25">
                  SKU
                </div>
                <div class="sc-product__create-margin-right-2 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center md-caption"
                     fxFlex="15">
                  Quantity
                </div>
                <div class="sc-product__create-margin-right-2 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center md-caption"
                     fxFlex="15">
                  MRP<br>原价
                </div>
                <div class="sc-product__create-margin-right-2 sc-product__create-title-1 md-dark-secondary xb-bold md-align-center md-caption"
                     fxFlex="15">
                  Cost Price<br>成本价
                </div>
                <div class="md-dark-secondary sc-product__create-title-1 xb-bold md-align-center md-caption"
                     fxFlex="15">
                  Sale Price<br>销售价
                </div>
                <div class="md-dark-secondary sc-product__create-title-1 xb-bold md-align-center md-caption"
                     fxFlex="15">
                  Sourcing Price<br>提货价
                </div>
                <div class="sc-product__create-width-3" fxFlex="none" >

                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start stretch" *ngFor="let p of product.controls; let i = index;">
                <div class="md-margin-top-2" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" *ngIf="p.value.isEdit">
                  <div class="sc-product__create-margin-right-3"  fxFlex="25" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field class="sc-product__create-width-100" fxFlex>
                      <input class="md-align-center" type="text" matInput formControlName="sku">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="variantStockrecord">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="saleUnitPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="costPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="unitPrice">
                    </mat-form-field>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    <mat-form-field class="sc-product__create-width-100">
                      <input class="md-align-center" type="text" matInput formControlName="sourcingPrice">
                    </mat-form-field>
                  </div>
                  <div class="sc-product__create-width-3" fxLayout="row" fxLayoutAlign="center center" fxFlex="none" (click)="editVariant(p)">
                    <div class="md-margin-left-2">
                      <button mat-raised-button color="primary" type="button">
                        SAVE
                      </button>
                    </div>
                  </div>
                </div>
                <div [formGroupName]="i" *ngIf="p.value.isEdit">
                  <div *ngIf="p.get('variantStockrecord').invalid && (p.get('stock').dirty ||
                    p.get('variantStockrecord').touched)" class="xb-input-error">
                    <div *ngIf="p.get('variantStockrecord').hasError('required')">
                      The Quantity field is required.
                    </div>
                  </div>
                  <div *ngIf="p.get('sku').invalid && (p.get('sku').dirty ||
                    p.get('sku').touched)" class="xb-input-error">
                    <div *ngIf="p.get('sku').hasError('required')">
                      The SKU field is required.
                    </div>
                  </div>
                  <div *ngIf="p.get('saleUnitPrice').invalid && (p.get('saleUnitPrice').dirty ||
                    p.get('saleUnitPrice').touched)" class="xb-input-error">
                    <div *ngIf="p.get('saleUnitPrice').hasError('required')">
                      This Sale Price field is required.
                    </div>
                  </div>
                </div>
                <div class="md-margin-top-2" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" *ngIf="!p.value.isEdit">
                  <div class="sc-product__create-margin-right-2" fxFlex="25">
                    {{p.value.sku}}
                  </div>
                  <div class="sc-product__create-margin-right-2 md-align-center" fxFlex="15">
                    {{p.value.variantStockrecord}}
                  </div>
                  <div class="sc-product__create-margin-right-2" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.saleUnitPrice}}
                  </div>
                  <div class="sc-product__create-margin-right-2" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.costPrice}}
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.unitPrice}}
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                    <div class="md-margin-right-2 sc-product__create-title">Rs</div>
                    {{p.value.sourcingPrice}}
                  </div>
                  <div class="sc-product__create-width-3" fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
                    <div class="md-margin-left-2">
                      <i class="material-icons md-dark-secondary xb-pointer" (click)="editVariant(p, i)">edit</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-product__create-container-1">
          <div class="sc-product__create-title">
            Variant Attributes Alias
          </div>
          <div class="md-margin-top-2" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <ng-container *ngFor="let item of attributes; let i = index;">
                <mat-form-field fxFlex="48" *ngIf="item.name == 'Size'">
                  <input type="text" matInput placeholder="Product Size Display Name" formControlName="aliasSize">
                </mat-form-field>
                <mat-form-field fxFlex="48" *ngIf="item.name == 'Color'">
                  <input type="text" matInput placeholder="Product Color Display Name" formControlName="aliasColor">
                </mat-form-field>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="sc-product__create-margin-top" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" type="button" (click)="changeAttributesValue()">
            SAVE CHANGES
          </button>
        </div>
      </form>
      <div *ngIf="step == 3">
        <div class="sc-product__create-container-1">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sc-product__create-title">
              Shipping
            </div>
            <div>
              <button type="button" mat-raised-button color="primary">
                <div fxLayout="row" fxLayoutAlign="start center" (click)="openAddShippingDialog()">
                  <i class="material-icons">add</i>
                  <span class="md-margin-left-1">Add Another Shipping Method</span>
                </div>
              </button>
            </div>
          </div>
          <div class="md-margin-top-3">
            <div >
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="sc-product__create-margin-right-1 sc-product__create-width-6 md-dark-secondary xb-bold md-caption"
                     fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
                  Country
                </div>
                <div class="sc-product__create-margin-right-1 md-dark-secondary xb-bold md-caption" fxFlex="15">
                  Method
                </div>
                <div class="sc-product__create-margin-right-1 md-dark-secondary xb-bold md-caption"
                     fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                  Carrier
                </div>
                <div class="sc-product__create-margin-right-3 md-dark-secondary xb-bold md-caption"
                     fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                  Cost
                </div>
                <div class="md-dark-secondary xb-bold md-caption"
                     fxFlex="15">
                  Time
                </div>
                <div class="sc-product__create-width-3" fxFlex="none"></div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start stretch" >
                <div class="sc-product__edit-line" fxLayout="row" fxLayoutAlign="start center"
                     *ngFor="let p of productShippingList; let i = index;">
                  <div class="sc-product__create-margin-right-1 sc-product__create-width-6 sc-product__create-text-2" fxFlex="none">
                    <ng-container *ngFor="let item of countries">
                      <div *ngIf="item.id == p.countryId">{{item.name}}</div>
                    </ng-container>
                  </div>
                  <div class="sc-product__create-margin-right-1" fxFlex="15">
                    {{p.type}}
                  </div>
                  <div class="sc-product__create-margin-right-1" fxFlex="15" >
                    {{p.shippingName}}
                  </div>
                  <div class="sc-product__create-margin-right-3" fxFlex="15">
                    {{p.priceItem}}
                  </div>
                  <div fxFlex="15">
                    {{p.shippingTimeMin}} - {{p.shippingTimeMax}} business days
                  </div>
                  <div class="sc-product__create-width-3" fxLayout="row" fxLayoutAlign="start center" fxFlex="none">
                    <div class="md-margin-left-2">
                      <i class="material-icons md-dark-secondary xb-pointer" (click)="openEditShippingDialog(i)">edit</i>
                    </div>
                    <div class="md-margin-left-2">
                      <i class="material-icons md-dark-secondary xb-pointer" (click)="deleteShippingObject(i)">delete</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form *ngIf="step == 4" [formGroup]="productLogisticForm" novalidate>
        <div class="sc-product__create-container-1">
          <div class="sc-product__create-title">
            Logistics Information
          </div>
          <div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package length</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="length">
                </mat-form-field>
              </div>
              <div>cm</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('length').invalid && (productLogisticForm.get('length').dirty ||
              productLogisticForm.get('length').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('length').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package Width</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="width">
                </mat-form-field>
              </div>
              <div>cm</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('width').invalid && (productLogisticForm.get('width').dirty ||
              productLogisticForm.get('width').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('width').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Package Height</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="height">
                </mat-form-field>
              </div>
              <div>cm</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('height').invalid && (productLogisticForm.get('height').dirty ||
              productLogisticForm.get('height').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('height').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Net Weight</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="weight">
                </mat-form-field>
              </div>
              <div>kg</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('weight').invalid && (productLogisticForm.get('weight').dirty ||
              productLogisticForm.get('weight').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('weight').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Shipping Weight</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="shippingWeight">
                </mat-form-field>
              </div>
              <div>kg</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('shippingWeight').invalid && (productLogisticForm.get('shippingWeight').dirty ||
              productLogisticForm.get('shippingWeight').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('shippingWeight').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Supplier Name</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="shopName">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('shopName').invalid && (productLogisticForm.get('shopName').dirty ||
              productLogisticForm.get('shopName').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('shopName').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Supplier Location</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="supplierLocation">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('supplierLocation').invalid && (productLogisticForm.get('supplierLocation').dirty ||
              productLogisticForm.get('supplierLocation').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('supplierLocation').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Processing Time</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="processingTime">
                </mat-form-field>
              </div>
              <div>days</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('processingTime').invalid && (productLogisticForm.get('processingTime').dirty ||
              productLogisticForm.get('processingTime').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('processingTime').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Minimum Quantity</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="minimumQuantity">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('minimumQuantity').invalid && (productLogisticForm.get('minimumQuantity').dirty ||
              productLogisticForm.get('minimumQuantity').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('minimumQuantity').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Custom Declared Value</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div class="sc-product__create-margin-right-2">Rs</div>
                <mat-form-field fxFlex>
                  <input type="text" matInput formControlName="customsDeclaredCharge">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('customsDeclaredCharge').invalid && (productLogisticForm.get('customsDeclaredCharge').dirty ||
              productLogisticForm.get('customsDeclaredCharge').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('customsDeclaredCharge').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Country of Origin</div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-form-field fxFlex>
                  <mat-select name="originCountryId" placeholder="Select a Country Code"
                              formControlName="originCountryId">
                    <mat-option *ngFor="let item of countries" [value]="item.id">
                      {{ item.code }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('originCountryId').invalid && (productLogisticForm.get('originCountryId').dirty ||
              productLogisticForm.get('originCountryId').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('originCountryId').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Powder</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isPowder">
                  <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                    [value]="value.value" color="primary">
                    {{ value.text }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('isPowder').invalid && (productLogisticForm.get('isPowder').dirty ||
              productLogisticForm.get('isPowder').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('isPowder').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Liquid</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isLiquid">
                  <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                    [value]="value.value" color="primary">
                    {{ value.text }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('isLiquid').invalid && (productLogisticForm.get('isLiquid').dirty ||
              productLogisticForm.get('isLiquid').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('isLiquid').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none">Contains Battery</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <mat-radio-group fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap formControlName="isBattery">
                  <mat-radio-button class="sc-product__create-height sc-product__create-margin-right-4" *ngFor="let value of YesOrNo;let i = index;"
                                    [value]="value.value" color="primary">
                    {{ value.text }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="sc-product__create-width-2 sc-product__create-margin-right-1" fxFlex="none"></div>
              <div class="sc-product__create-margin-right-2" fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                <div *ngIf="productLogisticForm.get('isBattery').invalid && (productLogisticForm.get('isBattery').dirty ||
              productLogisticForm.get('isBattery').touched)" class="xb-input-error">
                  <div *ngIf="productLogisticForm.get('isBattery').hasError('required')">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sc-product__create-margin-top" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" type="button" (click)="changeProductLogistic()">
            SAVE CHANGES
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
