<div class="xb-account-item" fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="40">
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">id:&nbsp;&nbsp;&nbsp;</span>{{item.id}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">First Name:&nbsp;&nbsp;&nbsp;</span>{{item.firstName}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Last Name:&nbsp;&nbsp;&nbsp;</span>{{item.lastName}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Email Address:&nbsp;&nbsp;&nbsp;</span>{{item.email}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Country:&nbsp;&nbsp;&nbsp;</span>{{item.country}}
    </div>
  </div>
  <div fxFlex="50">
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Store Name:&nbsp;&nbsp;&nbsp;</span> {{item.firstStore?item.firstStore.name: ''}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Target Market:&nbsp;&nbsp;&nbsp;</span> {{item.firstStore?item.firstStore.country.name: ''}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Store URL:&nbsp;&nbsp;&nbsp;</span> https://www.socialcommer.com/{{item.firstStore?item.firstStore.displayName:''}}
    </div>
    <div class="xb-account-item__text" fxLayout="row" fxLayoutAlign="start center">
      <span class="xb-bold">Social Media:&nbsp;&nbsp;&nbsp;</span> {{item.firstStore?item.firstStore.socialMediaLink:''}}
    </div>
  </div>
  <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button color="primary" *ngIf="status == 0 || status == 1 || status == 3" (click)="approved()">Approve</button>
    <button mat-button color="primary" *ngIf="status == 0" (click)="skipped()">Skip</button>
    <button mat-button color="primary" *ngIf="status == 0 || status == 1 || status == 2" (click)="disapproved()">Disapprove</button>
  </div>
</div>
