<div class="sc-promotion-dialog">
  <div class="sc-promotion-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-promotion-dialog__title">Select Product</div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="unicorn-dark-theme" *ngIf="categoryItem == 'old'">
      <mat-form-field class="sc-promotion-dialog__width">
        <mat-select [ngModel]="cat" placeholder="Filter by category" name="Category"
                    (ngModelChange)="categorySelect($event)">
          <mat-option class="md-align-center" *ngFor="let item of data.oldCategoryList" [value]="item.id">
            {{ item.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="unicorn-dark-theme" *ngIf="categoryItem == 'new'">
      <mat-form-field class="sc-promotion-dialog__width">
        <mat-select [ngModel]="cat" placeholder="Filter by category" name="Category"
                    (ngModelChange)="categorySelect($event)">
          <mat-option class="md-align-center" *ngFor="let item of data.newCategoryList" [value]="item.id">
            {{ item.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="md-margin-left-3 unicorn-dark-theme">
      <mat-form-field class="sc-promotion-dialog__width">
        <mat-select [(ngModel)]="categoryItem" placeholder="Select Category" name="select category">
          <mat-option class="md-align-center" *ngFor="let item of old" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="md-margin-left-4" fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <form class="sc-promotion-dialog__search" [formGroup]="searchForm"
            fxLayout="row" fxLayoutAlign="start center" >
        <i class="material-icons">search</i>
        <input type="text" formControlName="searchKey" [(ngModel)]="searchKey"
               placeholder="Search"
               (keyup.enter)="getPromoteProduct()"/>
        <div class="sc-promotion-dialog__search-close" fxLayout="row" fxLayoutAlign="center center"
             *ngIf="searchKey != ''" (click)="clearSearchKey()">
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
  <div class="sc-promotion-dialog__bg">
    <app-lottery-select-product-title></app-lottery-select-product-title>
    <div *ngFor="let item of promotionProduct;let i = index;">
      <app-lottery-select-product-item [promote]="item" [index]="i" [promoteId]="data.promotionId"
         (promoteChange)="promoteChanges($event)"></app-lottery-select-product-item>
    </div>
    <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
         *ngIf="promotionProduct && promotionProduct.length <= 0">
      <div fxLayout="column" fxLayoutAlign="center center">
        <i class="iconfontXberts icon-ic-empty"></i>
        <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any product yet. </div>
      </div>
    </div>
    <div class="md-margin-top-2">
      <app-lottery-pagination  [length]="length"
        [page]="page" [pageSize]="pageSize" (paginationChange)="changePage($event)" ></app-lottery-pagination>
    </div>
  </div>
</div>
