<div class="sc-product-dialog">
  <div class="sc-product-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-dialog__title">
    查看采购信息
  </div>
  <div class="xb-bold md-margin-top-2">商品信息</div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start stretch" *ngFor="let item of productItems;let i = index;">
    <div class="sc-product__product-image" fxFlex="none">
      <img [src]="item.productImgUrl[0]">
    </div>
    <div class="md-margin-right-2" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
      <div class="sc-product__product-title" >{{item.name}}</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>SKU: {{item.skuId || item.skuID}}</div>
        <div class="md-margin-left-2" fxFlex>单价:¥ {{item.price}}</div>
        <div> x {{item.quantity}}</div>
      </div>
    </div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 xb-bold sc-product-dialog__width">供应商的公司名称</div>
    <div>{{sellerContact.companyName}}</div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 xb-bold sc-product-dialog__width">供应商的会员登录名（阿里旺旺）</div>
    <div>{{sellerContact.imInPlatform}}</div>
  </div>
  <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 xb-bold sc-product-dialog__width">供应商的手机号</div>
    <div>{{sellerContact.mobile || sellerContact.phone }}</div>
  </div>
</div>
