<div class="xb-loading" *ngIf="showLoading">
  <mat-progress-bar [mode]="determinate" [value]="loadingValue" color="accent"></mat-progress-bar>
</div>
<div class="xb-login__scroll background-bg-light">
  <div class="xb-login__scroll-inner" fxLayout="column">
    <div class="background-bg-white" fxFlex="none">
      <div class="container">
      </div>
    </div>


    <div  fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center ">

      <div class="xb-login__container" fxLayout="column" >
        <!--<div>-->
          <!--<i class="iconfont-socialcommer icon-ic-close"></i>-->
        <!--</div>-->
        <div fxLayout="column" >

          <div fxLayoutAlign="center center" class="icon-img">
            <img style="width: 60px;" src="../../../assets/price-drop-logo.png"  alt="">
          </div>
          <div class="price-name">PriceDrop</div>


          <p style="" class="icon-dec">To help your friend drop the price, please login with your Google account first! </p>

          <!--<div class="md-align-center md-margin-top-2 md-margin-bottom-2">OR</div>-->
          <!--<button class="xb-login__facebook" mat-raised-button (click)="facebookLogin('facebook')">-->
            <!--<div fxLayout="row" fxLayoutAlign="start center">-->
              <!--<i class="iconfontXberts icon-ic-facebook"></i>-->
              <!--<span class="md-align-center gtag-login-facebook-btn" fxFlex>Continue with Facebook</span>-->
            <!--</div>-->
          <!--</button>-->

          <button class="xb-login__google" mat-raised-button (click)="googleLogin('google')">
            <div fxLayout="row" fxLayoutAlign="start center">
              <i class="iconfont-socialcommer icon-pic-google"></i>
              <span class="md-align-center gtag-login-google-btn" fxFlex>Continue with Google</span>
            </div>
          </button>

        </div>

      </div>
    </div>

  </div>
</div>


<!--<div class="container"-->
     <!--fxLayout="row"-->
     <!--fxLayout.xs="column"-->
     <!--fxLayoutAlign="center"-->
     <!--fxLayoutGap="10px"-->
     <!--fxLayoutGap.xs="0">-->
  <!--<div class="item item-1" fxFlex="33 center">-->
    <!--<img style="width: 80px;" src="../../../assets/price-drop-logo.png"  alt="">-->
  <!--</div>-->
  <!--<div class="item item-2" fxFlex="33">Item 2</div>-->
  <!--<div class="item item-3" fxFlex="33">-->
    <!--<button class="xb-login__google" mat-raised-button (click)="googleLogin('google')">-->
      <!--<div fxLayout="row" fxLayoutAlign="start center">-->
        <!--<i class="iconfontXberts icon-pic-google"></i>-->
        <!--<span class="md-align-center gtag-login-google-btn" fxFlex>Continue with Google</span>-->
      <!--</div>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
