<div class="sc-product__product-navigation-fixed">
  <div class="container">
    <div class="sc-product__product-navigation-inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="45">
        采购订单信息
      </div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">发货状态</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">发货时间</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">物流公司</div>
      <div class="sc-product__product-title-2" fxFlex="15"
           fxLayout="column" fxLayoutAlign="center center">快递单号</div>
      <div class="sc-product__product-title-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">操作</div>
    </div>
  </div>
</div>

