<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 0">
  <div class="sc-promote__promote-title-2" fxFlex="25">
    Campaign
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Type
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Status
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="35"
       fxLayout="column" fxLayoutAlign="center center">
    Time
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Performance
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center" *ngIf="status > 0">
  <div class="sc-promote__promote-title-2" fxFlex="25">
    Campaign
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Type
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">
    Time
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Performance
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
