<form class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch" [formGroup]="attributeForm" novalidate >
  <div class="md-margin-right-2" fxFlex="45" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="sc-product__product-title" *ngIf="!isEdit">
      {{product.name}}
    </div>
    <div *ngIf="isEdit" fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <input class="md-align-center" type="text" matInput formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div class="md-margin-right-2" fxFlex="40" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="sc-product__product-title" *ngIf="!isEdit">
      {{product.chineseName}}
    </div>
    <div *ngIf="isEdit" fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <input class="md-align-center" type="text" matInput formControlName="chineseName">
      </mat-form-field>
    </div>
  </div>
  <div class="sc-product__product-action-buttons sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="15">
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!isEdit">
      <div>
        <i class="material-icons md-dark-secondary xb-pointer" (click)="edit()">edit</i>
      </div>
      <div class="md-margin-left-2">
        <i class="material-icons md-dark-secondary xb-pointer" (click)="delete()">delete</i>
      </div>
      <div class="md-margin-left-2">
        <i class="material-icons md-dark-secondary xb-pointer" (click)="add()">add</i>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="save()" *ngIf="isEdit">Save</button>
  </div>
</form>
