<div class="xb-account-item" fxLayout="row" fxLayoutAlign="start center" *ngIf="!isEdit">
  <div class="xb-account-item__text" fxFlex="65">{{item.keyWords}}</div>
  <div class="xb-account-item__text md-align-center" fxFlex="20">{{item.index}}</div>
  <div class="md-align-center sc__accent-dark" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
    <i class="material-icons md-dark-secondary xb-pointer" (click)="edit()">edit</i>
    <div class="md-margin-left-2"></div>
    <i class="material-icons md-dark-secondary xb-pointer" (click)="delete()">delete</i>
  </div>
</div>
<form class="xb-account-item" fxLayout="row" fxLayoutAlign="start center" *ngIf="isEdit" [formGroup]="hotwordForm" novalidate >
  <div class="xb-account-item__text" fxFlex="65">
    <mat-form-field>
      <input class="md-align-center" type="text" matInput formControlName="key">
    </mat-form-field>
  </div>
  <div class="xb-account-item__text md-align-center" fxFlex="20">
    <mat-form-field>
      <input class="md-align-center" type="text" matInput formControlName="index">
    </mat-form-field>
  </div>
  <div class="md-align-center sc__accent-dark" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="edit()">Save</button>
  </div>
</form>
