<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-order-dialog__title">
    Add Tracking Information
  </div>
  <div class="md-margin-top-2 sc-order__detail-border-bottom">
    <app-warehouse-order-detail-title [status]="2"></app-warehouse-order-detail-title>
  </div>
  <div>
    <app-warehouse-order-detail-item [status]="2" [order]="order"></app-warehouse-order-detail-item>
  </div>
  <form class="md-margin-top-3" [formGroup]="trackingForm" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
        <mat-form-field fxFlex>
          <input type="text" matInput placeholder="Tracking Number" formControlName="shippingNumber">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <mat-select name="shippingProvider" placeholder="Select a Provider" formControlName="shippingId">
          <mat-option class="md-align-center" *ngFor="let item of shippingList" [value]="item.id">
            {{ item.shippingProvider }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="changeTracking()">SAVE</button>
    <div class="md-margin-left-2">
      <button mat-button color="primary" (click)="close()">CANCEL</button>
    </div>
  </div>
</div>
