<div class="sc-promote__promote-navigation-1" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2 md-dark-secondary md-margin-right-2 sc-promote__promote-width-5"
       fxFlex="none">
    Variants
  </div>
  <div class="sc-promote__promote-title-2 md-dark-secondary md-align-center md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Flash Sale Inventory
  </div>
  <div class="sc-promote__promote-title-2 md-dark-secondary md-align-center md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Flash Sale Payment Pending Inventory
  </div>
  <div class="sc-promote__promote-title-2 md-dark-secondary md-align-center md-margin-right-2" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Total Available Inventory
  </div>
  <div class="sc-promote__promote-width-1 sc-promote__promote-title-2 md-dark-secondary md-align-center"
       fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
