@charset "UTF-8";
@import "../../styles/utils/_index";
@import "../../styles/_variables";

.xb-account {
  position: relative;

  &__header{
    position: absolute;
    background-color: $whiteColor;
    height: 65px;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &-none{
    padding: 96px 0;
    background-color: $whiteColor;
    border-radius: 4px;
    span{
      margin-top: 16px;
      @include media();
    }
  }
}



.xb-account-item {
  background-color: $whiteColor;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 16px;
  &__text {
    font-size: 14px;
    @include regular();
    line-height: 1.5em;
  }
}



