@import "../../styles/utils/_index";
@import "../../styles/_variables";

.sc-promote{

  &__title{
    margin: 40px 16px 24px;
    font-size: 24px;
    @include media();
  }

  &__promote{
    position: relative;

    &-bg{
      border-radius: 4px;
      overflow: hidden;
    }

    &-list{
      padding: 0 16px;
      background-color: $whiteColor;
    }

    &-buttons{
      position: absolute;
      right: 16px;
      top: 8px;
      z-index: 10;
    }

    &-navigation{
      padding: 0 16px;
      height: 54px;
      background-color: $lightGrayColor;

      &-1{
        padding: 0 12px;
        background-color: $lightWhiteColor;
        height: 40px;
      }
    }


    &-none{
      padding: 96px 0;
      background-color: $whiteColor;
      border-radius: 4px;
      span{
        margin-top: 16px;
        @include media();
      }
      i{
        font-size: 96px;
        line-height: 96px;
        color: rgba(0,0,0,.38);
      }
    }

    &-item{
      padding: 16px 0;
      border-bottom: 1px solid rgba(0,0,0,.12);

      &-1{
        padding: 16px 12px;
        border-bottom: 1px solid rgba(0,0,0,.12);
      }
    }

    &-title-1{
      font-size: 16px;
      @include media();
      color: rgba(0,0,0,.87);
    }

    &-title-2{
      font-size: 12px;
      @include media();
    }

    &-width{
      width: 138px;
    }

    &-width-1{
      width: 88px;
    }

    &-width-2{
      width: 32px;
    }

    &-width-3{
      width: 60px;
    }

    &-width-4{
      width: 120px;
    }

    &-text{
      font-size: 12px;
    }

    &-button{
      line-height: 24px;
      border-bottom: 1px solid rgba(0,0,0,.12);
      min-width: 100px;
      text-align: center;
      cursor: pointer;
    }

    &-image{
      width: 60px;
      height: 60px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 16px;
      position: relative;
      border: 1px solid rgba(0,0,0,.12);

      >img{
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }

    &-image-1{
      width: 135px;
      height: 60px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 16px;
      position: relative;
      border: 1px solid rgba(0,0,0,.12);

      >img{
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }

  &__create{
    &-text{
      padding: 0 16px;
    }

    &-bg{
      padding: 24px 16px;
      border-radius: 4px;
      background-color: $whiteColor;
    }

    &-width{
      width: 140px;
    }

    &-align-center{
      text-align: center;
    }
  }

}

.sc-promotion-dialog{

  padding: 28px 40px;
  width: 800px;
  height: 600px;
  overflow-y: scroll;
  position: relative;
  background-color: $whiteColor;
  border-radius: 4px;
  @include xb-xs-screen{
    padding: 16px 16px;
  }

  &__large{
    padding: 40px 40px;
    max-width: 960px;
    width: 100%;
    position: relative;
    background-color: $whiteColor;
    border-radius: 4px;
    @include xb-xs-screen{
      padding: 16px 16px;
    }
  }

  &__subevent{
    padding: 28px 40px;
    width: 800px;
    overflow-y: scroll;
    position: relative;
    background-color: $whiteColor;
    border-radius: 4px;
    @include xb-xs-screen{
      padding: 16px 16px;
    }
  }

  &__close{
    position: absolute;
    left: calc(100% - 36px);
    top: 12px;
    color: $blackColor;
    cursor: pointer;
    i{
      font-size: 24px;
      line-height: 24px;
      @include media();
    }
  }

  &__title{
    font-size: 24px;
    line-height: 28px;
    @include media();
  }

  &__width{
    width: 172px;
  }

  &__width-1{
    width: 60px;
  }

  &__search{
    border-bottom: 2px solid $blackColor;
    height: 32px;
    margin: 16px 0 30px;
    position: relative;

    >i{
      margin: 0 16px 0 0;
      color: $blackColor;
    }

    >input{
      border: none;
      background-color: transparent;
      width: 150px;
    }

    &-close{
      position: absolute;
      cursor: pointer;
      right: 0;
      top: 50%;
      @include transform(translateY(-50%));
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: rgba(0,0,0,.54);
      >i{
        font-size: 12px;
        line-height: 12px;
        color: $whiteColor;
      }
    }
  }

  &__bg{
    border-radius: 4px;
    overflow: hidden;
  }

}


.xb-pagination{
  line-height: 32px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  color: rgba(0,0,0,.87);
  cursor: pointer;

  &.active{
    background-color: #000;
    border: 1px solid #000;
    color: $whiteColor;
  }

  &:hover{
    background-color: #000;
    border: 1px solid #000;
    color: $whiteColor;
  }

}
