.landing{
  &__slide{
    width: 100%;
    padding-bottom: 45%;
    height: 0;
    border-radius: 8px;
    position: relative;
  }
  &__bg{
    margin: 12px 16px 8px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__notification{
    width: 100%;
    height: 32px;
    border-radius: 20px;
    overflow: hidden;
    background: #FCEACF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);

    &-bg{
      position: relative;
      margin: 0 16px;
    }
  }
}
.category-line{
  overflow-x: scroll;
  margin-top: 16px;
  &-block{
    width: 56px;
    height: 56px;

    &-1{
      width: 56px;
      height: 56px;
      background-color: #424242;
      border-radius: 50%;
    }
  }
  &-icon{
    font-size: 56px;
    &-1{
      font-size: 32px;
      color: #fff;
    }
  }
  &-word{
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    -webkit-transform:scale(0.8);
  }
}
.overflow-block{
  width: 80px;
  &-1{
    width: 80px;
    margin-left: 16px;
  }
}
.category-line::-webkit-scrollbar {
  display: none;
}

.circle{
  background-color:blue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -35px;
  z-index: -1
}

.flash-sale{
  margin: 14px 16px 16px 16px;
  padding: 18px 12px 16px 12px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  border-radius: 8px;
  background-color: white;
  &-icon{
    color:#00CFE3;
  }
  &-title{
    font-weight: 700;
  }
  &-view{
    font-size: 12px;
    color: #EF8A31;
  }
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
}
.timehh {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 2px;
}
.timespan {
  line-height: 18px;
  margin: 0 2px;
  font-size: 12px;
  font-weight: 700;
}
.mag-lr-8{
  margin:0 8px;
}
.fs-tag{
  background-color: #00CFE3;
  border-radius: 0 8px 8px 0;
  width: 33px;
  height: 16px;
  margin-bottom: -8px;
  z-index: 999;
  &-font{
    font-size:14px;
    transform:scale(0.7);
    color: #FFFFFF;
  }
}
.fs-img{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: hidden;
  position: relative;
  >img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.fs-price1{
  margin-top: 4px;
  font-size: 14px;
  //line-height: 17px;
  color: #EF8A31;
  font-weight: 500;
}
.fs-price2{
  font-size:12px;
  transform:scale(0.7);
  text-decoration: line-through;
  color: #000000;
  //line-height: 10px;
}

.commodity{
  margin: 18px 16px 12px 16px;
  &-block{
    padding: 13px 12px 12px 12px;
    margin-bottom: 12px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  }
  &-title{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000000;
  }
  &-view{
    font-size: 12px;
    line-height: 14px;
    color: #EF8A31;
  }
  &-icon{
    font-size: 20px;
    margin-right: 8px;
  }
  &-head1{
    margin-top: -42px
  }
  &-headimg{
    height: 53px;
  }
  &-headname{
    font-size: 12px;
    color: #FFFFFF;
    line-height: 14px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-headword{
    font-size:12px;
    transform:scale(0.8);
    color: #FFFFFF;
  }
  &-headoverflow-icon{
    width:18px;
    height: 18px;
    background-color: white;
    border-radius: 50%
  }
  &-headicon{
    font-size: 12px;
    text-align: center;
  }
  &-goods-row{
    margin: 13px 0 0 0
  }
  &-goods{
    //box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
    //border-radius: 4px;
    background: #FFFFFF;
  }
  //&-goods-img{
  //  width: 104px;
  //  height: 104px;
  //  border-top-right-radius: 4px;
  //  border-top-left-radius: 4px;
  //}
  &-price1{
    text-align: center;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    font-weight: 500;
    margin-top: 4px;
  }
  &-price2{
    text-align: center;
    font-size:12px;
    background-color: #00CFE3;
    border-radius: 7px;
    padding: 2px 10px;
    transform:scale(0.8);
    color: white;
    line-height: 12px;
    margin-bottom: 12px;
  }
}
.featured{
  padding: 16px 16px 0 16px;
  &-title{
    font-size: 16px;
    margin-bottom: 12px;
    color: #000000;
    font-weight: 500;
  }
  &-img{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1px rgba(0,0,0,0.12);
    >img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  &-price1{
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    //line-height: 17px;
    font-weight: 500;
  }
  &-off{
    font-size:14px;
    transform:scale(0.7);
    color: #EF8A31;
    //line-height: 12px;
  }
  &-price2{
    font-size:14px;
    transform:scale(0.7);
    color: #000000;
    //line-height: 12px;
    margin-top: -6px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: line-through;
  }
}
.gd-img-image{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  //border-top-right-radius: 4px;
  //border-top-left-radius: 4px;
  overflow: hidden;
  position: relative;
  >img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.mag-b-14{
  margin-bottom: 14px;
}
.mag-r-15{
  margin-right: 15px
}

.overflow-body{
  height: calc(100vh - 112px);
  overflow-y: scroll;
}
.overflow-body-height{
  height: calc(100vh - 56px);
  overflow-y: scroll;
}
