<div class="sc-product__product-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div *ngIf="status == 1" fxFlex="5">
    <mat-checkbox [checked]="checked" (change)="changeChecked($event)"></mat-checkbox>
  </div>
  <div class="sc-product__product-width sc-product__product-title-1" fxFlex="none">
    Product
  </div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="35">&nbsp;</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Inventory</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Price</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Type</div>
  <div class="sc-product__product-title-1 md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Status</div>
  <div class="sc-product__product-title-1" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
