<div class="xb-navigation-header" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-navigation-header__margin-left" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div class="xb-navigation-header__margin-left-logo">
      <img class="xb-navigation-header__image xb-pointer" src="https://media.xberts.com/collector/source/web/pic/logo-180x28.png"
           routerLink="/">
      <div  class="xb-navigation-header__margin-left-badge">
        Beta
      </div>
    </div>
    <div class="xb-navigation-header__title" fxFlex>
      采购与管理中心
    </div>
  </div>
</div>
