<div>
  <label class="preview-label preview-label__upload" fxLayout="row" fxLayoutAlign="center center" fxFlex="none"
         *ngIf="previewImgSrcs">
    <img src="{{previewImgSrcs}}" >
    <app-image-preview-loading [percent]="loading" *ngIf="!closeAnimate && !closeLoading"
                               (loadingChange)="loadingChange($event)" [width]="320"></app-image-preview-loading>
    <div class="popup-mask">
      <div fxLayout="row" fxLayoutAlign="end start">
        <i class="material-icons" (click)="remove();">clear</i>
      </div>
    </div>
  </label>
  <label class="preview-label preview-label__not-upload" *ngIf="!upload" fxLayout="row" fxLayoutAlign="center center"
    fxFlex="none">
    <input type="file" (change)="previewPic($event)">
    <i class="material-icons">add</i>
  </label>
</div>
