<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../../">Promotions</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Edit Campaign</span>
  </div>
  <div>
    <div class="md-margin-top-3 sc-promote__create-bg">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="sc-promote__promote-text xb-bold">Campaign Name</div>
        <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
          <mat-form-field fxFlex>
            <textarea matInput type="text" placeholder="" [(ngModel)]="campaign.title"
                      matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="3"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Status</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.flashStatus}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Campaign Type</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            {{campaign.promotionType}}
          </div>
        </div>
      </div>
      <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">Start Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.startTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="48">
          <div class="sc-promote__promote-text xb-bold">End Time</div>
          <div class="md-margin-left-3" fxLayout="row" fxLayoutAlign="start center">
            {{campaign.endTime | amTz:'Asia/Kolkata' | amDateFormat:'YYYY, MM.DD, hh:mm A'}}
          </div>
        </div>
      </div>
    </div>
    <div class="md-margin-top-3 sc-promote__create-text" fxLayout="row" fxLayoutAlign="start center"
         *ngIf="campaign.flashStatus == 'Scheduled' || campaign.flashStatus == 'Ongoing'">
      <div class="sc-promote__promote-text xb-bold">Add Product for This Campaign:</div>
      <div class="md-margin-left-3 sc__accent-dark">
        <button mat-raised-button color="primary" type="button" (click)="selectProduct()">
          Select
        </button>
      </div>
      <div class="md-margin-left-3">{{campaign.product.length}}</div>
    </div>
    <div class="md-margin-top-3 sc-promote__promote-bg">
      <app-promote-product-title [status]="1" *ngIf="campaign.flashStatus != 'Ended'">

      </app-promote-product-title>
      <app-promote-product-title [status]="2" *ngIf="campaign.flashStatus == 'Ended'">

      </app-promote-product-title>
      <ng-container *ngIf="campaign.flashStatus != 'Ended'">
        <div class="sc-promote__promote-list" *ngFor="let item of promotionProducts;let i = index;">
          <app-promote-product-item [promote]="item" [index]="i" [status]="1" [promoteId]="promotionId"
                                    (promotionChange)="changePromotionProduct($event)"></app-promote-product-item>
        </div>
      </ng-container>
      <ng-container *ngIf="campaign.flashStatus == 'Ended'">
        <div class="sc-promote__promote-list" *ngFor="let item of promotionProducts;let i = index;">
          <app-promote-product-item [promote]="item" [index]="i" [status]="2"
                                    (promotionChange)="changePromotionProduct($event)"></app-promote-product-item>
        </div>
      </ng-container>
      <div class="sc-promote__promote-none" fxLayout="row" fxLayoutAlign="center center"
           *ngIf="campaign.product && campaign.product.length <= 0">
        <div fxLayout="column" fxLayoutAlign="center center">
          <i class="iconfontXberts icon-ic-empty"></i>
          <div class="sc-promote__promote-title-1 md-margin-top-4">You haven't any promotion product yet. </div>
        </div>
      </div>
    </div>

    <div class="md-padding-top-4 md-padding-bottom-4" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="button" (click)="save()">
        SAVE
      </button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" routerLink="../../">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
