<div class="xb-customer-service-main__navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px md-margin-left-2" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Customers
  </div>
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center">Submitted On
  </div>
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center" *ngIf="status==1">Time Left
  </div>
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center" *ngIf="status==2">Responded On
  </div>
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center" *ngIf="status==3">Closed On
  </div>
  <div class="xb-customer-service-main__navigation-title xb-customer-service__right48px" fxFlex="15"
       fxLayout="row" fxLayoutAlign="start center" *ngIf="status==4">Expired On
  </div>
  <div class="xb-customer-service-main__navigation-title" fxFlex
       fxLayout="row" fxLayoutAlign="center center">Message
  </div>
</div>
