<div class="background-bg-light sc-main">
  <div class="sc-navigation">
    <div class="container sc-navigation__inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-navigation__logo" fxLayout="row" fxLayoutAlign="start center">
        <img src="https://media.xberts.com/collector/source/web/pic/logo-180x28.png" width="140">
        <div  class="sc-navigation__logo-badge">
          Beta
        </div>
      </div>
      <div class="sc-navigation__title" fxFlex>
        SELLERS CENTER
      </div>
      <div class="sc-navigation__pop-bg" fxLayout="row" fxLayoutAlign="start center" *ngIf="false">
        <div class="sc-navigation__title-1">帮助中心</div>
        <div class="sc-navigation__margin-left sc-navigation__title-1">语言切换</div>
      </div>
    </div>
  </div>
  <app-top-navigation></app-top-navigation>
  <router-outlet></router-outlet>
</div>
