<div class="sc-product-variant-dialog">
  <div class="sc-product-variant-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <div class="sc-product-variant-dialog__title">
    Add a New Variant
  </div>
  <form [formGroup]="variantForm" novalidate>
    <div class="sc-product__create-title md-margin-top-2">
      Variant Name
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" formArrayName="attributes">
      <div fxFlex="46" *ngFor="let p of attributes.controls; let i = index;">
        <div fxLayout="row" fxLayoutAlign="start center" [formGroupName]="i">
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="{{p.value.name}}" formControlName="value">
          </mat-form-field>
        </div>
        <div *ngIf="p.get('value').invalid && (p.get('value').dirty ||
                    p.get('value').touched)" class="xb-input-error">
          <div *ngIf="p.get('value').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let p of attributes.controls; let i = index;">
      <div *ngIf="p.value.name == 'Color'">
        <div class="sc-product__create-title md-margin-top-2">
          Main Image
        </div>
        <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
            <app-product-image-upload-color [previewImgFile]="image" (previewImgFileChange)="addVariantImage($event)"
                                            [previewImgSrcs]="image"></app-product-image-upload-color>
            <div class="md-align-center md-margin-top-1 md-margin-bottom-1">{{p.value.value}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sc-product__create-title md-margin-top-2">
      Inventory
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" >
      <div fxFlex="46" >
        <div fxLayout="row" fxLayoutAlign="start center" >
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Quantity" formControlName="stock">
          </mat-form-field>
        </div>
        <div *ngIf="variantForm.get('stock').invalid && (variantForm.get('stock').dirty ||
                    variantForm.get('stock').touched)" class="xb-input-error">
          <div *ngIf="variantForm.get('stock').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <div class="sc-product__create-title md-margin-top-2">
      Pricing
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" >
      <div fxFlex="46" >
        <div fxLayout="row" fxLayoutAlign="start center" >
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Sale Price" formControlName="saleUnitPrice">
          </mat-form-field>
        </div>
        <div *ngIf="variantForm.get('saleUnitPrice').invalid && (variantForm.get('saleUnitPrice').dirty ||
                    variantForm.get('saleUnitPrice').touched)" class="xb-input-error">
          <div *ngIf="variantForm.get('saleUnitPrice').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
      <div fxFlex="46" >
        <div fxLayout="row" fxLayoutAlign="start center" >
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Unit Price" formControlName="unitPrice">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="md-margin-top-2" fxLayout="row" fxLayoutAlign="space-between start" >
      <div fxFlex="46" >
        <div fxLayout="row" fxLayoutAlign="start center" >
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Cost Price" formControlName="costPrice">
          </mat-form-field>
        </div>
        <div *ngIf="variantForm.get('saleUnitPrice').invalid && (variantForm.get('saleUnitPrice').dirty ||
                    variantForm.get('saleUnitPrice').touched)" class="xb-input-error">
          <div *ngIf="variantForm.get('saleUnitPrice').hasError('required')">
            This field is required.
          </div>
        </div>
      </div>
      <div fxFlex="46" >
        <div fxLayout="row" fxLayoutAlign="start center" >
          <mat-form-field fxFlex>
            <input type="text" matInput placeholder="Sourcing Price" formControlName="sourcingPrice">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="sc-product-variant-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="button" (click)="add()">SAVE</button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" type="button" (click)="close()">NO</button>
      </div>
    </div>
  </form>
</div>
