<div [ngClass]="!addHeight? 'overflow-body-height': 'overflow-body'">
  <div class="container">
    <div class="change-address" >
      <form [formGroup]="attributeForm" novalidate>
    <div class=" change-address-line1" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <div fxFlex="48" fxLayout="column" fxLayoutAlign="start start" >
        <div class="ca-title">Name</div>
        <mat-form-field fxFlex color="accent" class="w-100" >
          <input matInput formControlName="firstName"  maxlength="15" >
        </mat-form-field>
      </div>
      <div fxFlex="48" fxLayout="column" fxLayoutAlign="start start">
        <div class="ca-title">Phone</div>
        <div fxLayout="row" fxLayoutAlign="start center" class="w-100" style="overflow: hidden">
          <div style="font-size: 14px;color: #262626;margin: -6px 8px 0 0;">+91</div>
          <mat-form-field fxFlex color="accent">
            <input matInput placeholder=""  maxlength="10" type="tel" formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </div>

    </div>


    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
      <div class="ca-title">Double Confirm Your Phone</div>
      <div fxLayout="row" fxLayoutAlign="start center" class="w-100" style="overflow: hidden">
        <div style="font-size: 14px;color: #262626;margin: -6px 8px 0 0;">+91</div>
        <mat-form-field fxFlex color="accent" class="w-100" >
          <input matInput placeholder="" maxlength="10" type="tel" formControlName="phoneNumberConfirm">
        </mat-form-field>
      </div>
    </div>

    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
      <div class="ca-title">Pincode</div>
      <mat-form-field fxFlex color="accent" class="w-100" >
        <input matInput placeholder="" maxlength="6" type="tel" formControlName="postcode">
      </mat-form-field>
    </div>


    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
      <div class="ca-title">House No./Floor/Building</div>
      <mat-form-field fxFlex color="accent" class="w-100" >
        <input matInput placeholder="" formControlName="line1">
      </mat-form-field>
    </div>

    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
      <div class="ca-title">Street/Locality</div>
      <mat-form-field fxFlex color="accent" class="w-100">
        <input matInput placeholder=""   formControlName="line2">
      </mat-form-field>
    </div>

    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
      <div class="ca-title">Landmark:Near/Behind(Optional)</div>
      <mat-form-field fxFlex color="accent" class="w-100">
        <input matInput placeholder="" formControlName="line3">
      </mat-form-field>
    </div>

    <div class="mg-t-16" fxLayout="column" fxLayoutAlign="start start" >
    <div class="ca-title">City</div>
    <mat-form-field fxFlex color="accent" class="w-100">
      <input matInput placeholder="" formControlName="city">
    </mat-form-field>
  </div>

  <div class="mg-t-16" >
    <div class="ca-title">State</div>
    <div class="ca-ov-input-2" fxLayout="row" fxLayoutAlign="space-between center" (click)="chooseState()" >
      <div class="ca-last">{{stateName}}</div>
      <i class="ca-last-icon iconfont-socialcommer"> &#xe626; </i>
    </div>
  </div>
  </form>
    </div>
  </div>
</div>
<div class="ca-bottom" (click)="save()">
  <button class="ca-bottom-btn">Save</button>
</div>

