<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center">
  <div class="sc-promote__promote-title-2" fxFlex="25">
    Campaign
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="65"
       fxLayout="column" fxLayoutAlign="center start">
    Image
  </div>
  <div class="sc-promote__promote-width-4 sc-promote__promote-title-2 md-align-center" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
