<div  [ngClass]="!addHeight? 'overflow-body-height': 'overflow-body'">

  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <img class="payment-result-img" src="https://image.getpricedrop.com/priceDrop/h5/pay-success.png" alt="success">
    <div fxLayout="row" fxLayoutAlign="start center">
      <i class="iconfont-socialcommer payment-result-success">&#xe6e7;</i>
      <div class="payment-result-word">Transaction Successful</div>
    </div>
    <div class="payment-result-word1">You have Paid Rs.1000</div>
    <div class="payment-result-btn">View Order</div>
  </div>


</div>

