<div class="sc-promote__promote-item" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="status == 0">
  <div class="md-margin-right-2" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="promote.mainImage">
    </div>
    <div class="sc-promote__promote-text">{{promote.title}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.totalFlashVariantStocks}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">Cost Price: {{promote.costPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">MRP: {{promote.saleUnitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Sale Price: {{promote.unitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Flash Sale Price: {{price|currency:currency}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="sc-promote__promote-width sc-promote__create-align-center">
      <input matInput type="text" placeholder="" [ngModel]="promote.discount"
        (ngModelChange)="changeDiscount($event)">
    </mat-form-field>
  </div>
  <div class="md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{discount}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    <i class="material-icons md-dark-secondary xb-pointer" (click)="delete()">delete</i>
  </div>
</div>
<div class="sc-promote__promote-item" fxLayout="row"
     fxLayoutAlign="start stretch" *ngIf="status == 1 && !isEdit">
  <div class="md-margin-right-2" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="promote.mainImage">
    </div>
    <div class="sc-promote__promote-text">{{promote.title}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.totalFlashVariantStocks}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">Cost Price: {{promote.costPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">MRP: {{promote.saleUnitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Sale Price: {{promote.unitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Flash Sale Price: {{price|currency:currency}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.discount}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{discount}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10">
    <div fxLayout="row" fxLayoutAlign="start center">
      <i class="material-icons md-dark-secondary xb-pointer" (click)="edit()">edit</i>
      <i class="material-icons md-dark-secondary xb-pointer md-margin-left-2" (click)="delete()">delete</i>
    </div>
  </div>
</div>
<div class="sc-promote__promote-item" fxLayout="row"
     fxLayoutAlign="start stretch" *ngIf="status == 1 && isEdit">
  <div class="md-margin-right-2" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="promote.mainImage">
    </div>
    <div class="sc-promote__promote-text">{{promote.title}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center" (click)="variantPromotions()">
    <div class="sc-promote__promote-text sc-promote__promote-button">{{promote.totalFlashVariantStocks}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">Cost Price: {{promote.costPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">MRP: {{promote.saleUnitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Sale Price: {{promote.unitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Flash Sale Price: {{price|currency:currency}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="sc-promote__promote-width sc-promote__create-align-center">
      <input matInput type="number" placeholder="" [(ngModel)]="promote.discount" step="1">
    </mat-form-field>
  </div>
  <div class="md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{discount}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="10">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
<div class="sc-promote__promote-item" fxLayout="row"
     fxLayoutAlign="start stretch" *ngIf="status == 2">
  <div class="md-margin-right-2" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="promote.mainImage">
    </div>
    <div class="sc-promote__promote-text">{{promote.title}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.totalFlashVariantStocks}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">Cost Price: {{promote.costPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">MRP: {{promote.saleUnitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Sale Price: {{promote.unitPrice|currency:currency}}</div>
    <div class="sc-promote__promote-text">Flash Sale Price: {{price|currency:currency}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.discount}}</div>
  </div>
  <div class="md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{discount}}</div>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
    <div class="sc-promote__promote-text">{{promote.totalOrder}}</div>
  </div>
</div>
