*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.icon-ic-close{
  display: inline-block;
  margin: 4px 10px 0 0 ;
  font-size: 24px;
}
.xb-guide-dialog__close{
  text-align: right;
  background-color: white;
  color: black;
  border-radius:4px 4px 0 0 ;
}
.xb-guide-dialog{
  background-color: white;
}
.popup-top{
  padding: 16px 16px 0 16px;
  margin-bottom: 16px;
}
.popup-bottom{
  padding: 0 16px;
}
.popup-image{
  width: 100px;
  height: 100px;
  margin-right: 16px;
}
.popup-price {
  font-size: 14px;
  font-weight: 500;
  text-decoration: line-through;
}
.popup-lowprice-word {
  font-size: 12px;
  margin-top: 8px;
}
.popup-lowprice{
  font-size: 16px;
  font-weight: 500;
  color: #EF8A31;
}
.popup-yet{
  font-size: 12px;
  opacity: 0.54;
  margin-top: 8px;
  margin-right: 6px;
}
.popup-color-chd{
  font-size: 12px;
  margin: 8px 8px  0  ;
  padding: 2px 10px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 4px;
}
.popup-color-chdname{
  font-size: 12px;
  transform: scale(.8);
}

.popup-color-chd-active{
  font-size: 12px;
  margin: 8px 8px  0 ;
  padding: 2px 10px;
  background-color: #EF8A31;
  color: white;
  border-radius: 4px;
}
.popup-color-chd-disable{
  font-size: 12px;
  margin: 8px 8px  0  ;
  padding: 2px 10px;
  background-color: #dcdcdc;
  color: white;
  border-radius: 4px;
}
.bottom-btn{
  margin: 8px 16px;
  padding: 12px 0;
  text-align: center;
  background-color: #EF8A31;
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  border-radius: 30px;
}
.bottom-btn-gray{
  margin: 8px 16px;
  padding: 12px 0;
  text-align: center;
  background-color: rgba(0,0,0,0.48);
  color: white;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  border-radius: 30px;
}
