<div class="xb-guide-dialog">
  <!--<div class="xb-guide-dialog__close">-->
    <!--<i class="icon-ic-close iconfont-socialcommer " (click)="close()" ></i>-->
  <!--</div>-->

  <div class="popup-top" fxLayout="row" fxLayoutAlign="space-between ">
    <div fxLayout="row" fxLayoutAlign="start center">
      <img [src]="selimgsrc"  class="popup-image">

      <div class="popup-py">
        <div class="popup-price" >₹{{selsaleUnitPrice|number}}</div>
        <div class="popup-lowprice-word" >Exclusive Price: </div>

        <div class="popup-lowprice" *ngIf="flashSale.flashStatus=='Ongoing'">₹{{(selunitPrice*(flashSale.discount/100) || goods.unitPrice*(flashSale.discount/100))|number:'0.0-0'}}</div>
        <div class="popup-lowprice" *ngIf="flashSale.flashStatus=='Scheduled'||purchaseMethod==='direct'">₹{{(selunitPrice||goods.unitPrice)|number:'0.0-0'}}</div>

        <div class="popup-yet-bg" *ngIf="hasVariants" fxLayout="row" fxLayoutAlign="start center">
          <div class="popup-yet">Chose:</div>
          <div class="popup-yet" *ngIf="selcolor != ''">{{selcolor}}</div>
          <div class="popup-yet" *ngIf="selsize != ''">{{selsize}}</div>
        </div>
      </div>
    </div>

    <div class="popup-close iconfont-socialcommer" (click)="close()">&#xe632;</div>
  </div>

  <div class="popup-bottom">
    <div *ngFor=" let val of goodsType; let index = index" >
      <div class="popup-color" *ngIf="val.name=='Color'">{{goods.aliasColor || val.name}}</div>
      <div class="popup-size-item" *ngIf="val.name=='Size'">
        <div class="popup-color">{{goods.aliasSize || val.name}}</div>
        <div class="popup-size-chart" (click)="openGoodsSize"  *ngIf="goods.productSize!== '' && goods.productSize != undefined">Size Chart ></div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div  class="popup-color-chd"
              [ngClass]="[val1.isActive? 'popup-color-chd-active': '',val1.seldisable ?'popup-color-chd-disable':'']"
              *ngFor="let val1 of val.value" >
          <div class="popup-color-chdname"
                (click)="clickColor(val1, val.value)">{{val1.value}}</div>
        </div>
      </div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
  </div>


  <div fxLayout="row" fxLayoutAlign="center center ">
    <div class="bottom-btn" *ngIf="canBuy" (click)="confirm()">Confirm</div>

    <div class="bottom-btn-gray" *ngIf="!canBuy">Out of Stock</div>
  </div>
</div>
