<div class="sc-promote__promote-item" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 0">
  <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
    <img [src]="promote.avatar">
  </div>
  <div class="md-margin-right-2 sc-promote__promote-width-5" fxFlex="none">
    <div class="sc-promote__promote-text">{{promote.firstName}}</div>
    <div class="sc-promote__promote-text md-margin-top-1">{{promote.email}}</div>
  </div>
  <div class="md-margin-right-2 md-align-center" fxFlex="15">
    <div class="sc-promote__promote-text">{{promote.quantityOrders}}</div>
  </div>
  <div class="md-margin-right-2 md-align-center" fxFlex="15">
    <div class="sc-promote__promote-text">{{promote.amountOrders|currency:currency}}</div>
  </div>
  <div class="md-margin-right-2 md-align-center" fxFlex="15">
    <div class="sc-promote__promote-text">{{promote.quantityDraw}}</div>
  </div>
  <div class="md-margin-right-2 md-align-center" fxFlex="15">
    <div class="sc-promote__promote-text">{{promote.quantityFirst}}</div>
  </div>
  <div class="md-margin-right-2 md-align-center" fxFlex="15">
    <div class="sc-promote__promote-text" *ngIf="promote.lastPrize != ''">
      {{promote.lastPrize | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY'}}
    </div>
    <div class="sc-promote__promote-text" *ngIf="promote.lastPrize == ''">
      --
    </div>
  </div>
  <div class="sc-promote__promote-width-4 sc__accent-dark"
       fxLayout="column" fxLayoutAlign="center stretch" fxFlex="none">
    <div class="sc-promote__promote-text md-align-center">{{promote.logFirstPrize}}</div>
  </div>
</div>
<div *ngIf="status == 1">
  <div class="sc-promote__promote-item" fxLayout="row" fxLayoutAlign="start center" >
    <div class="md-margin-right-2 sc-promote__promote-image" fxFlex="none" fxLayout="column" fxLayoutAlign="center stretch">
      <img [src]="promote.avatar">
    </div>
    <div class="md-margin-right-2 sc-promote__promote-width-5" fxFlex="none">
      <div class="sc-promote__promote-text">{{promote.firstName}}</div>
      <div class="sc-promote__promote-text md-margin-top-1">{{promote.email}}</div>
    </div>
    <div class="md-margin-right-2 md-align-center" fxFlex="15">
      <div class="sc-promote__promote-text">{{promote.quantityOrders}}</div>
    </div>
    <div class="md-margin-right-2 md-align-center" fxFlex="15">
      <div class="sc-promote__promote-text">{{promote.amountOrders|currency:currency}}</div>
    </div>
    <div class="md-margin-right-2 md-align-center" fxFlex="15">
      <div class="sc-promote__promote-text">{{promote.quantityDraw}}</div>
    </div>
    <div class="md-margin-right-2 md-align-center" fxFlex="15">
      <div class="sc-promote__promote-text">{{promote.quantityFirst}}</div>
    </div>
    <div class="md-margin-right-2 md-align-center" fxFlex="15">
      <div class="sc-promote__promote-text" *ngIf="promote.lastPrize != ''">
        {{promote.lastPrize | amTz:'Asia/Kolkata' | amDateFormat:'MMMM Do, YYYY'}}
      </div>
      <div class="sc-promote__promote-text" *ngIf="promote.lastPrize == ''">
        --
      </div>
    </div>
    <div class="sc-promote__promote-width-4 sc__accent-dark"
         fxLayout="column" fxLayoutAlign="center stretch" fxFlex="none">
      <div class="sc-promote__promote-text md-align-center">{{promote.logFirstPrize}}</div>
    </div>
  </div>
  <div class="sc-order__detail-border-bottom" *ngIf="promote.order">
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Order Status
      </div>
      <div fxFlex="">
        {{promote.order.orderStatus}}
      </div>
      <div class="sc__accent-dark" *ngIf="(promote.order.orderStatus == 'Paid' || promote.order.orderStatus == 'Packing') && promote.order.sourcingStatus == 'Not Started'">
        <button mat-raised-button color="accent" (click)="editSourcing()">Mark as Sourcing</button>
      </div>
      <div class="sc__accent-dark" *ngIf="(promote.order.orderStatus == 'Paid' || promote.order.orderStatus == 'Packing') && promote.order.sourcingStatus == 'Started'">
        <button mat-raised-button color="primary" (click)="editSourcing()"> View Sourcing Details</button>
      </div>
      <div class="sc__accent-dark md-margin-left-1" *ngIf="promote.order.orderStatus != 'Unpaid' && promote.order.orderStatus != 'Canceled'">
        <button mat-raised-button color="accent" (click)="addNote()" *ngIf="promote.order.orderNotes == '' ">Add Note</button>
        <button mat-raised-button color="primary" (click)="addNote()" *ngIf="promote.order.orderNotes != ''">Edit Note</button>
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Phone Number
      </div>
      <div>
        {{promote.order.phoneNumber}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Line1
      </div>
      <div>
        {{promote.order.line1}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Line2
      </div>
      <div>
        {{promote.order.line2}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Landmark
      </div>
      <div>
        {{promote.order.line3}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        City
      </div>
      <div>
        {{promote.order.city}}
      </div>
    </div>
    <div class="md-margin-top-1" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        State
      </div>
      <div>
        {{promote.order.state}}
      </div>
    </div>
    <div class="md-margin-top-1 md-padding-bottom-2" fxLayout="row" fxLayoutAlign="start start">
      <div class="md-dark-secondary sc-order__product-item-left" fxFlex="none">
        Pin Code
      </div>
      <div>
        {{promote.order.postcode}}
      </div>
    </div>
  </div>
</div>
