<div class="container">
  <div class="md-margin-top-4 sc-promote__create-text">
    <span class="md-dark-secondary xb-pointer" routerLink="../">Events</span>
    <span class="md-dark-secondary">></span> <span class="xb-bold">Create an Event</span>
  </div>
  <div class="unicorn-dark-theme md-margin-top-2 md-margin-left-2" *ngIf="!isEdit">
    <mat-form-field>
      <mat-select [(ngModel)]="templateId" placeholder="Filter by template" name="Template Type">
        <mat-option class="md-align-center" *ngFor="let item of templateTypeList" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-topic-topic-create-1 *ngIf="templateId == 1" [(isEdit)]="isEdit" [templateId]="templateId"></app-topic-topic-create-1>
  <app-topic-topic-create-2 *ngIf="templateId == 2" [(isEdit)]="isEdit" [templateId]="templateId"></app-topic-topic-create-2>
</div>
