<div>
  <div class="sc-product__product-item" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="md-margin-right-2" fxFlex="40" fxLayout="row" fxLayoutAlign="start stretch">
      <div class="sc-product__product-image" fxFlex="none">
        <img class="xb-pointer" [src]="product.mainImage" (click)="openLargeImage(product)">
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
        <div class="sc-product__product-title" >{{product.title}}</div>
        <div>规格: {{product.attribute}}</div>
      </div>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 0"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.warehouseName}}
    </div>
    <div class="sc-product__product-id md-margin-right-2 sc__accent-dark" fxFlex="20"
         fxLayout="column" fxLayoutAlign="center center">
      <div class="xb-bold md-margin-bottom-1">{{product.sku}}</div>
      <button mat-raised-button color="primary"
           ngxClipboard [cbContent]="product.sku" (cbOnSuccess)="copy($event)">点击复制SKU</button>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 1"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.quantity}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 0 && !isEdit"
         fxLayout="column" fxLayoutAlign="center center">
      {{product.quantity}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" *ngIf="status == 0 && isEdit"
         fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="sc-product__create-width">
        <input type="number" matInput [(ngModel)]="product.quantity" />
      </mat-form-field>
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
      {{product.freezeQuantity}}
    </div>
    <div class="sc-product__product-id md-margin-right-2" fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
      {{product.quantity - product.freezeQuantity}}
    </div>
    <div class="sc-product__product-id sc__accent-dark" fxFlex="10" *ngIf="status == 0"
         fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" *ngIf="!isEdit"
              (click)="edit()">编辑</button>
      <button mat-raised-button color="primary" *ngIf="isEdit"
              (click)="edit()">保存</button>
    </div>
    <div class="sc-product__product-id sc__accent-dark" fxFlex="10" *ngIf="status == 1"
         fxLayout="column" fxLayoutAlign="center center">
    </div>
  </div>
</div>
<div class="sc-product__product-item-1" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 1">
  <div class="md-margin-right-3" *ngFor="let item of product.warehouseInventory" fxLayout="row" fxLayoutAlign="start center">
    <div>{{item.warehouseName}}</div>
    <div class="md-margin-left-1">总库存: <span class="sc-product__product-red">{{item.quantity}}</span> 件</div>
    <div class="md-margin-left-1">锁定库存: <span class="sc-product__product-red">{{item.freezeQuantity}}</span> 件</div>
    <div class="md-margin-left-1">剩余库存: <span class="sc-product__product-red">{{item.quantity - item.freezeQuantity}}</span> 件</div>
  </div>
</div>
