<div class="xb-address-item__header" fxLayout="row" fxLayoutAlign="start center">
  <div class="xb-address-item__title" fxFlex="15">Contact Person</div>
  <div class="xb-address-item__title" fxFlex="10">Phone Number</div>
  <div class="xb-address-item__title md-align-center" fxFlex="20">Province</div>
  <div class="xb-address-item__title md-align-center" fxFlex="20">City</div>
  <div class="xb-address-item__title xb-address-item__width md-align-center" fxFlex="none">Address</div>
  <div class="xb-address-item__title md-align-center" fxFlex="15">Postal Code</div>

  <div class="xb-address-item__title md-align-center" fxFlex="15">Default</div>
  <div class="xb-address-item__title md-align-center" fxFlex="10">Action</div>
</div>
