<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center" *ngIf="status <= 1">
  <div class="sc-promote__promote-title-2 md-margin-right-2" fxFlex="30">
    Product
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Flash Sale Inventory
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Price
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Extra Discount
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Discount
  </div>
  <div class="sc-promote__promote-title-2 md-align-center" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    Action
  </div>
</div>
<div class="sc-promote__promote-navigation" fxLayout="row" fxLayoutAlign="start center" *ngIf="status == 2">
  <div class="sc-promote__promote-title-2 md-margin-right-2" fxFlex="30">
    Product
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Total Inventory
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Flash Sale Inventory
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">
    Price
  </div>
  <div class="sc-promote__promote-title-2 md-align-center md-margin-right-2" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">
    <div>Extra Discount</div>
  </div>
  <div class="sc-promote__promote-title-2 md-align-center" fxFlex="20"
       fxLayout="column" fxLayoutAlign="center center">
    Total Number Sold
  </div>
</div>
