<div class="sc-order__detail-container-4" fxLayout="row" fxLayoutAlign="start center" *ngIf="status!=2">
  <div class="sc-order__detail-width sc-order__product-title-1 sc-order__detail-margin-right" fxFlex="none">
    Product
  </div>
  <div class="sc-order__product-title-1 sc-order__detail-margin-right md-align-center" fxFlex="8"
       fxLayout="column" fxLayoutAlign="center center">Quantity</div>
  <div class="sc-order__product-title-1 sc-order__detail-margin-right md-align-center" fxFlex="25"
       fxLayout="column" fxLayoutAlign="center center">Order Price</div>
  <div class="sc-order__product-title-1 sc-order__detail-margin-right md-align-center" fxFlex="10"
       fxLayout="column" fxLayoutAlign="center center">Order Status</div>
  <div class="sc-order__product-title-1 sc-order__detail-width-3" fxFlex="none"
       fxLayout="column" fxLayoutAlign="center center">Action</div>
</div>
<div class="sc-order__detail-container-4" fxLayout="row" fxLayoutAlign="start center" *ngIf="status==2">
  <div class="sc-order__detail-width-1 xb-bold sc-order__detail-margin-right" fxFlex="none">
    Product
  </div>
  <div class="xb-bold sc-order__detail-margin-right md-align-center" fxFlex="15"
       fxLayout="column" fxLayoutAlign="center center">Quantity</div>
  <div class="xb-bold md-align-center" fxFlex="50"
       fxLayout="column" fxLayoutAlign="center center">Shipping Method</div>
</div>
