<div class="sc-product__product-navigation-fixed">
  <div class="container">
    <div class="sc-product__product-navigation-inner" fxLayout="row" fxLayoutAlign="start center">
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="40">
        商品信息
      </div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10" *ngIf="status == 1"
           fxLayout="column" fxLayoutAlign="center center">仓库</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="20"
           fxLayout="column" fxLayoutAlign="center center">SKU编号</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">总库存</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">锁定库存</div>
      <div class="sc-product__product-title-2 md-margin-right-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">剩余库存</div>
      <div class="sc-product__product-title-2" fxFlex="10"
           fxLayout="column" fxLayoutAlign="center center">操作</div>
    </div>
  </div>
</div>

