<div class="sc-order-dialog">
  <div class="sc-order-dialog__close" (click)="close()" >
    <i class="iconfontXberts icon-ic-close"></i>
  </div>
  <form *ngIf="!data.isRefund" [formGroup]="moneyForm" novalidate>
    <div class="sc-order-dialog__title">
      Refund Payments
    </div>
    <div *ngIf="formErr" class="xb-input-error md-margin-top-2">
      {{ formErr }}
    </div>
    <div class="sc-order__detail-margin-top-1" fxLayout="column" >
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="md-dark-secondary sc-order__detail-bill-left-1" fxFlex="none">
          Total Available to Refunded
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>₹</div>
          <div class="md-margin-left-2">
            <mat-form-field>
              <input type="text" matInput placeholder="Refund Money" formControlName="amount" (ngModelChange)="changeNumber($event)">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-checkbox formControlName="point">Remove Points</mat-checkbox>
    <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="close()">CANCEL</button>
      <div class="md-margin-left-2">
        <button mat-button color="primary" (click)="refund()">REFUND</button>
      </div>
    </div>
  </form>
  <div *ngIf="data.isRefund">
    <div class="sc-order-dialog__title" fxLayout="row" fxLayoutAlign="start start">
      <i class="iconfontXberts icon-pic-finish sc-order-dialog__icons"></i> <div class="md-margin-left-2">The payment has been refunded to your customer!</div>
    </div>
    <div class="sc-order-dialog__margin-top" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="close()">OK</button>
    </div>
  </div>
</div>
