*{
  font-family: ProximaNova,Arial,Sans-serif;
}
.icon-ic-close{
  display: inline-block;
  //margin: 4px 10px 0 0 ;
  font-size: 24px;
}
.xb-guide-dialog__close{
  text-align: right;
  background-color: white;
  color: black;
  border-radius:4px 4px 0 0 ;
}
.xb-guide-dialog{
  background-color: white;
  padding: 12px 16px 16px 16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.s-item{
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}
.s-item-row{
  margin: 4px 0;
}
.s-item-t{
  font-size: 12px;
  color: #000000;
  margin-right: 16px;
}
.s-item-t1{
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  margin-right: 10px;
}
.s-item-t2{
  font-size: 12px;
  color: #000000;
  text-decoration: line-through;
}
